<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ "/css/global.css" | url }}">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&amp;display=swap" rel="stylesheet" />
<link
  rel="shortcut icon"
  href="/assets/images/cap-light.ico"
  type="image/x-icon"
  media="(prefers-color-scheme: light)"
/>
<link rel="shortcut icon" href="/assets/images/cap-dark.ico" type="image/x-icon" media="(prefers-color-scheme: dark)" />

<meta name="description" content="{{ description }}" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ title }}" />
<meta property="og:description" content="{{ description }}" />
<meta property="og:image" content="{{ image or '/assets/images/textures/social-share.jpg' }}" />
<meta property="og:url" content="permalink" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@KuluGary" />
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:description" content="{{ description }}" />
<meta name="twitter:image" content="{{ image or '/assets/images/textures/social-share.jpg' }}" />
<title>{{ title }}</title>
