<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="{{ "/css/global.css" | url }}">
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&amp;display=swap" rel="stylesheet" />
<link
  rel="shortcut icon"
  href="/assets/images/cap-light.ico"
  type="image/x-icon"
  media="(prefers-color-scheme: light)"
/>
<link rel="shortcut icon" href="/assets/images/cap-dark.ico" type="image/x-icon" media="(prefers-color-scheme: dark)" />
<title>{{ title }}</title>
