<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" href="{{ "/css/global.css" | url }}">
<link
  rel="shortcut icon"
  href="/assets/images/cap-light.ico"
  type="image/x-icon"
  media="(prefers-color-scheme: light)"
/>
<link rel="shortcut icon" href="/assets/images/cap-dark.ico" type="image/x-icon" media="(prefers-color-scheme: dark)"/>

<script>
  const cachedTheme = localStorage.getItem("theme");
  const cachedFontStack = localStorage.getItem("font-stack");

  if (cachedTheme !== null) 
    document
      .documentElement
      .setAttribute("data-theme", cachedTheme)

  if (cachedFontStack !== null) 
    document
      .documentElement
      .setAttribute("data-font-stack", cachedFontStack)
</script>
</head>

<meta name="description" content="{{ description }}"/>
<meta property="og:type" content="website"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:image" content="{{ image | generateSocialMediaImage }}"/>
<meta property="og:url" content="{{ page.url  | generateSocialMediaImage }}"/>

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@KuluGary"/>
<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ description }}"/>
<meta name="twitter:image" content="{{ image | generateSocialMediaImage }}"/>

<title>{{ title }}</title>