<div class="window">
  <h2>Apps</h2>

  <ul class="window-body list-unstyled dash-separated">
    <li>
      <b>web-dev</b>

      <ul class="arrow-list list-nopadding">
        <li>
          <a href="https://code.visualstudio.com/" target="_blank">visual studio code</a>
        </li>
      </ul>
    </li>

    <li>
      <b>game-dev</b>

      <ul class="arrow-list list-nopadding">
        <li>
          <a href="https://godotengine.org/" target="_blank">godot</a>
        </li>
        <li>
          <a href="https://krita.org" target="_blank">krita</a>
        </li>
        <li>
          <a href="https://www.aseprite.org/" target="_blank">libresprite</a> /
          <a href="https://libresprite.github.io/" target="_blank">asesprite</a>
        </li>
        <li>
          <a href="https://www.blender.org/" target="_blank">blender</a>
        </li>
      </ul>
    </li>
    <li>
      <b>writing</b>

      <ul class="arrow-list list-nopadding">
        <li>
          <a href="https://obsidian.md/" target="_blank">obsidian</a>
        </li>
      </ul>
    </li>
  </ul>
</div>
