<div class="window">
  <h2>Blog</h2>

  <div class="window-body">
    <ul class="list-unstyled dash-separated">
      {% for year, yearArticles in collections.articlesByYear %}
        <li>
          <details {% if loop.index === 1 %} open {% endif %}>
            <summary>{{year}}</summary>

            <ul class="list-unstyled">
              {% for article in yearArticles %}
                <li>
                  <a href="{{article.url}}">
                    {{ article.data.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </details>
        </li>
      {% endfor %}
    </ul>

    <p class="subtitle">Wanna see all articles? <a href="/my-articles">Go here</a>.</p>
  </div>
</div>