<div class="window">
  <h2>Tags</h2>
  <div class="window-body">
    <details>
      <summary>
        <span>Show all</span>
      </summary>
      <ul class="list-unstyled dash-separated">
        {%- for tag in collections.article | uniqueTags -%}
          {% if tag != 'article' %}
            <li>
              <a href="/tags/{{ tag }}">
                {{ tag | unslugify }}
              </a>
            </li>
          {% endif %}
        {%- endfor %}
      </ul>
    </details>
  </div>
</div>