<div class="window">
  <h2>Cool sites</h2>

  <ul class="window-body horizontal-list">
    <li><a href="https://www.boristhebrave.com/">boris the brave</a></li>
    <li><a href="https://xandra.cc/">the museum of alexandra</a></li>
    <li><a href="https://kenney.nl/">kenney game assets</a></li>
    <li><a href="https://vimm.net/" target="_blank">vimm.net</a></li>
    <li><a href="https://flamedfury.com/">flamed fury</a></li>
    <li><a href="https://www.ssavaart.com/">ssavaart</a></li>
    <li><a href="https://32bit.cafe/">32 bit cafe</a></li>
    <li><a href="https://watabou.github.io/">watabou</a></li>
    <li><a href="https://azgaar.github.io/Fantasy-Map-Generator/">azgaar maps</a></li>
    <li><a href="https://www.steamgriddb.com/">steamgriddb</a></li>
  </ul>
</div>
