{% block head %}
  <link rel="stylesheet" href="/css/components/footer.css">
{% endblock %}

<footer>
  <ul class="horizontal button-list">
    <li>
      <img src="/assets/images/buttons/stardew.gif" alt=""/>
    </li>
    <li>
      <img src="/assets/images/buttons/still-you.png" alt=""/>
    </li>
    <li>
      <img src="/assets/images/buttons/bro.gif" alt=""/>
    </li>
    <li>
      <img src="/assets/images/buttons/isengard.gif" alt=""/>
    </li>
  </ul>

  <div class="footer-credits">
    <div id="made-with">
      <p>© {{build.timestamp | formatDate('yyyy')}} made with </p>
      <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">
        <img id="eleventy-badge" src="https://img.shields.io/badge/Eleventy-black?logo=eleventy" alt="11ty">
      </a>
      <a href="https://mozilla.github.io/nunjucks/" target="_blank" rel="noopener noreferrer">
        <img id="nunjucks-badge" src="https://img.shields.io/badge/Nunjucks-darkgreen?logo=nunjucks" alt="Nunjucks">
      </a>
    </div>

    <div class="footer-under-construction">
      <img src="/assets/images/buttons/underconstruction.gif" alt=""/>
      <p>This website is under construction. Last updated {{build.timestamp | formatDate("LLL dd, yyyy HH:mm")}} by {{build.commit_hash}}</p>
    </div>
  </div>
</footer>