{% block head %}
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}

<footer class="site-footer">
  <ul class="horizontal button-list">
    <li>
      <img src="/assets/images/buttons/stardew.gif" alt=""/>
    </li>
    <li>
      <img src="/assets/images/buttons/still-you.png" alt=""/>
    </li>
    <li>
      <img src="/assets/images/buttons/bro.gif" alt=""/>
    </li>
    <li>
      <img src="/assets/images/buttons/isengard.gif" alt=""/>
    </li>
  </ul>

  <div class="footer-credits">
    <p class="made-with">
      Made with
      <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">
        <img
          id="eleventy-badge"
          src="https://img.shields.io/badge/Eleventy-black?logo=eleventy"
          alt="11ty"
/></a>
      and
      <a
        href="https://mozilla.github.io/nunjucks/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          id="nunjucks-badge"
          src="https://img.shields.io/badge/Nunjucks-darkgreen?logo=nunjucks"
          alt="Nunjucks"
/></a>
      and hosted at
      <a href="https://neocities.org">
        <img src="/assets/images/icons/neocities.png" alt=""/> Neocities </a
      >.
    </p>

    <p class="under-construction">
      <img src="/assets/images/icons/underconstruction.gif" alt=""> This site is under construction. It was last updated {{build.timestamp | formatDate('MMM dd, yyyy')}} on commit {{metadata.commit.ref}}.</p>

  </div>
</footer>