{% block head %}
  <link rel="stylesheet" href="/css/components/footer.css">
{% endblock %}

<footer class="site-footer">
  <div class="footer-credits">

    <p class="webring">
      <a href="https://xn--sr8hvo.ws/previous">←</a>
An <a href="https://xn--sr8hvo.ws">IndieWeb Webring</a> 🕸💍
<a href="https://xn--sr8hvo.ws/next">→</a>
    </p>

    <p class="made-with">
      Made with
      <a href="https://www.11ty.dev/" target="_blank" rel="noopener noreferrer">
        <img
          id="eleventy-badge"
          src="https://img.shields.io/badge/Eleventy-black?logo=eleventy"
          alt="11ty"
          width="75"
          height="20"/>
      </a>
      and
      <a
        href="https://mozilla.github.io/nunjucks/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          id="nunjucks-badge"
          src="https://img.shields.io/badge/Nunjucks-darkgreen?logo=nunjucks"
          alt="Nunjucks"
          width="79"
          height="20"/>
      </a>
      and hosted at
      <a href="https://neocities.org">
        <img src="/assets/images/icons/neocities.png" alt="" width="20" height="20"/> Neocities</a
      >.
    </p>

    <p class="under-construction">
      <img src="/assets/images/icons/underconstruction.gif" alt="" width="19" height="19"/> This site
      is under construction. It was last updated {{ build.timestamp |
      formatDate('MMM dd, yyyy')}} on commit
      <a target="_blank" href="{{metadata.commit.url}}"
        >{{metadata.commit.ref}}</a
      >. Check the <a href="/sitemap">sitemap</a> or <a href="/contact">contact me</a>.
    </p>
  </div>

  <ul class="horizontal button-list">
    <li>
      <a href="/media/games/status/favourites">
        <img src="/assets/images/buttons/stardew.gif" alt="A scene from the game Stardew Valley" width="96" height="56"/>
      </a>
    </li>
    <li>
      <a href="/media/games/status/favourites">
        <img src="/assets/images/buttons/still-you.png" alt="A dialog box from the game Undertale" width="96" height="56"/>
      </a>
    </li>
    <li>
      <a href="/media/webcomics/status/favourites">
        <img src="/assets/images/buttons/bro.gif" alt="A panel from the webcomic Homestuck" width="96" height="56"/>
      </a>
    </li>
    <li>
      <a href="/media/movies/status/favourites">
        <img src="/assets/images/buttons/isengard.gif" alt="A scene from the movie Lord of the Rings" width="96" height="56"/>
      </a>
    </li>
  </ul>
</footer>