<header class="header">
  <table class="header">
    <tr>
      <td rowspan="2" class="width-auto">
        <a href="/">
          <h1 class="title">KULUGARY</h1>
          <span class="subtitle">An old web personal site</span>
        </a>
      </td>
      <th>Updated</th>
      <td class="width-min">
        <time style="white-space: pre;">2024-08-26</time>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <label><input type="checkbox" class="theme-switcher"/> Dark mode</label>
      </td>
    </tr>
  </table>

</header>