<header class="header">
  <h2 id="page-title">
    <a href="/">
      <pre class="header-large">
 ____  __.     .__           ________
|    |/ _|__ __|  |  __ __  /  _____/_____ _______ ___.__.
|      < |  |  \  | |  |  \/   \  ___\__  \\_  __ <   |  |
|    |  \|  |  /  |_|  |  /\    \_\  \/ __ \|  | \/\___  |
|____|__ \____/|____/____/  \______  (____  /__|   / ____|
        \/                         \/     \/       \/</pre>
      <pre class="header-small">
 _____     _     _____             
|  |  |_ _| |_ _|   __|___ ___ _ _ 
|    -| | | | | |  |  | .'|  _| | |
|__|__|___|_|___|_____|__,|_| |_  |
                              |___|</pre>
                              </a>
  </h2>
  <button title="Set theme to Light" data-theme="light" class="theme-button">☀</button>
  <button title="Set theme to Dark" data-theme="dark" class="theme-button">☾</button>
</header>