<article>
	{{ post.content | safe }}

	{% set mentions = webmentions | getWebmentionsByUrl(page.url) | filterOwnWebmentions %}
	<footer>
		<p>Published <time datetime="{{post.date}}">{{ post.date | formatDate("LLL dd yyyy") }}</time>
		</p>

		{% if mentions.length > 0 %}
			<p>with {{ mentions.length }} interactions</p>
		{% endif %}

		<p>in</p>

		<ul class="unstyled">
			<li>
				<a href="/{{ post.data.category }}">#{{ post.data.category }}</a>
			</li>
			{% for tag in post.data.tags %}
				<li>
					<a href="/journal/tags/{{ tag }}">#{{ tag }}</a>
				</li>
			{% endfor %}
		</ul>

		<a  href="{{ post.url }}">
			<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
				<path d="M0 0h24v24H0z" fill="none"/>
				<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 15l6-6m-4-3l.463-.536a5 5 0 0 1 7.071 7.072L18 13m-5 5l-.397.534a5.07 5.07 0 0 1-7.127 0a4.97 4.97 0 0 1 0-7.071L6 11"/>
			</svg>
		</a>
	</footer>
</article>