<footer id="sitefooter">
	<hr class="separator-1">

	<ul class="unstyled">
		<li>
			<p class="webring">
				<a class="unstyled" href="https://xn--sr8hvo.ws/previous">←</a>
				<a class="unstyled" href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
				<a class="unstyled" href="https://xn--sr8hvo.ws/next">→</a>
			</p>
		</li>
	</ul>

	<div>
		<p>This website is hand-crafted with <a href="https://www.11ty.dev/">Eleventy</a> using only HTML and CSS (and some JavaScript). The site was last updated {{ commits[0].date | formatDate("LLLL dd, yyyy")}} on commit <a href="{{metadata.commit.url}}">{{metadata.commit.ref}}</a>.</p>
	</div>
</footer>