<footer id="sitefooter">
	<hr class="separator-1">

	<p>© {{ currentYear }} Gary C.</p>

	<ul class="unstyled">
		<li>
			<a href="/privacy-policy">Privacy</a>
			<a href="/ai-policy">AI Policy</a>
			<a href="#main-content">Top</a>
		</li>
	</ul>

	<ul class="unstyled">
		<li>
			<p class="webring">
				<a class="unstyled" href="https://xn--sr8hvo.ws/previous">←</a>
				<a class="unstyled" href="https://xn--sr8hvo.ws">IndieWeb Webring</a>
				<a class="unstyled" href="https://xn--sr8hvo.ws/next">→</a>
			</p>
		</li>
	</ul>
</footer>