<article class="media-description recent-media">
	<header>
		<h3>
			<a href="{{ item.link }}">
				{{ item.title }}
			</a>
		</h3>
		<time datetime="{{ item.date or item.createdAt or item.updatedAt or item.addedAt }}">
			{{ (item.date or item.createdAt or item.updatedAt or item.addedAt) | formatDate('MMMM dd, yyyy')}}</time>
	</header>

	<ul class="stats bar-separated">
		<li>
			<a href="/{{ item.type | slugify }}">{{ item.type | unslugify }}</a>
		</li>

		{% if item.author %}
			<li>
				{% if item.author.link %}
					<a rel="author" href="{{ item.author.link }}">
						{{ item.author.name }}
					</a>
				{% else %}
					<cite class="author">
						{{ item.author.name }}
					</cite>
				{% endif %}
			</li>
		{% endif %}

		{% if item.type === "Post" %}
			<li>
				{% set postStats = item.post | wordStats %}

				<p class="post-stats">~{{postStats}}</p>
			</li>
		{% endif %}

		{% if item.views %}
			<li>
				<span>{{ item.views | formatNumber('compact') }} views</span>
			</li>
		{% endif %}

		{% if item.platform %}
			<li>
				<span>{{ item.platform }}</span>
			</li>
		{% endif %}

		{% if item.rate and item.type === "Video" %}
			<li>
				<span>{{ item.rate | formatNumber('compact') }} likes</span>
			</li>
		{% endif %}

		{% if (item.tags or item.genres) and (item.tags or item.genres).length > 0 %}
			<li>
				<ul class="tags">
					{% for tag in (item.tags or item.genres) %}
						<li>
							<a href="/{{ item.type | slugify }}/genre/{{ tag | slugify }}">#{{ tag | unslugify }}</a>
						</li>
					{%- endfor -%}
				</ul>
			</li>
		{% endif %}

	</ul>

	{% if item.description %}
		<div class="description">
			{{ item.description | safe }}
		</div>
	{% endif %}
</article>