{% if media and media.length > 0 %}
	<section>
		{% if sectionTitle != "" %}
			<h2>
				<a href="{{ href }}">
					{{ sectionTitle }}
					{% if showMediaCount !== false %}
						({{ media.length }})
					{% endif %}
				</a>
			</h2>
		{% endif %}

		{% if sectionDescription %}
			<p>{{ sectionDescription | safe }}</p>
		{% endif %}

		{% include "components/media-list.html" %}

		{% if showFooter %}
			<footer>
				<p>
					<a href="{{ href | getRootUrl }}">See more</a>
				</p>
			</footer>
		{% endif %}
	</section>
{% endif %}