<article class="media-description recent-media">
	<header>
		{% if item.type != "Status" %}
			<h3>
				<a href="{{ item.link }}">
					{{ item.title }}
				</a>
			</h3>
		{% else %}
			<p>{{ item.title }}</p>
		{% endif %}
		<time datetime="{{ (item.date or item.createdAt or item.updatedAt or item.addedAt) | formatDate('yyyy-LL-dd') }}">
			{{ (item.date or item.createdAt or item.updatedAt or item.addedAt) | formatDate('MMMM dd, yyyy')}}</time>
	</header>

	<ul class="stats bar-separated">
		<li>
			<a href="/{{ item.type | slugify }}">{{ item.type | unslugify }}</a>
		</li>

		{% if item.author and item.type !== "Post" %}
			<li>
				{% if item.author.link %}
					<a rel="author" href="{{ item.author.link }}">
						{{ item.author.name }}
					</a>
				{% else %}
					<cite class="author">
						{{ item.author.name }}
					</cite>
				{% endif %}
			</li>
		{% endif %}

		{% if item.type === "Status" %}
			<li>
				<a href="{{ item.link }}">status.cafe</a>
			</li>
		{% endif %}

		{% if item.type === "Post" %}
			<li>
				{% set postStats = item.post.content | timeToRead %}

				<p class="post-stats">~{{postStats}} read</p>
			</li>
			<li>
				{{ item.post.data.lang | getFlagEmoji }}
			</li>
		{% endif %}

		{% if item.views %}
			<li>
				<span>{{ item.views | formatNumber('compact') }} views</span>
			</li>
		{% endif %}

		{% if item.platform %}
			<li>
				<span>{{ item.platform }}</span>
			</li>
		{% endif %}

		{% if item.playtime %}
			<li>
				<span>{{ item.playtime | transformTime }}</span>
			</li>
		{% endif %}

		{% if item.rate and item.type === "Video" %}
			<li>
				<span>{{ item.rate | formatNumber('compact') }} likes</span>
			</li>
		{% endif %}

		{% if (item.tags or item.genres) and (item.tags or item.genres).length > 0 %}
			<li>
				<ul class="tags">
					{% for tag in (item.tags or item.genres) %}
						<li>
							{% if item.type === "Post" %}
								<a href="/blog/tags/{{ tag | slugify }}">#{{ tag | unslugify }}</a>
							{% else %}
								<a href="/media/{{ item.type | slugify }}/genre/{{ tag | slugify }}">#{{ tag | unslugify }}</a>
							{% endif %}
						</li>
					{%- endfor -%}
				</ul>
			</li>
		{% endif %}

	</ul>

	{% if item.description %}
		<div class="description">
			<input id="{{ item.id or item.title }}" type="checkbox" aria-hidden="true">

			<div>{{ item.description | safe }}</div>

			{% if item.description.length > 210 %}
				<label for="{{ item.id or item.title}}" aria-hidden="true">
					{# See more #}
				</label>
			{% endif %}
		</div>
	{% endif %}
</article>