{% set currentGame = games.playing[0] %}
{% set currentManga = manga.reading[0]%}
{% set currentProject = collections.game_dev[collections.game_dev.length - 1] %}

<div class="window">
  <h2>Now</h2>

  <div class="window-body">
    <ul class="list-unstyled">
      <li>
        <b>Working on:</b>
        {% if currentProject %}
          <a href="{{currentProject.link}}">{{currentProject.data.title}}</a>
        {% else %}
          <span>Nothing</span>
        {% endif %}
      </li>
      <li>
        <b>Playing: </b>
        {% if currentGame %}
          <a href="{{currentGame.link}}">{{currentGame.title}}</a>
        {% else %}
          <span>Nothing</span>
        {% endif %}
      </li>
      <li>
        <b>Reading: </b>
        {% if currentManga %}
          <a href="{{currentManga.link}}">{{currentManga.title}}</a>
        {% else %}
          <span>Nothing</span>
        {% endif %}
      </li>
    </ul>
  </div>
</div>