<ul class="post-list">
  {% for post in postsList %}
    {% set postStats = post.content | timeToRead %}
    <li>
      <article>
        <header>
          <h3>
            <a href="{{ post.url }}">
              {{ post.data.title }}
            </a>
          </h3>
          <time datetime="{{ post.date | formatDate('yyyy-LL-dd') }}">{{ post.date | formatDate('MMMM dd, yyyy') }}</time>
        </header>

        <ul class="stats bar-separated">
          <li>
            <p class="post-stats">~{{postStats}} read</p>
          </li>

          {% if post.data.lang %}
            <li>
              {{ post.data.lang | getFlagEmoji }}
            </li>
          {% endif %}

          <li>
            <ul class="tags">
              {%- for tag in post.data.tags -%}
                {% if tag != "blog-post" %}
                  <li>
                    <a href="/blog/tags/{{ tag }}">#{{ tag | unslugify }}</a>
                  </li>
                {% endif %}
              {%- endfor -%}
            </ul>
          </li>

        </ul>
        <p class="description">{{ post.data.description }}</p>
      </article>
    </li>
  {% endfor %}
</ul>