Share with:

 <a
  title="Share to Tumblr"
  class="share-button"
  href="{{ [rootURL, page.url] | join | getShareUrl('tumblr', title, tags) }}"
  target="_blank"
  role="button"
>
  Tumblr</a>,

<a
  title="Share to Reddit"
  class="share-button"
  href="{{ [rootURL, page.url] | join | getShareUrl('reddit', title, tags) }}"
  target="_blank"
  role="button"
>
  Reddit</a>,

<a
  title="Share to Bluesky"
  data-title="{{title}}"
  target="_blank"
  class="share-button"
  id="bluesky-button"
  href="{{ [rootURL, page.url] | join | getShareUrl('bluesky', title, tags) }}"
>
  Bluesky</a>,

or

<a
  title="Share to Mastodon"
  data-title="{{title}}"
  data-tags="{{ tags }}"
  target="_blank"
  class="share-button"
  id="mastodon-button"
  onclick="mastodonShare(this)"
  href=""
>
  Mastodon</a>.