<nav class="window">
  <h2>Nav</h2>

  <ul class="window-body arrow-list list-nopadding dash-separated">
    <li>
      <a href="/my-articles">articles</a>
    </li>
    <li>
      <a href="/the-gallery">the gallery</a>
    </li>
    <li>
      <a href="/the-shelf">the shelf</a>
    </li>
    <li><a href="/quizzes">quizzes</a></li>
  </ul>
  <hr class="" >
  <ul class="window-body arrow-list list-nopadding dash-separated">
    <li><a href="https://github.com/KuluGary">github</a></li>
    <li><a href="https://kulugary.itch.io/">itch.io</a></li>
  </ul>
</nav>
