{% set mentions = webmentions | getWebmentionsByUrl(metadata.url + page.url) | filterOwnWebmentions %}

<section class="webmentions">
	{% set reposts = mentions | webmentionsByType('repost-of') %}
	{% set likes = mentions | webmentionsByType('like-of') %}
	{% set replies = mentions | webmentionsByType('in-reply-to') %}
	{% set repostsSize = reposts.length %}
	{% set likesSize = likes.length %}
	{% set repliesSize = replies.length %}
	{% set interactions = likes | mergeArrays(reposts) %}

	<p>
    To reply to this post, send a <a href="https://indieweb.org/Webmention">Webmention</a> and it will show up here
    after the site rebuilds next time.
  </p>

	{% if mentions.length > 0 %}
		<details class="webmentions-details">
			<summary>
				{% if likesSize > 0 %}
					<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-heart"
      >
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M19.5 12.572l-7.5 7.428l-7.5 -7.428a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572"/>
					</svg>
      Likes: {{ likesSize }}
				{% endif %}
				{% if repostsSize > 0 %}
					<svg
        xmlns="http://www.w3.org/2000/svg"
        width="16"
        height="16"
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="icon icon-tabler icons-tabler-outline icon-tabler-repeat"
      >
						<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
						<path d="M4 12v-3a3 3 0 0 1 3 -3h13m-3 -3l3 3l-3 3"/>
						<path d="M20 12v3a3 3 0 0 1 -3 3h-13m3 3l-3 -3l3 -3"/>
					</svg>
      Reposts: {{repostsSize}}
				{% endif %}
				{% if repliesSize > 0 %}
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-line"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 10.663c0 -4.224 -4.041 -7.663 -9 -7.663s-9 3.439 -9 7.663c0 3.783 3.201 6.958 7.527 7.56c1.053 .239 .932 .644 .696 2.133c-.039 .238 -.184 .932 .777 .512c.96 -.42 5.18 -3.201 7.073 -5.48c1.304 -1.504 1.927 -3.029 1.927 -4.715v-.01z"/></svg>
      Replies: {{repliesSize}}
				{% endif %}

			</summary>

			<ul>
				{% for mention in mentions %}
					{% if mention["like-of"] %}
						<li>
							{% if mention.author.name %}
								<a href="{{ mention.author.url }}">{{ mention.author.name }}</a>
							{% else %} Someone {% endif %} liked <a href="{{ mention.url }}">this post</a>.
      </li>
					{% elseif mention["repost-of"] %}
						<li>
							{% if mention.author.name %}
								<a href="{{ mention.author.url }}">{{ mention.author.name }}</a>
							{% else %} Someone {% endif %} shared <a href="{{ mention.url }}">this post</a>.
      </li>
					{% else %}
						<li>
							{% if mention.author.name %}
								<a href="{{ mention.author.url }}">{{ mention.author.name }}</a>
							{% else %} Someone {% endif %} replied to <a href="{{ mention.url }}">this post</a>.
      </li>
					{% endif %}
				{% endfor %}
			</ul>
		</details>
	{% endif %}
</section>