---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - blog-post
    - genrePages
    - mediaCategories
    - postsByYear
    - recentActivity
    - all
permalink: /blog/tags/{{tag}}.html
eleventyComputed:
  title: Blog Posts Tagged {{ tag | unslugify | makeLowercase }}
  description: 'Read blog posts tagged "{{ tag | unslugify }}": experiments, ideas, and curiosities organized under this theme.'
---
{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <p>Posts tagged with "{{ tag | unslugify }}": experiments, thoughts, and curiosities that fall under this theme.</p>

    {% set postDate = collections[tag] | getNewestCollectionItemDate %}
    <p>Last updated: <time datetime="{{ postDate | formatDate('yyyy-LL-dd') }}">{{ postDate | formatDate('MMMM dd, yyyy') }}</time>.</p>

    {% set taglist = collections[tag] %}
    {% set postsList = taglist | reverse %}

    {% include "components/post-list.html" %}
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
  <link rel="stylesheet" href="/css/components/post-list.css">
{% endblock %}