---
pagination:
  data: collections.yearPages
  size: 1
  alias: yearGroup
permalink: "/blog/year/{{ yearGroup.year }}/"
eleventyComputed:
  title: "Posts from {{ yearGroup.year }}"
---
{% extends "layouts/base.html" %}

{% set collection = yearGroup.items %}

{% block content %}
	<main>
		<h1>Posts from {{ yearGroup.year }}</h1>

		{% set postsList = yearGroup.items %}
		{% include "components/post-list.html" %}
	</main>
{% endblock %}

{% set sidebar %}
<div>
	{% include "components/tag-list.html" %}
	{% include "components/year-list.html" %}
	{% include "components/navbar/main-navigation.html" %}
	{% include "components/navbar/feeds.html" %}
</div>
{% endset %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/post-list.css">
{% endblock %}