---
title: 'The Blog'
permalink: /blog/
description: "A blog with experiments in progress, scattered notes, and the occasional odd trail of thought."
layout: layouts/base.html
---

{% set collection = collections["blog-post"] %}

{% block content %}

  <main>
    <p>This blog is part workshop bench, part thought garden. Here you can find any ideas or experiments I'm currently working on.</p>

    <p>Want to be notified whenever I update this page? Get the <a href="/blog/feed.xml"><img class="rss-icon" height="14" width="14" src="/assets/images/buttons/feed-icon-14x14.png"/> RSS Feed</a> for this page.</p>

    {% include "components/year-list.html" %}

    {% include "components/tag-list.html" %}

    {% for year, items in collections['postsByYear'] %}
      <section id="posts-{{ year }}">
        <h2>{{ year }}</h2>

        {% set postsList = items %}
        {% include "components/post-list.html" %}
      </section>
    {% endfor %}
  </main>

{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/post-list.css">
{% endblock %}