---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - blog-post
    - genrePages
    - mediaCategories
    - postsByYear
    - recentActivity
    - all
    - yearPages
permalink: /blog/tags/{{tag}}.html
eleventyComputed:
  title: Blog Posts Tagged {{ tag | unslugify }}
  description: 'Read blog posts tagged "{{ tag | unslugify }}": experiments, ideas, and curiosities organized under this theme.'
---
{% extends "layouts/base.html" %}

{% set collection = collections["blog-post"] %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <h2>Blog Posts Tagged {{ tag | unslugify | makeLowercase }}</h2>

    {% set taglist = collections[tag] %}
    {% set postsList = taglist | reverse %}

    {% include "components/post-list.html" %}
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% set sidebar %}
<div>
  {% include "components/tag-list.html" %}
  {% include "components/year-list.html" %}
  {% include "components/navbar/main-navigation.html" %}
  {% include "components/navbar/feeds.html" %}
</div>
{% endset %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
  <link rel="stylesheet" href="/css/components/post-list.css">
{% endblock %}