---
title: 'The Blog'
description: "A blog with experiments in progress, scattered notes, and the occasional odd trail of thought."
pagination:
  data: collections["blog-post"]
  size: 5
  alias: posts
  reverse: true
permalink: "/blog/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
---
{% extends "layouts/base.html" %}

{% set collection = collections["blog-post"] %}

{% block content %}
  <main>
    <p>This blog is part workshop bench, part thought garden. Here you can find any ideas or experiments I'm currently working on.</p>

    <section>
      <h2>
        {% if pagination.pageNumber > 0 %}
          Posts page {{pagination.pageNumber + 1}}
          {% else%}
          New posts
        {% endif %}
      </h2>

      {% set postsList = posts %}
      {% include "components/post-list.html" %}
    </section>

    <nav id="blog-navigation">
      <ul>
        <li>
          {% if pagination.href.previous %}
            <a href="{{ pagination.href.previous }}">🡨</a>
          {% endif %}
        </li>
        {%- for pageEntry in pagination.pages %}
          <li>
            {% if loop.index === pagination.pageNumber + 1 %}
              <span>{{ loop.index }}</span>
            {% else %}

              <a href="{{ pagination.hrefs[ loop.index0 ] }}">{{ loop.index }}</a>
            {% endif %}
          </li>
        {%- endfor %}
        <li>
          {% if pagination.href.next %}
            <a href="{{ pagination.href.next }}">🡪</a>
          {% endif %}
        </li>
      </ul>
    </nav>
  </main>
{% endblock %}

{% set sidebar %}
<div>
  {% include "components/tag-list.html" %}
  {% include "components/year-list.html" %}
  {% include "components/navbar/main-navigation.html" %}
  {% include "components/navbar/feeds.html" %}
</div>
{% endset %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/post-list.css">
{% endblock %}