<div class="window">
  <h2>Apps</h2>

  <ul class="window-body list-unstyled dash-separated">
    <li>
      <b>web-dev</b>

      <ul class="arrow-list list-nopadding">
        <li>visual studio code</li>
      </ul>
    </li>

    <li>
      <b>game-dev</b>

      <ul class="arrow-list list-nopadding">
        <li>godot</li>
        <li>visual studio code</li>
        <li>krita</li>
        <li>libresprite / asesprite</li>
        <li>blender</li>
      </ul>
    </li>
    <li>
      <b>writing</b>

      <ul class="arrow-list list-nopadding">
        <li>obsidian</li>
      </ul>
    </li>
  </ul>
</div>
