<div class="badge-list">
  <a href="https://youtu.be/uE-1RPDqJAY?si=xcWXwX-LopJzbRfC" target="_blank">
    <img
      title="They're taking the Hobbits to Isengard!"
      src="./assets/images/buttons/isengard.gif"
      alt="An animated gif of the scene from LOTR which spawned the infamous meme 'They're taking the Hobbits to Isengard.'"
    />
  </a>
  <img
    title="It's you!"
    src="./assets/images/buttons/still-you.png"
    alt="A black button with white text that says 'Despite everything, it's still you.'. It also has the red heart from Undertale."
  />
  <img
    title="Kitty loves you ♡"
    src="./assets/images/buttons/stardew.gif"
    alt="A scene with a player character and sleeping kitty from Stardew Valley"
  />
  <img
    title="Can't abscond, bro!"
    src="./assets/images/buttons/bro.gif"
    alt="A scene from Homestuck in which Bro Strider gives a thumbs down to Dave Strider (off-camera)"
  />
</div>
