footer .button-list {
  width: 100%;
  border-top: var(--border-thickness) solid var(--text-color);
  padding-block: calc(var(--line-height) / 2);
  justify-content: center;
}

footer .button-list img {
  width: 99px;
  height: 56px;
}

footer .footer-credits {
  width: fit-content;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
  margin-top: 0;
}

footer #made-with {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 1ch;
}

footer #made-with > * {
  margin: 0;
  padding: 0;
}

.footer-under-construction {
  font-size: small;
  max-width: 45ch;

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 1ch;
  text-align: left;
}

.footer-under-construction > * {
  margin: 0;
}

footer .footer-under-construction img {
  height: 22px;
}
