.site-footer {
  border-top: var(--border-thickness) solid var(--text-color-alt);
  margin-top: var(--line-height);
  font-size: smaller;

  & img {
    width: auto;
    vertical-align: middle;
  }

  & .button-list {
    margin-top: var(--line-height);
    justify-content: center;
    width: 100%;
    row-gap: var(--line-height);
  }

  & .button-list li,
  & .footer-credits {
    margin: 0;
  }

  & .footer-credits > * {
    margin-top: var(--line-height);
    margin-inline: auto;
  }

  & .webring {
    text-align: center;
  }

  & .made-with,
  & .under-construction,
  & .contact {
    max-width: 50ch;
    margin-inline: auto;

    & img {
      display: inline-block;
    }
  }

  a:has(#eleventy-badge, #nunjucks-badge) {
    text-decoration: none;
  }
}
