.media-section.media-grid {
  &.grid-list {
    display: grid;
    grid-template-columns: repeat(var(--column-amount), 1fr);
    gap: 1rem;

    list-style: none;
    margin: 0;
    padding: 0;
    margin-block: var(--line-height);

    @media (--viewport-mobile) {
      grid-template-columns: repeat(auto-fit, minmax(var(--column-size), 1fr));
      justify-content: center;
    }

    & li {
      height: 100%;
      margin: 0;

      & article {
        position: relative;
        margin: 0;
        border: 1px solid var(--primary-color);
        border-radius: 4px;
        overflow: hidden;
        height: 100%;

        & figure {
          margin: 0;
          height: 100%;
          width: 100%;

          & img {
            object-fit: cover;
            width: 100%;
            height: 100%;
          }

          &:not(:has(img)) {
            display: grid;
            place-content: center;
          }

          & > svg {
            & g {
              fill: var(--background-color-alt);
            }
          }

          & figcaption {
            position: absolute;
            bottom: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.75);
            text-align: center;
            padding: 0.125rem;
            font-style: normal;
            font-size: 0.85rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: clip;

            & a {
              text-decoration: none;

              &:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }

  &.grid-list.grid-col-5 {
    --column-amount: 5;
    --column-size: 118px;

    & figure {
      aspect-ratio: 9/16;
    }
  }

  &.grid-list.grid-col-4 {
    --column-amount: 4;
    --column-size: 152px;

    & figure {
      aspect-ratio: 1;
    }
  }

  &.grid-list.grid-col-3 {
    --column-amount: 3;
    --column-size: 208px;

    & figure {
      aspect-ratio: 16/9;
    }
  }

  & .media-description {
    display: none;
  }
}

.media-section.media-list {
  list-style: none;
  margin: 0;
  padding: 0;

  & article:has(figure) {
    display: none;
  }

  & h3:first-child {
    margin-top: 0;
  }

  & h3 {
    all: unset;
    font-weight: 600;

    &::before {
      display: none;
    }
  }

  > li {
    position: relative;
    padding-left: var(--line-height);
    margin-top: var(--line-height);
    overflow: clip;

    & article {
      margin: 0;
    }

    & ul.stats {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;

      & > * {
        text-wrap: nowrap;
      }

      & cite.author {
        font-style: normal;
        color: var(--secondary-color);
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 1ch;
      background-color: var(--background-color-alt);
    }

    & header {
      display: grid;
      grid-template-columns: 1fr auto;

      align-items: center;

      & p {
        margin-block: 0;
      }

      & time {
        color: var(--text-color-alt);
        margin: 0;
        font-size: smaller;
      }
    }

    & .stats:is(:last-child) {
      & > li {
        margin-block-end: 0;
      }
    }

    & .stats > li > * {
      display: inline-flex;
      font-size: smaller;
      margin: 0;
      padding: 0;
    }

    & ul.tags {
      list-style: none;
      flex-wrap: wrap;
      height: 1lh;
      overflow: clip;
      font-size: smaller;

      & li {
        margin: 0;
      }
      & li + li {
        margin-inline-start: calc(var(--line-height) / 2);
      }
    }

    & .description {
      font-size: smaller;
      overflow: hidden;
      margin-top: 0;

      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      -webkit-line-clamp: 2;

      & p:first-of-type {
        margin-top: 0;
      }
    }
  }
}

h1,
h2,
h3 {
  text-wrap: balance;

  & button {
    display: none;
    background-color: transparent;
    height: 1lh;
    width: 1lh;
    padding: 0;
    border: var(--border-thickness) solid var(--primary-color);

    &:disabled {
      opacity: 0.65;
      border: var(--border-thickness) solid var(--primary-color);
    }

    & svg {
      width: 100%;
      height: 100%;

      & path:not(:first-of-type) {
        stroke: var(--primary-color);
      }
    }

    &[data-javascript="true"] {
      display: inline;

      @media (--viewport-mobile) {
        display: block;
      }
    }
  }

  @media (--viewport-mobile) {
    & div:has(#grid-toggle, #list-toggle) {
      display: flex;
      flex-wrap: no-wrap;
      column-gap: 0.5ch;
    }
  }
}
