ul.post-list {
  list-style: none;
  padding-left: 0;
}

ul.post-list article h2 {
  all: unset;
}

ul.post-list article h2::before {
  content: "";
  margin: 0;
}

ul.post-list > li {
  position: relative;
  padding-left: var(--line-height);
  margin-top: var(--line-height);
}

ul.post-list > li::before {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 1ch;
  background-color: var(--background-color-alt);
}

ul.post-list header {
  display: grid;
  grid-template-columns: 1fr auto;

  align-items: center;
}

ul.post-list header time {
  color: var(--text-color-alt);
  margin: 0;
}

ul.post-list .post-stats,
ul.post-list .post-tags {
  display: inline-flex;
  font-size: smaller;
  margin: 0;
  padding: 0;
}

ul.post-list .post-subtitle,
ul.post-list .post-description {
  margin-top: calc(var(--line-height) / 2);
  margin-bottom: 0;
  font-size: max(0.85rem);
}

ul.post-list .post-description {
  margin-top: 0;
}

ul.post-list .post-subtitle .post-divider {
  margin-inline: calc(var(--line-height) / 2);
}

ul.post-list .post-tags {
  list-style: none;
  gap: 1ch;
}

ul.post-list .post-tags li {
  margin: 0;
}

ul.post-list .post-tags a {
  text-decoration-thickness: 1px;
}

ul.bar-separated {
  justify-content: start;
}
