.recent-activity {
  & h2 {
    margin-bottom: calc(var(--spacing-medium) / 1);
  }
}

.recent-media {
  list-style: none;
  margin: 0;
  padding: 0;

  & h3:first-child {
    margin-top: 0;
  }

  & h3 {
    all: unset;

    &::before {
      display: none;
    }
  }

  > li {
    position: relative;
    padding-left: var(--spacing-medium);
    margin-top: var(--spacing-medium);

    & article {
      margin: 0;
    }

    ul.stats {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: nowrap;
      justify-content: start;

      & > * {
        text-wrap: nowrap;
      }
    }

    &::before {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 1ch;
      background-color: var(--background-color-alt);
    }

    & header {
      display: grid;
      grid-template-columns: 1fr auto;

      align-items: center;

      & time {
        color: var(--text-color-alt);
        margin: 0;
        font-size: var(--font-size-small);
        text-align: right;
      }
    }

    & .stats > li > * {
      display: inline-flex;
      font-size: var(--font-size-small);

      margin: 0;
      padding: 0;
    }

    & ul.tags {
      list-style: none;
      flex-wrap: wrap;
      height: 1lh;
      overflow: clip;
      font-size: var(--font-size-small);

      & li {
        margin: 0;
      }
      & li + li {
        margin-inline-start: var(--spacing-xsmall);
      }
    }

    .description {
      font-size: var(--font-size-small);

      overflow: hidden;
      margin-top: var(--spacing-xsmall);

      display: -webkit-box;
      -webkit-box-orient: vertical;
      line-clamp: 2;
      -webkit-line-clamp: 2;

      & p:first-of-type {
        margin-top: 0;
      }
    }
  }
}
