---
css:
  - /css/reset.css
  - /css/variables.css
  - /css/layouts/base.css
---

<!DOCTYPE html>
<html lang={{ lang or "en"}}>
	<head>
		{% include "components/metadata.html" %}

		{% for href in css %}
			<link rel="stylesheet" href="{{ href | url }}">
		{% endfor %}

		{% for src in js %}
			<script src="{{ src | url }}"></script>
		{% endfor %}

		{% if lightbox %}
			<link rel="stylesheet" href="/css/lib/glightbox.min.css">
		{% endif %}

		{% if codify %}
			<link rel="stylesheet" href="/css/lib/prism-dark.css" media="(prefers-color-scheme: dark)">
			<link rel="stylesheet" href="/css/lib/prism-light.css" media="(prefers-color-scheme: light)">
		{% endif %}

		{% if lightbox %}
			<script src="/js/lib/glightbox.min.js"></script>

			<script>
				document.addEventListener("DOMContentLoaded", () => {
					const lightbox = GLightbox({});
				});
			</script>
		{% endif %}

	</head>
	<body>
		{% include "components/skip-links.html" %}
		{% include "components/sitemast.html" %}

		{% block content %}
			{{ content | safe }}
		{% endblock %}
	</body>
</html>