---
css:
  - /css/reset.css
  - /css/variables.css
  - /css/layouts/base.css
---

<!DOCTYPE html>
<html lang={{ lang or "en"}}>
	<head>
		{% include "components/metadata.html" %}

		<!-- Assets, 3rd party scripts, etc -->
		{% for href in css %}
			<link rel="stylesheet" href="{{ href | url }}">
		{% endfor %}

		{% block script %}{% endblock %}
	</head>
	<body>
		<header id="sitemast" role="banner">
			<picture>
				<source media="(prefers-color-scheme: dark)" srcset="/assets/images/header-2-dark.png">
				<source media="(prefers-color-scheme: light)" srcset="/assets/images/header-2.png">
				<img src="/assets/images/header-2.png" alt="">
			</picture>
			<picture>
				<source media="(prefers-color-scheme: dark)" srcset="/assets/images/header-1-dark.png">
				<source media="(prefers-color-scheme: light)" srcset="/assets/images/header-1.png">
				<img src="/assets/images/header-1.png" alt="">
			</picture>
			<p class="heading-1">
				<a href="/">{{ metadata.title }}</a>
			</p>
		</header>

		<nav id="sitenav">
			<ul class="unstyled">
				<li>
					<a href="/blog">Articles</a>
				</li>
				<li>
					<a href="/art">Gallery</a>
				</li>
				<li>
					<a href="/about">About</a>
				</li>
				<li>
					<a href="">Writing</a>
				</li>
			</ul>
		</nav>

		{% block content %}
			{{ content | safe }}
		{% endblock %}

	</body>
</html>