---
layout: base.html
css:
  - /css/pages/blog-post.css
  - /css/lib/prism-light.css
  - /css/lib/prism-dark.css
---
{% block content %}
	{% set previousPost = collections.blog | getPreviousCollectionItem %}
	{% set nextPost = collections.blog | getNextCollectionItem %}
	{% set toc = content | toc | safe %}

	<aside id="content-nav">
		{% if toc.length > 0 %}
			<h2>Table of content</h2>
			{{ toc }}
		{% endif %}
	</aside>

	<main id="main-content" class="h-entry">
		<header>
			<h1 class="p-name">{{ title }}</h1>
		</header>

		<article id="content" class="e-content">
			{{ content | safe }}
		</article>

		<footer class="post-footer">
			<section class="footer-data">
				<p class="post-meta">
					<time datetime="{{ date | formatDate("yyyy-MM-dd") }}">
						Published {{ date | formatDate("LLLL dd, yyyy") }}
					</time>

					in
				</p>
				<ul class="post-tags unstyled">
					{% for tag in tags if tag != "blog-post" %}
						<li>
							<a href="/blog/tags/{{ tag }}">#{{ tag | lower }}</a>
						</li>
					{% endfor %}
				</ul>
				<nav class="post-nav">
					{% if nextPost %}
						<a href="{{ nextPost.url }}" class="next">
									← {{ nextPost.data.title }}
						</a>
					{% endif %}
					{% if previousPost %}
						<a href="{{ previousPost.url }}" class="prev">
							{{ previousPost.data.title }} →
								</a>
					{% endif %}
				</nav>
				<ul class="link-list unstyled">
					<li>
						<a href="/blog/search">Search</a>
					</li>
					<li>
						<a href="https://github.com/KuluGary/website/tree/master{{ page.url }}index.md" target="_blank">
									Edit
								</a>
					</li>
					<li>
						<a href="/blog/feed.xml">RSS</a>
					</li>
				</ul>
			</section>

			{% set mentions = webmentions | getWebmentionsByUrl(page.url) | filterOwnWebmentions %}
			{% set reposts = mentions | webmentionsByType('repost-of') %}
			{% set likes = mentions | webmentionsByType('like-of') %}
			{% set replies = mentions | webmentionsByType('in-reply-to') %}

			{% if likes.length or reposts.length or replies.length %}
				<div class="interactions">
					{% if likes.length %}
						<p>{{ likes.length }} likes</p>
					{% endif %}
					{% if reposts.length %}
						<p>{{ reposts.length }} reposts</p>
					{% endif %}
					{% if replies.length %}
						<p>{{ replies.length }} replies</p>
					{% endif %}
				</div>
			{% endif %}

		</footer>
	</main>
{% endblock %}

{% block script %}
	<script>
		function addIntersectionObserverForToc() {
			const tocLinks = document.querySelectorAll(".toc a");
			const headings = [...tocLinks].map(link => document.querySelector(link.getAttribute("href")));
			const observer = new IntersectionObserver(entries => {
				entries.forEach(entry => {
					if (!entry.isIntersecting) 
						return;
					
					tocLinks.forEach(link => link.classList.remove("active"));
					const active = document.querySelector(`.toc a[href="#${entry.target.id}"]`);
					if (active) 
						active
							.classList
							.add("active");
					}
				);
			}, {
				rootMargin: "-10% 0px -30% 0px",
				threshold: 0
			});

			headings.forEach(h => observer.observe(h));
		}

		addIntersectionObserverForToc()
	</script>
{% endblock %}

{% block css %}
	<link rel="stylesheet" href="/css/prism-light.css" media="screen and (prefers-color-scheme: light)">
	<link rel="stylesheet" href="/css/prism-dark.css" media="screen and (prefers-color-scheme: dark)">
{% endblock css %}