---
layout: base.html
---
{% block content %}
	{% set currentLang = lang or "en" %}
	{% set postsInLanguage = collections.postsWithTranslations | filterByLang(currentLang) %}
	{% set previousPost = postsInLanguage | getPreviousCollectionItem %}
	{% set nextPost = postsInLanguage | getNextCollectionItem %}
	{% set translations = collections.postsWithTranslations | getTranslations(postSlug, page.url) %}

	<main
	id="main-content"
	class="h-entry"
		{% if not draft %}data-pagefind-body{% endif %}
	>
		<header>
			<h1 class="p-name">{{ title }}</h1>
		</header>

		<article id="content" class="e-content">
			{{ content | safe }}
		</article>

		<footer class="post-footer">
			{% if translations.length > 0 %}
				<section class="translations-nav">
					<p>他の言語で読む</p>
					<ul class="unstyled">
						{% for translation in translations %}
							<li>
								<a href="{{ translation.url }}" hreflang="{{ translation.data.lang }}">{{ translation.data.lang | upper }}</a>
							</li>
						{% endfor %}
					</ul>
				</section>
			{% endif %}
			<section class="footer-data">
				<p class="post-meta">
					<time datetime="{{ date | formatDate("yyyy-MM-dd") }}">{{ date | formatDate("yyyy年LLLL月dd日", lang) }}に公開</time>
				</p>
				<ul class="post-tags unstyled">
					{% for tag in tags if tag != "blog-post" %}
						<li>
							<a href="/blog/tags/{{ tag }}">#{{ tag | lower }}</a>
						</li>
					{% endfor %}
				</ul>
				<nav class="post-nav">

					<ul class="unstyled">
						{% if nextPost %}
							<li class="next">
								<p>次の記事 →</p>
								<a href="{{ nextPost.url }}" class="unstyled">
									{{ nextPost.data.title }}
								</a>
							</li>
						{% endif %}
						{% if previousPost %}
							<li class="prev">
								<p>前の記事 →</p>
								<a href="{{ previousPost.url }}" class="unstyled">
									{{ previousPost.data.title }}
								</a>
							</li>
						{% endif %}
					</ul>
				</nav>
			</section>

			{% set mentions = webmentions | getWebmentionsByUrl(page.url) | filterOwnWebmentions %}
			{% set reposts = mentions | webmentionsByType('repost-of') %}
			{% set likes = mentions | webmentionsByType('like-of') %}
			{% set replies = mentions | webmentionsByType('in-reply-to') %}

			{% if likes.length or reposts.length or replies.length %}
				<div class="interactions">
					{% if likes.length %}
						<p>{{ likes.length }}件のいいね</p>
					{% endif %}
					{% if reposts.length %}
						<p>{{ reposts.length }}件の再投稿</p>
					{% endif %}
					{% if replies.length %}
						<p>{{ replies.length }}件の返信</p>
					{% endif %}
				</div>
			{% endif %}

		</footer>
	</main>

{% endblock %}