{% extends "layouts/base.html" %}
{% block head %}
  <script async src="https://cpwebassets.codepen.io/assets/embed/ei.js"></script>
  <link rel="stylesheet" href="/css/article.css"/>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/dirtysea.min.css"
  media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
/>
  <link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/3024.min.css"
  media="(prefers-color-scheme: dark)"
/>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js" defer></script>
  <script src="/js/article.js" defer></script>
{% endblock %}