<!DOCTYPE html>
<html lang={{ lang or "en"}}>
  <head>
    {% include "components/metadata.html" %}

    <!-- Assets, 3rd party scripts, etc -->
    <link rel="stylesheet" href="{{ " /css/global.css" | url }}">
    <link rel="stylesheet" href="{{ " /css/themes.css" | url }}">
    <link rel="stylesheet" href="{{ " /css/components/header.css" | url }}">
    <link rel="stylesheet" href="{{ " /css/components/footer.css" | url }}">
    {% block stylesheet %}{% endblock %}
    <script>
      const cachedTheme = localStorage.getItem("theme");
      const cachedFontStack = localStorage.getItem("font-stack");
      const cachedContentWidth = localStorage.getItem("content-width");
      const cachedFontSize = localStorage.getItem("font-size");
      const cachedBackground = localStorage.getItem("background");

      if (cachedTheme !== null) 
        document
          .documentElement
          .setAttribute("data-theme", cachedTheme)

      if (cachedFontStack !== null) 
        document
          .documentElement
          .setAttribute("data-font-stack", cachedFontStack)

      if (cachedContentWidth !== null) 
        document
          .documentElement
          .setAttribute("data-content-width", cachedContentWidth)

      if (cachedFontSize !== null) 
        document
          .documentElement
          .setAttribute("data-font-size", cachedFontSize)

      if (cachedBackground !== null) 
        document
          .documentElement
          .setAttribute("data-background", cachedBackground)
    </script>
    {% block script %}{% endblock %}
  </head>

  <body>
    {% include "components/header.html" %}

    {% block content %}
      {{ content | safe }}
    {% endblock %}

    <aside>
      {% if sidebar %}
        {{ sidebar | safe }}
      {% else %}
        <div>
          {% include "components/navbar/main-navigation.html" %}
        </div>
      {% endif %}
    </aside>

    {% include "components/footer.html" %}
  </body>

</html>