<!DOCTYPE html>
<html lang={{ lang or "es" }} data-background="darker">
	<head>
		{% include "components/metadata.html" %}
		<link rel="stylesheet" href="{{ "/css/themes.css" | url }}">
		<link rel="stylesheet" href="{{ "/css/stories.css" | url }}">
		<script>
			const cachedTheme = localStorage.getItem("theme");
			const cachedFontStack = localStorage.getItem("font-stack");
			const cachedContentWidth = localStorage.getItem("content-width");
			const cachedFontSize = localStorage.getItem("font-size");
			const cachedBackground = localStorage.getItem("background");

			if (cachedTheme !== null) 
				document
					.documentElement
					.setAttribute("data-theme", cachedTheme)

			if (cachedFontSize !== null) 
				document
					.documentElement
					.setAttribute("data-font-size", cachedFontSize)
		</script>
	</head>
	<body>
		{% block content %}{% endblock content %}

		{% if sidebar %}
			<aside>
				{{ sidebar | safe }}
			</aside>
		{% endif %}
	</body>
</html>