---
title: About Me
permalink: /about/
---

{% extends "layouts/base.html" %}
{% block content %}
	<main>
		<section id="header">
			<h2>Id</h2>
			<p id="name">Gary</p>
			<div id="description">
				<p>Webmaster, generalist, and creative experimenter. Works somewhere between structure and curiosity.</p>

				<p>Spends most of their time taking things apart just to see how they work, sometimes even putting them back together again. Treats the web like a sketchbook, a space to test small ideas, explore tools, and leave a few unfinished experiments behind.</p>
			</div>

			<section id="aspects">
				<h2>Aspects</h2>

				<ul>
					<li>Sees code as craft.</li>
					<li>Always building, rarely done.</li>
					<li>Prefers tools with personality.</li>
					<li></li>
				</ul>
			</section>
		</section>

		<section id="skills">
			<h2>Skills</h2>

			<div>
				<span class="label">+5</span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div>
				<span class="label">+4</span>
				<span>Frontend</span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div>
				<span class="label">+3</span>
				<span>Writing</span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>

			<div>
				<span class="label">+2</span>
				<span>Illustration</span>
				<span></span>
				<span></span>
				<span></span>
				<span></span>
			</div>
			<div>
				<span class="label">+1</span>
				<span>Game Dev</span>
				<span>System Design</span>
				<span>3D Design</span>
				<span></span>
				<span></span>
			</div>

		</section>

		<section id="abilities">
			<section id="extras">
				<h2>Extras</h2>

				<ul>
					<li>A cluttered digital workbench full of half-finished prototypes.</li>
					<li>A small library of reference manuals, sketchpads, and browser tabs.</li>
				</ul>
			</section>

			<section>
				<h2>Stunts</h2>
				<ul>
					<li>Has advantage on brainstorming sessions after midnight</li>
					<li>Can refactor code and redesign the UI simultaneously (at a cost).</li>
				</ul>
			</section>
		</section>

		<section id="footer">
			<section id="physical-stress">
				<h2>Physical stress</h2>

				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</section>

			<section id="mental-stress">
				<h2>Mental stress</h2>

				<ol>
					<li></li>
					<li></li>
					<li></li>
					<li></li>
				</ol>
			</section>

			<section id="consequences">
				<h2>Consequences</h2>

				<ul>
					<li>Prone to redesigning things that already work.</li>
					<li>Suffers mild existential dread when looking at old code.</li>
					<li></li>
					<li></li>
				</ul>
			</section>

		</section>

		<p id="credits">Idea based on <a href="https://frills.dev/about/">Frills' blog</a>. Design based on the <a href="https://fate-srd.com/fate-core">FATE Core</a> TTRPG.</p>
	</main>
{% endblock %}
{% block stylesheet %}
	<link rel="stylesheet" href="/css/about.css"/>
{% endblock %}