---
title: Favorite Sites
permalink: /sites/
description: A handpicked list of websites I love, admire, and return to over the years.
---
{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <p>Some of my favorite corners of the web. Sites that have caught my eye over the years.</p>

    {% for category in sites %}
      <section id="{{ category.title | slugify }}">
        <h2>{{ category.title }}</h2>

        <dl>
          {% for site in category.sites %}
            <dt>
              <a href="{{site.url}}" target="_blank" rel="noopener noreferrer">{{site.title}}</a>
            </dt>

            <dd>{{ site.description | safe }}</dd>
          {% endfor %}
        </dl>
      </section>
    {% endfor %}
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% set sidebar %}
<div>
  <section>
    <h2>Table of contents</h2>
    <ol>
      {% for category in sites %}
        <li>
          <a href="{{ page.url }}#{{ category.title | slugify }}">{{category.title}}</a>
        </li>
      {% endfor %}
    </ol>
  </section>

  {% include "components/navbar/main-navigation.html" %}
</div>
{% endset %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/sites.css">
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}