---
title: My Toolkit
permalink: /uses/
description: Discover the apps, hardware, and services I use daily to create, tinker, and explore.
---
{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <p>This is a <a href="https://uses.tech/">uses page</a>.</p>
    <p>I spend a lot of time in front of my computer, and with the passing years I've continued to improve my workflow. There are a vast array of tools I use frequently that can be found here.</p>

    {% for category in uses %}
      <section id="{{ category.title | slugify }}">
        <h2>{{ category.title }}</h2>
        <p>{{ category.description }}</p>

        <dl>
          {% for item in category.children %}
            <dt>
              {% if item.url %}
                <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>
              {% else %}
                <strong>{{ item.title }}</strong>
              {% endif %}

            </dt>
            <dd>{{ item.description }}</dd>
          {% endfor %}
        </dl>
      </section>
    {% endfor %}
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/uses.css">
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}