---
title: My Gaming Shelf
permalink: /media/games/
description: 'Browse a curated collection of games: favorites, in-progress adventures, completed quests, and those waiting in the backlog.'
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is my gaming shelf, stacked with favorites, works-in-progress, completed quests, and a few titles left to gather dust. Sorted by category, but never quite finished.</p>

		{% set media = games %}
		{% set mediaType = "games" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = games.playing %}
		{% set href = "/media/games/status/playing" %}
		{% set sectionTitle = "Currently playing" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.favourites %}
		{% set href = "/media/games/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.completed %}
		{% set href = "/media/games/status/completed" %}
		{% set sectionTitle = "Completed" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.played %}
		{% set href = "/media/games/status/played" %}
		{% set sectionTitle = "Played" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.backlog %}
		{% set href = "/media/games/status/backlog" %}
		{% set sectionTitle = "Backlog" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.retired %}
		{% set href = "/media/games/status/retired" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}