---
title: My Gaming Shelf
permalink: /media/games/
description: A personal archive of games I've played, loved, set aside, or still keep in the queue.
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>My gaming shelf serves as an archive stacked with everything from loved games from my childhood to some I'm still waiting for a chance to try.</p>

		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% set media = games.playing %}
		{% set href = "/media/games/status/playing" %}
		{% set sectionTitle = "Currently playing" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.favourites %}
		{% set href = "/media/games/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.completed %}
		{% set href = "/media/games/status/completed" %}
		{% set sectionTitle = "Completed" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.played %}
		{% set href = "/media/games/status/played" %}
		{% set sectionTitle = "Played" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.backlog %}
		{% set href = "/media/games/status/backlog" %}
		{% set sectionTitle = "Backlog" %}
		{% include "components/media-list-section.html" %}

		{% set media = games.retired %}
		{% set href = "/media/games/status/retired" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% set sidebar %}
	<div>
		{% set media = games %}
		{% set mediaType = "games" %}
		{% include "components/media-tag-list.html" %}
		{% include "components/media-category-list.html" %}
		{% include "components/navbar/main-navigation.html" %}
	</div>
{% endset %}
{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}