---
title: My Movie Shelf
permalink: /media/movies/
description: Explore a curated movie collection, from favorites and watchlist picks to films already seen or occasionally dropped.
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>Even though I'm not the biggest movie buff, here are some of the movies that have fundamentally changed how I view creative writing and cinematography.</p>

		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = movies.watchlist %}
		{% set href = "/media/movies/status/watchlist" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list-section.html" %}

		{% set media = movies.favourites %}
		{% set href = "/media/movies/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = movies.seen %}
		{% set href = "/media/movies/status/seen" %}
		{% set sectionTitle = "Seen" %}
		{% include "components/media-list-section.html" %}

		{% set media = movies.dropped %}
		{% set href = "/media/movies/status/dropped" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% set sidebar %}
<div>
	{% set media = movies %}
	{% set mediaType = "movies" %}
	{% include "components/media-tag-list.html" %}
	{% include "components/navbar/main-navigation.html" %}
</div>
{% endset %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}