---
title: My Music Shelf
permalink: /media/music/
description: Explore a curated music collection spanning past and present favorites, albums, and tracks that linger in memory.
---

{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>Favorites from past and present, albums that shaped my playlists, and tracks that still echo with a bit of yesterday.</p>

		{% set media = music %}
		{% set mediaType = "music" %}
		{% set mediaListGrid = "grid-list grid-col-4" %}
		{% include "components/media-tag-list.html" %}

		{% set media = music.favourites %}
		{% set href = "/media/music/status/favourites" %}
		{% set sectionTitle = "Favourite music" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}