---
title: My Shows Shelf
permalink: /media/shows/
description: 'A personal collection of TV shows and series: favorites, watchlist entries, completed seasons, and ones set aside.'
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>Favorites I revisit, shows still on the watchlist, seasons I've seen through, and a few I've left behind.</p>

		{% set media = shows %}
		{% set mediaType = "shows" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = shows.watchlist %}
		{% set href = "/media/shows/status/watching" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.favourites %}
		{% set href = "/media/shows/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.seen %}
		{% set href = "/media/shows/status/seen" %}
		{% set sectionTitle = "Seen" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.dropped %}
		{% set href = "/media/shows/status/dropped" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}