---
title: My Shows Shelf
permalink: /media/shows/
description: Look a collection of my TV shows, including favorites and watchlist and some I have dropped over the years.
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>There are a few TV shows I love and rewatch all the time. In this list you can see what those are, and what I'm watching at the moment.</p>

		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% set media = shows.watchlist %}
		{% set href = "/media/shows/status/watching" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.favourites %}
		{% set href = "/media/shows/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.seen %}
		{% set href = "/media/shows/status/seen" %}
		{% set sectionTitle = "Seen" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.dropped %}
		{% set href = "/media/shows/status/dropped" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% set sidebar %}
<div>
	{% set media = shows %}
	{% set mediaType = "shows" %}
	{% include "components/media-tag-list.html" %}
	{% include "components/media-category-list.html" %}
	{% include "components/navbar/main-navigation.html" %}
</div>
{% endset %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}