---
title: My Video Favorites
permalink: /media/videos/
description: Browse a handpicked selection of favorite videos, memorable clips, and hidden gems worth revisiting.
---

{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>A curated playlist of videos I love, clips that stick with me, and a few hidden gems worth revisiting.</p>

		{% set mediaListGrid = "grid-list grid-col-3" %}
		{% set media = videos.favourites %}
		{% set href = "/media/videos/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}