---
title: My Webcomic Shelf
permalink: /media/webcomics/
description: 'Explore a curated collection of webcomics: ongoing reads, favorite series, completed stories, and dropped titles.'
---

{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is my webcomic corner. These are the webcomics I'm enjoying, keeping close, or have finished or abandoned along the way.</p>

		{% set media = webcomics %}
		{% set mediaType = "webcomic" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = webcomics.reading %}
		{% set href = "/media/webcomic/status/reading" %}
		{% set sectionTitle = "Currently reading" %}
		{% include "components/media-list-section.html" %}

		{% set media = webcomics.favourites %}
		{% set href = "/media/webcomic/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = webcomics.completed %}
		{% set href = "/media/webcomics/status/completed" %}
		{% set sectionTitle = "Completed" %}
		{% include "components/media-list-section.html" %}

		{% set media = webcomics.dropped %}
		{% set href = "/media/webcomics/status/dropped" %}
		{% set sectionTitle = "dropped" %}
		{% include "components/media-list-section.html" %}

	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}