{% include "components/header.html" %}
<main>
  <h2>Articles</h2>

  <p>These are my essays, tutorials and long-form write-ups.</p>

  <p>Want to be notified whenever I update this page? Get the <a href="/articles/feed.xml"><img class="rss-icon" src="/assets/images/buttons/feed-icon-14x14.png"/> RSS Feed</a> for this page.</p>

  <ul>
    {% for article in collections.article | reverse %}
      <li>
        <time datetime="{{ article.date }}">{{ article.date | formatDate }}</time>:
          <a href="{{ article.url }}">{{ article.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</main>