---
layout: layouts/article.html
---

{% include "components/header.html" %}
{% set previousPost = collections.article | getPreviousCollectionItem %}
{% set nextPost = collections.article | getNextCollectionItem %}

<main id="main-content" class="main-content">
  <article class="main-article">
    <nav>
      {% if nextPost %}
        <a href="{{ nextPost.url }}">&laquo; Next</a>
      {% endif %}
      {% if previousPost %}
        <a href="{{ previousPost.url }}">Prev &raquo;</a>
      {% endif %}
    </nav>

    <h2>{{title}}</h2>

    <div>{{ content | safe }}</div>
  </article>
</main>

{% set rssUrl = "/my-articles/feed.xml" %}
{% include "components/share-footer.html" %}