---
layout: layouts/blog-post.html
---

{% include "components/header.html" %}
{% set previousPost = collections['blog-post'] | getPreviousCollectionItem %}
{% set nextPost = collections['blog-post'] | getNextCollectionItem %}

<main id="main-content" class="main-content">
  <article>
    <nav>
      {% if nextPost %}
        <a class="nxt-btn" href="{{ nextPost.url }}">&laquo; Next</a>
      {% endif %}
      {% if previousPost %}
        <a class="prev-btn" href="{{ previousPost.url }}">Prev &raquo;</a>
      {% endif %}
    </nav>

    <h1>{{title}}</h1>

    <ul class="horizontal">
      {% for tag in tags %}
        {% if tag != "blog-post" %}
          <li>
            <a class="subtitle" href="/tags/{{ tag }}">#{{ tag | unslugify }}</a>
          </li>
        {% endif %}
      {%- endfor %}
    </ul>

    <div>{{ content | safe }}</div>
  </article>
</main>

{% set rssUrl = "/blog/feed.xml" %}
{% include "components/share-footer.html" %}