{% extends "layouts/base.html" %}

{% block content %}
  {% set previousPost = collections['blog-post'] | getPreviousCollectionItem %}
  {% set nextPost = collections['blog-post'] | getNextCollectionItem %}

  <main id="main-content" class="main-content h-entry">

    <article>
      {% set currentYear = date.getFullYear() %}
      {% set breadcrumbs = [
        {
          label: "..",
          link: "/",
          active: true
        }, {
          label: "blog",
          link: "/blog",
          active: true
        }, {
          label: currentYear,
          link: "/blog/#posts-" + date.getFullYear(),
          active: true
        }
      ] %}
      {% include "components/breadcrumbs.html" %}

      <h1 class="p-name">{{title}}</h1>

      <ul class="post-subtitle">
        <li class="post-date">
          Written: {{date|formatDate("LLLL dd, yyyy")}}
        </li>
        <li class="post-stats">
          ~{{ content | timeToRead }}
        </li>
        <li>
          <ul class="post-tags">
            {%- for tag in tags -%}
              {% if tag != "blog-post" %}
                <li>
                  <a href="/blog/tags/{{ tag }}">#{{ tag | unslugify }}</a>
                </li>
              {% endif %}
            {%- endfor -%}
          </ul>
        </li>
      </ul>

      {% if postmedia.videos or postmedia.images%}
        <section class="splide" aria-label="Gallery carousel">
          <div class="splide__track">
            <ul class="splide__list">
              {% if postmedia.images %}
                {% for item in postmedia.images %}
                  <li class="splide__slide">
                    <img src="{{item.url}}" alt="{{item.alt}}"/>
                  </li>
                {% endfor %}
              {% endif %}
              {% if postmedia.videos %}
                {% for item in postmedia.videos %}
                  <li class="splide__slide">
                    {{ item.url | safe }}
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </section>
      {% endif %}

      <div class="e-content">{{ content | safe }}</div>

      <footer id="post-footer" class="post-footer">
        <nav>
          {% if nextPost %}
            <p data-btn-type="Next">
              <a class="nxt-btn" href="{{ nextPost.url }}">
                <span class="navigation-button-icon">🡨</span>
                {{ nextPost.data.title }}</a>
            </p>
          {% endif %}
          {% if previousPost %}
            <p data-btn-type="Previous">
              <a class="prev-btn" href="{{ previousPost.url }}">
                {{ previousPost.data.title }}
                <span class="navigation-button-icon">🡪</span></a>
            </p>
          {% endif %}
        </nav>

        {% include "components/webmentions.html" %}

      </footer>
    </article>
  </main>

{% endblock %}

{% set sidebar %}
<div class="custom-sidebar">
  {% set toc = content | toc | safe %}

  {% if toc.length > 0 %}
    <section class="section-toc">
      <h2>Table of contents</h2>
      {{ content | toc | safe }}
    </section>

  {% endif %}

  <section class="section-share">
    <h2>Share this post</h2>

    {% include "components/share-buttons.html" %}
  </section>
</div>
{% endset %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/post-list.css">
  <link rel="stylesheet" href="/css/blog-post.css">
  <link rel="stylesheet" href="/css/prism/grayscale.css">
  <link rel="stylesheet" href="/css/prism/cherry-blosom.css">
  <link rel="stylesheet" href="/css/prism/dark-blue.css">
  <link rel="stylesheet" href="/css/prism/dark-grayscale.css">
  <link rel="stylesheet" href="/css/prism/halloween.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
  <link id="prism-theme" rel="stylesheet" href="https://npm.elemecdn.com/prism-themes/themes/prism-vs.css">
{% endblock %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script src="/js/blog-post.js" defer></script>
{% endblock %}