{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}
  {% set previousPost = collections['blog-post'] | getPreviousCollectionItem %}
  {% set nextPost = collections['blog-post'] | getNextCollectionItem %}

  <main id="main-content" class="main-content">
    <article>
      <nav>
        {% if nextPost %}
          <a class="nxt-btn" href="{{ nextPost.url }}">&laquo; Next</a>
        {% endif %}
        {% if previousPost %}
          <a class="prev-btn" href="{{ previousPost.url }}">Prev &raquo;</a>
        {% endif %}
      </nav>

      <h1>{{title}}</h1>

      <div class="post-subtitle">
        <p class="post-date">Written: {{date|formatDate("LLLL dd, yyyy")}}</p>
        <span class="post-divider">|</span>
        <p class="post-stats">~{{content|wordStats}}</p>
        <span class="post-divider">|</span>
        <ul class="post-tags">
          {%- for tag in tags -%}
            {% if tag != "blog-post" %}
              <li>
                <a href="/tags/{{ tag }}">#{{ tag | unslugify }}</a>
              </li>
            {% endif %}
          {%- endfor -%}
        </ul>
      </div>

      {% if postmedia.videos or postmedia.images%}
        <section class="splide" aria-label="Gallery carousel">
          <div class="splide__track">
            <ul class="splide__list">
              {% if postmedia.images %}
                {% for item in postmedia.images %}
                  <li class="splide__slide">
                    <img src="{{item.url}}" alt="{{item.alt}}"/>
                  </li>
                {% endfor %}
              {% endif %}
              {% if postmedia.videos %}
                {% for item in postmedia.videos %}
                  <li class="splide__slide">
                    {{ item.url | safe }}
                  </li>
                {% endfor %}
              {% endif %}
            </ul>
          </div>
        </section>
      {% endif %}

      <div>{{ content | safe }}</div>
    </article>
  </main>

  <footer class="post-footer">
    {% set postsList = collections["blog-post"] | getSimilarPosts(page.url, tags) | limit(1) %}

    {% if postsList | length %}
      <h2>You may also like</h2>

      {% include "components/post-list.html" %}
    {% endif %}

    <h2 class="share-title">Share:</h2>

    {% include "components/share-buttons.html" %}

  </footer>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/post-list.css"/>
  <link rel="stylesheet" href="/css/blog-post.css"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css">
  <link
    href="https://npm.elemecdn.com/prism-themes/themes/prism-vs.css"
    rel="stylesheet"
    media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"/>
  <link
    href="https://npm.elemecdn.com/prism-themes/themes/prism-material-dark.css"
    rel="stylesheet"
    media="(prefers-color-scheme: dark)"/>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/base16/3024.min.css"
    media="(prefers-color-scheme: dark)"/>
{% endblock %}
{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>
  <script src="/js/blog-post.js" defer></script>
{% endblock %}