---
layout: layouts/gallery-item.html
---

{% include "components/header.html" %}
{% set previousPost = collections.post | getPreviousCollectionItem %}
{% set nextPost = collections.post | getNextCollectionItem %}

<main id="main-content" class="main-content">
  <article class="window main-article">
    <nav>
      {% if nextPost %}
        <a href="{{ nextPost.url }}">&laquo; Next</a>
      {% endif %}
      {% if previousPost %}
        <a href="{{ previousPost.url }}">Prev &raquo;</a>
      {% endif %}
    </nav>

    <h2>{{title}}</h2>

    <ul class="horizontal">
      {% for tag in tags %}
        {% if tag != 'post' %}
          <li>
            <a class="subtitle" href="/tags/{{ tag }}">#{{ tag | unslugify }}</a>
          </li>
        {% endif %}
      {%- endfor %}
    </ul>

    <section class="splide" aria-label="Gallery carousel">
      <div class="splide__track">
        <ul class="splide__list">
          {% if images %}
            {% for item in images %}
              <li class="splide__slide">
                <img src="{{item.url}}" alt="{{item.alt}}"/>
              </li>
            {% endfor %}
          {% endif %}
          {% if videos %}
            {% for item in videos %}
              <li class="splide__slide">
                {{ item.url | safe }}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </section>

    <div>{{ content | safe }}</div>
  </article>
</main>

{% include "components/share-footer.html" %}