---
layout: layouts/gallery-item.html
---

{% include "components/header.html" %}

<main id="main-content" class="main-content">
  <article class="window main-article">
    <h1>{{title}}</h1>
    <time datetime="{{article.data.date}}">{{ article.data.date | formatDate }}</time>

    <section class="splide" aria-label="Splide Basic HTML Example">
      <div class="splide__track">
        <ul class="splide__list">
          {% if images %}
            {% for item in images %}
              <li class="splide__slide">
                <img src="{{item.url}}" alt="{{item.alt}}"/>
              </li>
            {% endfor %}
          {% endif %}
          {% if videos %}
            {% for item in videos %}
              <li class="splide__slide">
                {{ item.url | safe }}
              </li>
            {% endfor %}
          {% endif %}
        </ul>
      </div>
    </section>
    <div class="window-body">{{ content | safe }}</div>
  </article>
</main>

{% include "components/share-footer.html" %}