{% include "components/header.html" %}

<main>
  <p>Hello, I'm Gary.</p>

  <p>
    I'm a professional <strong>web developer</strong>, self-taught <strong>game designer</strong> and amateur <strong>artist</strong>. I've been an avid <strong>gamer</strong> since I was
    very young, and I have a soft spot for retro and indie games.
  </p>

  <p>
    This is my little corner of the web I've made to host <strong>my stuff</strong> away from social media and third-party platforms.
  </p>

  <h2 class="toc-title">Sitemap</h2>

  <table class="data-table">
    <tbody>
      <tr>
        <td class="no-wrap">
          <a href="/articles">/articles</a>
        </td>
        <td>
          From time to time I write some articles, tutorials or essays on the longer side. These tend to be more
          informative and / or educative.
        </td>
      </tr>
      <tr>
        <td class="no-wrap">
          <a href="/bulletin-board">/bulletin-board</a>
        </td>
        <td>Short-form posts about what's going on with me at the moment. They tend to be more bite-sized, and updated more often.</td>
      </tr>
      <tr>
        <td class="no-wrap">
          <a href="/now">/now</a>
        </td>
        <td>A now page that also serves as a backlog of whatever I'm currently into or I've been into in the past.</td>
      </tr>
      <tr>
        <td class="no-wrap">
          <a href="/cool-sites">/cool-sites</a>
        </td>
        <td>A non-exhaustive list of cool sites I've found while perusing the web. Very random selection of subjects.</td>
      </tr>
      <tr>
        <td class="no-wrap">
          <a href="/apps">/apps</a>
        </td>
        <td>Some useful apps I'm either actively using or I feel comfortable recommending.</td>
      </tr>
      <tr>
        <td class="no-wrap">
          <a href="/quizzes">/quizzes</a>
        </td>
        <td>
          I like quizzes. Sometimes, I find the results interesting and want to preserve them for posterity.
        </td>
      </tr>
      <tr>
        <td class="no-wrap">
          <a href="/old-stuff">/old-stuff</a>
        </td>
        <td>
          The bottom of the barrel of my content. This is some of my oldest stuff available online, and most of it is in <em>spanish</em>, but you can check it out if you want.
        </td>
      </tr>
    </tbody>
  </table>
</main>