{% include "components/header.html" %}

<main>
  <p>Hello, I'm Gary.</p>

  <p>
    I'm a professional web developer, self-taught game designer and amateur artist. I've been an avid gamer since I was
    very young, and I have a soft spot for retro and indie games
  </p>

  <p>
    This is my little corner of the web I've made to host my stuff away from social media and third-party platforms.
  </p>

  <p>Better said by <a href="">32bit cafe</a>:</p>

  <blockquote cite="https://32bit.cafe/mission/">
    We do believe in the
    <a href="https://cheapskatesguide.org/articles/small-internet.html" target="_new">small internet</a>, the
    <a href="https://smallweb.page" target="_new">small web</a>, the
    <a href="https://www.slowweb.io/" target="_new">slow web</a>, the personal web, the anti-corporate web: whatever you
    want to call it, it's grassroots and it's been steadily growing since even before the global pandemic in 2020. We
    want to stop depending on corporations for everything when it comes to our web services, and we want to help promote
    building more infrastructure to the internet as a whole. We want more people to build websites for <em>fun</em>, not
    just to make money. Everyone benefits from an open, free internet, and that includes more self-expression that isn't
    on social media platforms.
  </blockquote>

  <p>Here's some of the stuff you can expect to find in this website:</p>

  <table class="data-table">
    <tbody>
      <tr>
        <td>
          <a href="/articles">/articles</a>
        </td>
        <td>
          From time to time I write some articles, tutorials or essays on the longer side. These tend to be more
          informative and / or educative.
        </td>
      </tr>
      <tr>
        <td>
          <a href="/bulletin-board">/bulletin-board</a>
        </td>
        <td>Short-form posts about what's going on with me at the moment. They tend to be more bite-sized, and updated more often.</td>
      </tr>
      <tr>
        <td>
          <a href="/now">/now</a>
        </td>
        <td>A now page that also serves as a backlog of whatever I'm currently into or I've been into in the past.</td>
      </tr>
      <tr>
        <td>
          <a href="/cool-sites">/cool-sites</a>
        </td>
        <td>A non-exhaustive list of cool sites I've found while perusing the web. Very random selection of subjects.</td>
      </tr>
      <tr>
        <td>
          <a href="/apps">/apps</a>
        </td>
        <td>Some useful apps I'm either actively using or I feel comfortable recommending.</td>
      </tr>
      <tr>
        <td>
          <a href="/quizzes">/quizzes</a>
        </td>
        <td>
          I like quizzes. Sometimes, I find the results interesting and want to preserve them for posterity.
        </td>
      </tr>
      <tr>
        <td>
          <a href="/old-stuff">/old-stuff</a>
        </td>
        <td>
          The bottom of the barrel of my content. This is some of my oldest stuff available online, and most of it is in <em>spanish</em>, but you can check it out if you want.
        </td>
      </tr>
    </tbody>
  </table>

  <h3>More stuff</h3>
  <p>I'm also able to be found on other sites. Check me out at:</p>
  <table class="data-table">
    <tbody>
      <tr>
        <td>
          <a href="https://kulugary.itch.io/">itch.io</a>
        </td>
        <td>I don't have much stuff here yet, but it's where I'll mostly share my game-dev work.</td>
      </tr>
      <tr>
        <td>
          <a href="https://github.com/KuluGary">github</a>
        </td>
        <td>Most of my publicly available code is there. I'm a web dev by trade, so you may find some nifty JavaScript stuff buried somewhere in here.</td>
      </tr>
    </tbody>
  </table>
</main>