{% include "components/header.html" %}

<main id="main-content" class="main-content">
  <div class="window">
    <h2>About this page</h2>

    <div class="window-body">
      <p>
        The shelf functions both as a <a href="https://nownownow.com/about">now page</a> and an archive of sorts for the
        stuff I'm focused in or I have been in the past.
      </p>
      <p>
        Right now, I work full time as a software and website developer. Because of that, my time is limited but I try
        to make the most of what I have.
      </p>
      <p>I have a long backlog of stuff I still need to check out, which you can peek at in the following section.</p>
    </div>
  </div>

  <div class="window">
    <h2>Working on</h2>
    <div class="window-body">
      <p>Here's the stuff I'm working on currently.</p>

      <a href="https://itch.io/jam/sant-jordi-24">
        <h3>Sant Jordi Jam</h3>
        <img class="mt-lg" src="/assets/images/textures/sant-jordi-jam.png" />
      </a>
    </div>
  </div>

  <div class="window">
    <h2>Game List</h2>

    <div class="window-body">
      <p>Here are some of the games I've played or I'm currently playing.</p>
      <p>The "Have played / In progress" section are games that either don't have an ending or are multiplayer</p>
      <p>
        If you wanna check the full list, you can see it at
        <a href="https://howlongtobeat.com/user/KuluGary/games/backlog/1">How Long To Beat</a>
      </p>
      <br />
      <h3>Playing now</h3>

      {% if games.playing %}
      <ul class="list-unstyled">
        {% for game in games.playing %}
        <li class="list-element">
          <img src="{{ game.image }}" />
          <hgroup>
            <h3>
              <a href="{{game.link}}">{{game.title}}</a>
            </h3>
            <p>{{game.platform}}</p>
          </hgroup>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      <p>Nothing currently</p>
      <br />
      {% endif %}

      <details>
        <summary>Backlog</summary>
        <ul class="list-unstyled">
          {% for game in games.backlog %}
          <li class="list-element">
            <img src="{{ game.image }}" />
            <hgroup>
              <h3>
                <a href="{{game.link}}">{{game.title}}</a>
              </h3>
              <p>{{game.platform}}</p>
            </hgroup>
          </li>
          {% endfor %}
        </ul>
      </details>
      <details>
        <summary>Completed</summary>
        <ul class="list-unstyled">
          {% for game in games.completed %}
          <li class="list-element">
            <img src="{{ game.image }}" />
            <hgroup>
              <h3>
                <a href="{{game.link}}">{{game.title}}</a>
              </h3>
              <p>{{game.platform}}</p>
            </hgroup>
          </li>
          {% endfor %}
        </ul>
      </details>
      <details>
        <summary>Have played / In progress</summary>
        <ul class="list-unstyled">
          {% for game in games.custom %}
          <li class="list-element">
            <img src="{{ game.image }}" />
            <hgroup>
              <h3>
                <a href="{{game.link}}">{{game.title}}</a>
              </h3>
              <p>{{game.platform}}</p>
            </hgroup>
          </li>
          {% endfor %}
        </ul>
      </details>
    </div>
  </div>
  <div class="window">
    <h2>Manga</h2>

    <div class="window-body">
      <p>I've read lots of manga in the past, so here's a few I'm reading currently and some of my favourites.</p>

      <br />
      <h3>Reading now</h3>

      <ul id="manga-list" class="list-unstyled">
        {% for manga in manga.reading | filterMangaOnlySafe %}
        <li class="list-element">
          <img src="/assets/images/covers/{{ manga.cover }}" />
          <hgroup>
            <h3>
              <a href="{{manga.link}}">{{manga.title}}</a>
            </h3>
          </hgroup>
        </li>
        {% endfor %}
      </ul>

      <details>
        <summary>Favorite manga</summary>

        <ul class="list-unstyled">
          {% for manga in manga.favourite %}
          <li class="list-element">
            <img src="/assets/images/covers/{{ manga.cover }}" />
            <hgroup>
              <h3>
                <a href="{{manga.link}}">{{manga.title}}</a>
              </h3>
            </hgroup>
          </li>
          {% endfor %}
        </ul>
      </details>
    </div>
  </div>
</main>

<aside class="right-sidebar">
  {% include "components/now.html" %} {% include "components/game-of-the-day.html" %}
</aside>

{% include "components/footer.html" %}
