{% include "components/header.html" %}

<main class="main-content">
  <ul role="list" class="grid-list list-unstyled">
    {% for item in pagination.items %}
      <li class="window">
        <a href="{{item.url}}">
          <figure>
            {% if item.data.thumb %}
              <img src="{{item.data.thumb.url}}" alt="{{ item.data.thumb.alt }}"/>
            {% endif %}
            <figcaption>{{ item.data.title }}</figcaption>
          </figure>
        </a>
      </a>
    </li>
  {% endfor %}
</ul>

<nav class="pagination">
  {% if pagination.href.previous %}
    <a id="button-previous" href="{{ pagination.href.previous }}">&laquo; Previous</a>
  {% endif %}
  {% if pagination.href.next %}
    <a id="button-next" href="{{ pagination.href.next }}">Next &raquo;</a>
  {% endif %}
</nav>
</main>

<section class="right-sidebar">
{% set rssUrl = "/the-gallery/feed.xml"%}
{% include "components/share-section.html" %}
{% include "components/gallery-tags.html" %}
</section>