@layer reset, base, layout, typography, native, components;

@layer base {
  html,
  body {
    min-height: 100dvh;
    font-size: var(--font-size-2);
    font-family: var(--font-family-main);
  }

  body {
    background-color: var(--clr-bg-main);
    color: var(--clr-text-main);
  }

  * {
    scrollbar-color: var(--clr-text-main) var(--clr-bg-main);
  }

  main * {
    scrollbar-width: thin;
  }

  p,
  li,
  dd {
    line-height: 1.8;
  }

  ::selection {
    background-color: var(--clr-selection-bg, var(--clr-accent-secondary));
    color: var(--clr-selection, var(--clr-bg-main));
  }

  ol,
  ul {
    & > li {
      & ul,
      & ol {
        padding-inline-start: var(--size-3);
      }
    }
  }

  ol:not(.unstyled) {
    counter-reset: item;

    & > li {
      & > p {
        display: inline;
      }

      &:before {
        content: counters(item, ".") ". ";
        counter-increment: item;
        display: inline;
      }
    }
  }

  strong {
    font-weight: var(--font-weight-6);
  }

  table td {
    padding-inline-end: var(--size-3);
  }

  ul:not(.unstyled) {
    list-style-type: square;

    padding-inline-start: var(--size-4);
  }

  blockquote {
    font-family: var(--font-transitional);
    color: hsl(from var(--clr-text-main) h s l / 0.65);
    padding-inline: 1em;
    font-style: italic;
    position: relative;
    line-height: 2;

    &:before {
      content: "“";
      font-size: 4em;
      line-height: 0.1em;
      margin-inline-end: var(--size-2);
      vertical-align: -0.4em;
    }

    & > p {
      &:first-of-type {
        display: inline;
      }
    }
  }

  & hr {
    border: none;
    margin-block: var(--spacing-loose);
    border-top: var(--border-size-1) solid currentColor;

    &.separator-1 {
      border-top: var(--border-size-2) solid var(--clr-text-faint-2);
    }

    &.separator-tight {
      margin-block: var(--spacing-tight);
    }
  }

  a {
    color: var(--clr-accent-secondary);
    transition: color 75ms;
    text-decoration-color: hsl(from var(--clr-accent-secondary) h s l / 0.375);
    text-decoration-thickness: 2px;

    &:has(s) {
      cursor: not-allowed;
    }

    &:hover,
    &:focus {
      color: var(--clr-accent-primary);
      text-decoration-color: hsl(from var(--clr-accent-primary) h s l / 0.375);
      outline: none;

      &[href^="http"]:not(.icon-link):not(.dead-link):after,
      &[href^="https"]:not(.icon-link):not(.dead-link):after {
        content: url("/assets/images/icons/external-link-accent-hover.svg");
      }
    }
  }

  a.unstyled {
    color: inherit;
    text-decoration-color: inherit;
    text-decoration-thickness: 1px;
    text-underline-offset: 6px;
    line-height: var(--font-lineheight-2);

    &[href^="http"]:not(.icon-link):not(.dead-link):after,
    &[href^="https"]:not(.icon-link):not(.dead-link):after {
      content: url("/assets/images/icons/external-link.svg");
    }

    &:hover,
    &:focus {
      text-decoration-thickness: 2px;
      text-underline-offset: 8px;
    }
  }

  a[href^="http"]:not(.icon-link):not(.dead-link):after,
  a[href^="https"]:not(.icon-link):not(.dead-link):after {
    content: url("/assets/images/icons/external-link-accent.svg");
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-inline-start: var(--size-1);
  }

  b {
    font-weight: var(--font-weight-7);
  }

  cite,
  em {
    font-style: italic;
  }

  code,
  kbd {
    font-family: var(--font-monospace-slab-serif);
  }

  img.pixelated,
  picture source.pixelated {
    image-rendering: pixelated;
  }
}

@layer layout {
  html {
    scrollbar-gutter: stable;
  }

  body {
    width: 100%;
    max-width: 40em;
    box-sizing: border-box;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    padding-inline: var(--spacing-main);
  }

  .gscrollbar-fixer {
    margin-right: auto !important;
  }

  h1,
  .heading-1,
  h2,
  .heading-2,
  h3,
  .heading-3,
  h4,
  .heading-4,
  h5,
  .heading-5,
  h6,
  .heading-6,
  p,
  img,
  picture,
  details[open] summary,
  *:not(li) > ul,
  *:not(li) > ol,
  dl,
  table,
  audio,
  video,
  iframe,
  pre,
  dd,
  figcaption,
  blockquote {
    margin-block-end: var(--spacing-main);
  }

  p > img,
  blockquote > p,
  details:not([open]) p {
    margin-block-end: 0;
  }

  img:has(+ figcaption),
  figure:has(picture + figcaption) img,
  figure:has(a + figcaption) a img {
    margin-block-end: var(--spacing-tight);
  }

  dt {
    margin-block-end: var(--spacing-tight);
  }

  ul:not(.unstyled) li:not(:last-child) {
    margin-block-end: var(--spacing-tight);
  }

  table th,
  table td,
  table caption {
    padding-block-end: var(--spacing-main);
    padding-inline-end: var(--spacing-main);
  }
}

@layer typography {
  h1,
  .heading-1,
  h2,
  .heading-2,
  h3,
  .heading-3,
  h4,
  .heading-4,
  h5,
  .heading-5,
  h6,
  .heading-6 {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-7);
    line-height: 1;
    margin-top: -0.1lh; /** Hacky solution for fitting the text spacing to the letters */

    @supports (text-box: trim-both) {
      /* text-box: trim-both cap alphabetic; */
      margin-top: 0;
    }

    & a {
      color: inherit;
    }
  }

  h1,
  .heading-1 {
    font-size: var(--font-size-7);
  }

  h2,
  .heading-2 {
    font-size: var(--font-size-6);
  }

  h3,
  .heading-3 {
    font-size: var(--font-size-5);
  }

  h4,
  .heading-4 {
    font-size: var(--font-size-4);
  }

  .font-accent {
    font-family: var(--font-accent);
    font-size: var(--font-size-4);
    font-style: italic;
  }

  figcaption {
    font-style: italic;
    color: var(--clr-text-faint-1);
  }
}

@layer components {
  #skip-links {
    display: flex;
    list-style-type: none;
    column-gap: var(--size-4);
    transform: translateY(-200%);
    position: absolute;
    top: 0;

    & li {
      padding: 0;
      margin: 0;
    }

    &:focus,
    &:focus-within {
      transform: translateY(0%);
    }
  }

  #sitemast {
    text-align: center;
    line-height: 1.1;
    font-weight: var(--font-weight-7);
    margin-block: var(--spacing-loose) var(--spacing-tight);
    height: fit-content;

    & > * {
      grid-area: 1 / 1;
    }

    & a {
      display: block;
      height: fit-content;
      width: fit-content;
      margin-top: auto;
      margin-block-end: var(--spacing-main);
      margin-inline: auto;
    }

    & svg {
      max-width: 100%;
    }
  }

  #sitemast {
    & a {
      position: relative;
      color: inherit;
    }
  }

  #sitenav {
    margin-block-end: var(--spacing-loose);
  }

  #sitenav a {
    color: inherit;
    font-family: var(--font-monospace-slab-serif);
    font-size: var(--font-size-3);
  }

  #sitenav ul {
    display: flex;
    justify-content: center;
    gap: var(--size-4);
    font-size: var(--font-size-2);
    text-transform: uppercase;
    font-weight: var(--font-weight-7);
    margin-block-end: 0;
  }

  #sitenav ul li:nth-of-type(n) {
    transform: rotate(-1.25deg);
  }

  #sitenav ul li:nth-of-type(2n) {
    transform: rotate(1.25deg);
  }

  #sitenav ul li:hover {
    transform: rotate(0);
  }

  .basic-article {
    h2,
    h3 {
      margin-block-end: 0;
      font-size: var(--font-size-5);
      font-weight: var(--font-weight-7);
    }

    h3 a {
      text-decoration-color: inherit;
    }

    .basic-article-subtitle {
      display: inline-block;
      font-size: var(--font-size-1);
      font-variant-caps: small-caps;
    }

    & > p {
      margin-block-start: var(--spacing-tight);
    }

    .tag-list {
      display: inline-block;
      font-size: var(--font-size-1);
      margin-block: 0;

      & li {
        display: inline-block;

        & + li {
          margin-inline-start: var(--size-2);
        }
      }
    }
  }

  nav.pagination ul {
    display: flex;
    justify-content: center;
    column-gap: var(--size-4);
  }

  #sitefooter {
    color: var(--clr-text-faint-1);

    & hr {
      margin-block: var(--spacing-tight) var(--spacing-main);
    }

    & p {
      margin-block-end: var(--spacing-tight);
    }

    & ul {
      display: flex;
      column-gap: var(--spacing-tight);
      margin-bottom: 0;
      width: fit-content;
      margin-inline: auto;
    }

    & .social-icons {
      column-gap: var(--spacing-tight);

      & a {
        color: var(--clr-text-faint-1);
      }

      & svg {
        width: 1.5em;
        height: 1.5em;
      }
    }

    & .webring a {
      font-size: var(--font-size-1);
      &::after {
        content: "";
        width: 0;
      }
    }
  }

  .journal-actions,
  .blog-actions {
    display: flex;
    column-gap: var(--size-2);
    justify-content: end;
    margin: 0;
  }

  .blog-nav,
  .journal-nav {
    display: flex;
    align-items: flex-end;

    & ul {
      margin-inline-start: auto;
      /* margin-block: 0; */

      & li {
        margin: 0;
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    & .anchor-link {
      font-size: 80%;
      transition:
        transform 150ms,
        opacity 150ms;
      display: inline-block;
      transform: translateX(-100%);
      opacity: 0;
      text-decoration: none;
    }

    &:hover .anchor-link {
      transform: translate(0);
      opacity: 1;
    }
  }

  ul.social-icons {
    display: flex;
    column-gap: var(--spacing-main);
    width: fit-content;
    margin-inline: auto;
  }

  .dead-link {
    text-decoration: line-through;
    opacity: 0.75;
  }

  .wayback-link {
    text-decoration: none;
  }
}
