body {
  display: grid;
  grid-template-areas:
    "header header header"
    "main-content main-content main-content"
    "footer footer footer";
  grid-template-columns: repeat(3, 1fr);
}

body > .header {
  grid-area: header;
}

body > .main-content {
  grid-area: main-content;
}

body > .footer {
  grid-area: footer;
}
