/* LAYOUT */
body {
  display: grid;
  grid-template-areas:
    "header"
    "main-content"
    "right-sidebar"
    "footer";
}

/* tablet breakpoint */
@media (min-width: 768px) {
  body {
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "header header header"
      "main-content main-content right-sidebar"
      "footer footer footer";
  }
}

body > .header {
  grid-area: header;
}

body > .main-content {
  grid-area: main-content;
}

body > .left-sidebar {
  grid-area: left-sidebar;
}

body > .right-sidebar {
  grid-area: right-sidebar;
}

body > .footer {
  grid-area: footer;
}
