---
title: About Me
description: Lorem ipsum
permalink: /about/
layout: /base.html
css:
  - /css/pages/about.css
---

{% block content %}
	<main id="main-content" class="main-grid">
		<section>
			<p>Hi, I'm Gary and I'm the curator, author and webmaster of <a href="/">{{ metadata.title }}</a>.</p>

			<p>I've been on the Internet one way or another since the mid-2000s. Before people congregated into centralized social media, I started off as part of some obscure game-developer forums where I first shared my games.</p>

			<p>I'm an eclectic person with a lot of interests, some of which I shared online over the years. I've shared my <a href="https://www.deviantart.com/kulugary" target="_blank">art</a>, my <a href="https://kulugary.itch.io/" target="_blank">games</a>, <a href="https://www.youtube.com/@kulugary/videos" target="_blank">videos</a>, <a href="https://github.com/KuluGary" target="_blank">software</a> and lots of stuff I've yet to post. I have an archive of <a href="/old-stuff">old stuff</a> from even earlier on, if you want to check it out.</p>

			<p>I am a web-developer for a day job, and I've worked both for enterprise and start-ups.</p>
		</section>
	</main>

	{% include "components/main-footer.html" %}
{% endblock content %}