---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - blog-post
    - genrePages
    - mediaCategories
    - postsByYear
    - recentActivity
    - all
permalink: /blog/tags/{{tag}}.html
eleventyComputed:
  title: tagged "{{ tag | unslugify }}"
---
{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <h2>Tagged "{{tag | unslugify}}"</h2>

    <p>This is everything tagged <strong>{{ tag | unslugify }}</strong> found in this website.</p>

    {% set postDate = collections[tag] | getNewestCollectionItemDate %}
    <p>Last updated: <time datetime="{{ postDate | formatDate('yyyy-LL-dd') }}">{{ postDate | formatDate('MMMM dd, yyyy') }}</time>.</p>

    {% set taglist = collections[tag] %}
    {% set postsList = taglist | reverse %}

    {% include "components/post-list.html" %}
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
  <link rel="stylesheet" href="/css/components/post-list.css">
{% endblock %}