---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{tag}}.html
layout: layouts/blog.html
eleventyComputed:
  title: tagged "{{ tag | unslugify }}"
---

{% include "components/header.html" %}

<main>
  <h2>Tagged "{{tag | unslugify}}"</h2>

  <p>This is everything tagged <strong>{{ tag | unslugify }}</strong> found in this website.</p>

  <p>Last updated: {{ collections[tag] | getNewestCollectionItemDate | formatDate }}.</p>

  <ul>
    {% set taglist = collections[tag] %}
    {% for post in taglist | reverse %}
      <li>
        <time datetime="{{ post.date }}">{{ post.date | formatDate }}</time>: <a href="{{ post.url }}">{{ post.data.title }}</a>
      </li>
    {% endfor %}
  </ul>
</main>
{% include "components/footer.html" %}