---
title: cool sites
layout: layouts/cool-sites.html
permalink: /cool-sites/
---

{% include "components/header.html" %}

<main>
  <h1>Cool sites</h1>

  <p>I've been around for a while, and I've seen some websites. These are just a few of my favourites.</p>

  {% for category in sites %}
    <section>
      <h2>{{ category.title }}</h2>

      <ul>
        {% for site in category.sites %}
          <li>
            <a href="{{site.url}}" target="_blank" rel="noopener noreferrer">{{site.title}}</a>

            <p>{{site.description | safe}}</p>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</main>

{% include "components/footer.html" %}