---
permalink: feed.xml
eleventyExcludeFromCollections: true
metadata:
  title: Feed
  subtitle: "A complete feed of all the updates for this website."
  language: en
  url: https://gary.place/
  author:
    name: Gary
    email: kululu.gary@gmail.com
---
<?xml version="1.0" encoding="utf-8"?>

{% set postsList = collections.posts %}

<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="{{ metadata.language }}">
  <title type="text">{{ metadata.title }}</title>
  <subtitle type="text">{{ metadata.subtitle }}</subtitle>

  <id>{{metadata.url}}{{ permalink }}</id>
  <link rel="alternate" type="text/html" href="{{ metadata.url }}"/>
  <link rel="self" type="application/atom+xml" href="{{ metadata.url }}{{ permalink }}"/>

  <updated>{{ postsList | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <author>
    <name>{{ metadata.author.name }}</name>
    <email>{{ metadata.author.email }}</email>
  </author>
  <generator uri="https://www.11ty.dev/">Eleventy.js</generator>
  {% for post in postsList %}
    {% if loop.index0 < 10 %}
      {% set absolutePostUrl %}
      {{ post.url | url | absoluteUrl(metadata.url) }}
      {% endset %}

      {% set category = post.data.category or post.category %}

      {% if category == "blog" or category == "journal" %}

        {% set translations = collections.postsWithTranslations | getTranslations(post.data.postSlug, post.url) %}

        <entry>
          <title>{{ post.data.title }}</title>

          <link href="{{ absolutePostUrl }}"/>
          {% if translations.length > 0 %}
            {% for translation in translations %}
              {% set absoluteTranslationUrl = translation.url | url | absoluteUrl(metadata.url) %}

              <link rel="alternate"
                hreflang="{{ translation.data.lang }}"
                type="text/html"
                href="{{ absoluteTranslationUrl }}"/>
            {% endfor %}
          {% endif %}

          <updated>{{ post.date | dateToRfc3339 }}</updated>
          <id>{{ absolutePostUrl }}</id>

          <content type="html">
            {{ post.content | htmlToAbsoluteUrls(absolutePostUrl) }}
            {% if translations.length > 0 %}
              &lt;hr&gt;
              &lt;p&gt;
                &lt;strong&gt;Translations:&lt;/strong&gt;
                {% for translation in translations %}
                {% set absoluteTranslationUrl = translation.url | url | absoluteUrl(metadata.url) %}
                  &lt;a href="{{ absoluteTranslationUrl }}" hreflang="{{ translation.data.lang }}"&gt;{{ translation.data.lang | upper }}&lt;/a&gt;{% if not loop.last %} · {% endif %}
              {% endfor %}
              &lt;/p&gt;
            {% endif %}
          </content>
        </entry>
      {% endif %}
    {% endif %}
  {% endfor %}
</feed>