---
title: Games
permalink: /game/
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of all my games, organized by href.<//games/status/p>

		{% set media = games %}
		{% set mediaType = "games" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = games.playing %}
		{% set href = "/games/status/playing" %}
		{% set sectionTitle = "Currently playing" %}
		{% include "components/media-list.html" %}

		{% set media = games.favourites %}
		{% set href = "/games/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list.html" %}

		{% set media = games.completed %}
		{% set href = "/games/status/completed" %}
		{% set sectionTitle = "Completed" %}
		{% include "components/media-list.html" %}

		{% set media = games.played %}
		{% set href = "/games/status/played" %}
		{% set sectionTitle = "Played" %}
		{% include "components/media-list.html" %}

		{% set media = games.backlog %}
		{% set href = "/games/status/backlog" %}
		{% set sectionTitle = "Backlog" %}
		{% include "components/media-list.html" %}

		{% set media = games.retired %}
		{% set href = "/games/status/retired" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}