---
pagination:
  data: collections.genrePages
  size: 1
  alias: genreGroup
permalink: "/{{ genreGroup.mediaType | slugify }}/{{ genreGroup.genre | slugify }}/"
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}
	<main>
		<h1>"{{ genreGroup.mediaType }}" tagged "{{ genreGroup.genre }}"</h1>

		<section>
			<ul class="grid-list grid-col-5">
				{% for item in genreGroup.items %}
					<li>
						<article>
							<figure>

								<img src="{{ item.thumbnail }}"/>

								<figcaption>
									<a href="{{ item.link }}">
										{{ item.title }}
									</a>
								</figcaption>
							</figure>
						</article>
					</li>
				{% endfor %}
			</ul>
		</section>
	</main>
	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}