---
title: KuluGary's site
description: An old web personal site
permalink: /
---

{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <p>Hello, I'm Gary.</p>

    <p>
      I'm a <strong>technology enthusiast</strong> with a predilection for vintage
      programs; an <strong>artistic cognoscente</strong> who's dabbled in
      illustration, 3D and pixel art; and a
      <strong>neophyte humanist</strong> with a growing regard for the social
      sciences.
    </p>

    <p>
      This site is for personal use and as such, both it's content and form are
      subject to change sporadically and frequently.
    </p>
    
    <section>
      <h2>Blog</h2>

      <p>These are my latest posts written this year.</p>

      {% set postsList = collections['blog-post'] | reverse | limit(3) %}
      {% include "components/post-list.html" %}

      <a href="/blog">Read more...</a>
    </section>
  </main>
  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}
{% block script %}
  <script src="/js/settings.js"></script>
{% endblock %}