---
layout: layouts/home.html
title: kulugary
permalink: /
---

{% include "components/header.html" %}

<main>
  <p>Hello, I'm Gary.</p>

  <p>I'm a guy with a long list of interests. I dabble in <strong>art</strong>, <strong>technology</strong>, and enjoy musing
  about <strong>philosophy</strong>, <strong>psychology</strong> or <strong>sociology</strong>. This site is intended for personal 
  use, as an outlet for my <strong>creativity</strong> and <strong>curiosity</strong> and 
  I may share anything I find interesting in both <strong>science</strong> and <strong>humanities</strong>.</p>

  <h2>Blog</h2>

  <p>This are my latest full-size blog articles.</p>

  {% set collection = collections.article | reverse | limit(3) %}
  {% include "components/post-list.html" %}

  <a href="/articles">Read more</a>

  <h2>Microblog</h2>
  {% set collection = collections.post | reverse | limit(3) %}
  {% include "components/post-list.html" %}
  <a href="/bulletin-board">Read more</a>
</main>

{% include "components/footer.html" %}