---
title: KuluGary's site
description: An old web personal site
permalink: /
---

{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <p>
      I'm a <strong>technology enthusiast</strong> with a predilection for vintage programs; an
      <strong>artistic cognoscente</strong> who's dabbled in illustration, 3D and pixel art; and a
      <strong>neophyte humanist</strong> with a growing regard for the social sciences.
    </p>

    <p>
      This site is for personal use and as such, both it's content and form are subject to change sporadically and
      frequently.
    </p>

    <section class="recent-activity">
      <h2><a href="/recent-activity">Recent activity</a> {% include "components/media-list-buttons.html" %}</h2>

      {% set media = collections['recentMedia'] | limit(5) %}
      {% set mediaListGrid = "grid-list grid-col-5" %}
      {% include "components/media-list.html" %}
    </section>
  </main>
  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/components/header.css" />
  <link rel="stylesheet" href="/css/components/footer.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
  <script src="/js/media-list.js" defer></script>
{% endblock %}