---
title: Manga
permalink: /manga/
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of all my manga, organized by status.</p>

		{% set media = manga %}
		{% set mediaType = "manga" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = manga.reading | removeUnsafeManga %}
		{% set href = "/manga/status/reading" %}
		{% set sectionTitle = "Currently reading" %}
		{% include "components/media-list-section.html" %}

		{% set media = manga.plan_to_read | removeUnsafeManga %}
		{% set href = "/manga/status/plan_to_read" %}
		{% set sectionTitle = "Plan to read" %}
		{% include "components/media-list-section.html" %}

		{% set media = manga.favourite | removeUnsafeManga %}
		{% set href = "/manga/status/favourite" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = manga.completed | removeUnsafeManga %}
		{% set href = "/manga/status/completed" %}
		{% set sectionTitle = "Completed" %}
		{% include "components/media-list-section.html" %}

		{% set media = manga.on_hold | removeUnsafeManga %}
		{% set href = "/manga/status/on_hold" %}
		{% set sectionTitle = "On hold" %}
		{% include "components/media-list-section.html" %}

		{% set media = manga.dropped | removeUnsafeManga %}
		{% set href = "/manga/status/dropped" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}