---
title: Manga
permalink: /manga/
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of all my manga, organized by status.</p>

		{% set media = manga %}
		{% set mediaType = "manga" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = manga.reading | filterMangaOnlySafe %}
		{% set href = "/manga/status/reading" %}
		{% set sectionTitle = "Currently reading" %}
		{% include "components/media-list.html" %}

		{% set media = manga.favourite | filterMangaOnlySafe %}
		{% set href = "/manga/status/favourite" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list.html" %}

		{% set media = manga.completed | filterMangaOnlySafe %}
		{% set href = "/manga/status/completed" %}
		{% set sectionTitle = "Completed" %}
		{% include "components/media-list.html" %}

		{% set media = manga.dropped | filterMangaOnlySafe %}
		{% set href = "/manga/status/dropped" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}