---
pagination:
  data: collections.genrePages
  size: 1
  alias: genreGroup
permalink: "/{{ genreGroup.mediaType | slugify }}/genre/{{ genreGroup.genre | slugify }}/"
eleventyComputed:
  title: '"{{ genreGroup.mediaType | unslugify }}" tagged "{{ genreGroup.genre | unslugify }}"'
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}
	<main>
		{% set breadcrumbs = [
			{
				label: genreGroup.mediaType | unslugify,
				link: "/" + genreGroup.mediaType,
				active: true
			}, {
				label: genreGroup.genre | unslugify,
				link: genreGroup.mediaType + "/status/" + genreGroup.genre
			}
		] %}
		{% include "components/breadcrumbs.html" %}

		{% set media = genreGroup.items | uniqueById %}
		{% set mediaListGrid = "grid-list grid-col-3" if genreGroup.mediaType === "Video" else ("grid-list grid-col-4" if genreGroup.mediaType === "Music" else "grid-list grid-col-5") %}
		{% set href = "/{{ genreGroup.mediaType }}/genre/{{ genreGroup.genre }}" %}
		{% set sectionTitle = title %}

		{% include "components/media-list-section.html" %}

	</main>
	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}