---
pagination:
  data: collections.mediaCategories
  size: 1
  alias: categoryGroup
permalink: "/{{ categoryGroup.mediaType | slugify }}/status/{{ categoryGroup.category | slugify }}/"
eleventyComputed:
  title: '{{ categoryGroup.mediaType | unslugify }} in {{ categoryGroup.category | unslugify }}'
  description: 'These are my {{ categoryGroup.mediaType | unslugify }} in my {{ categoryGroup.category | unslugify }} list.'
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}
	<main>
		{% set breadcrumbs = [
			{
				label: categoryGroup.mediaType,
				link: "/" + categoryGroup.mediaType,
				active: true
			}, {
				label: categoryGroup.category,
				link: categoryGroup.mediaType + "/status/" + categoryGroup.category
			}
		] %}
		{% include "components/breadcrumbs.html" %}

		{% set media = categoryGroup.items | uniqueById %}
		{% set mediaListGrid = "grid-list grid-col-3" if categoryGroup.mediaType === "videos" else ("grid-list grid-col-4" if categoryGroup.mediaType === "music" else "grid-list grid-col-5") %}
		{% set href = "/{{ categoryGroup.mediaType }}/status/{{ categoryGroup.category }}" %}
		{% set sectionTitle = title %}

		{% include "components/media-list-section.html" %}

	</main>
	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}