---
title: Movies
permalink: /movie/
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of all my movies, organized by status.</p>

		<p>Top genres:
			{% for genre in movies | frequentMediaTags | limit(10) %}
				{% if genre %}
					<a href="/movies/{{ genre.tag | slugify }}">#{{ genre.tag | slugify }}</a>
				{% endif %}
			{% endfor %}
		</p>

		{% if movies.watchlist and movies.watchlist.length > 0 %}
			<section>
				<h2 id="watchlist">Currently watching</h2>

				<ul class="grid-list grid-col-5">
					{% for movie in movies.watchlist %}
						<li>
							<article>
								<figure>
									<img src="{{ movie.thumbnail }}"/>

									<figcaption>
										<a href="{{ movie.link }}">
											{{ movie.title }}
										</a>
									</figcaption>
								</figure>
							</article>
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}

		{% if movies.favourites and movies.favourites.length > 0 %}
			<section>
				<h2 id="favourites">Favourites</h2>
				<ul class="grid-list grid-col-5">
					{% for movie in movies.favourites %}
						<li>
							<article>
								<figure>
									<img src="{{ movie.thumbnail }}"/>

									<figcaption>
										<a href="{{ movie.link }}">
											{{ movie.title }}
										</a>
									</figcaption>
								</figure>
							</article>
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}

		{% if movies.seen and movies.seen.length > 0 %}
			<section>
				<h2 id="seen">seen</h2>
				<ul class="grid-list grid-col-5">
					{% for movie in movies.seen %}
						<li>
							<article>
								<figure>
									<img src="{{ movie.thumbnail }}"/>

									<figcaption>
										<a href="{{ movie.link }}">
											{{ movie.title }}
										</a>
									</figcaption>
								</figure>
							</article>
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}

		{% if movies.dropped and movies.dropped.length > 0 %}
			<section>
				<h2 id="dropped">dropped</h2>
				<ul class="grid-list grid-col-5">
					{% for movie in movies.dropped %}
						<li>
							<article>
								<figure>
									<img src="{{ movie.thumbnail }}"/>

									<figcaption>
										<a href="{{ movie.link }}">
											{{ movie.title }}
										</a>
									</figcaption>
								</figure>
							</article>
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}