---
title: Movies
permalink: /movies/
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of all my movies, organized by status.</p>

		{% set media = movies %}
		{% set mediaType = "movies" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = movies.watchlist %}
		{% set href = "/games/status/watchlist" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list-section.html" %}

		{% set media = movies.favourites %}
		{% set href = "/games/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list-section.html" %}

		{% set media = movies.seen %}
		{% set href = "/games/status/seen" %}
		{% set sectionTitle = "Seen" %}
		{% include "components/media-list-section.html" %}

		{% set media = movies.dropped %}
		{% set href = "/games/status/dropped" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}