---
title: Music
permalink: /music/
---

{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of all my games, organized by status.</p>

		<p>Top genres:
			{% for genre in music | frequentMediaTags | limit(10) %}
				{% if genre %}
					<a href="/music/{{ genre.tag | slugify }}">#{{ genre.tag | slugify }}</a>
				{% endif %}
			{% endfor %}
		</p>

		{% if music.favourites and music.favourites.length > 0 %}
			<section>
				<h2 id="playing">Favourite music</h2>

				<ul class="grid-list grid-col-4">
					{% for music in music.favourites %}
						<li>
							<article>
								<figure>
									<img src="{{ music.thumbnail }}"/>

									<figcaption>
										<a href="{{ music.link }}">
											{{ music.title }}
										</a>
									</figcaption>
								</figure>
							</article>
						</li>
					{% endfor %}
				</ul>
			</section>
		{% endif %}

	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}