---
title: What I'm Doing Now
permalink: /now/
description: "See what I'm currently focused on: projects, experiments, and curiosities occupying my attention right now."
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a <a href="https://nownownow.com/about">now page</a>.</p>

		<p>A snapshot of what I'm focused on right now: projects, experiments, and whatever's taking up my attention at the moment.</p>

		<h2>Current Status</h2>
		{% set currentStatus = status.entry[0] %}

		<article id="current-status">
			<header>
				<p>{{currentStatus.title}}</p>
				<time datetime="{{ currentStatus.published | formatDate('yyyy-LL-dd') }}">{{ currentStatus.published | formatDate('MMMM dd, yyyy') }}</time>
			</header>

			<ul class="subtitle bar-separated">
				<li>
					<a href="/status">Status</a>
				</li>
				<li>
					<a href="{{currentStatus.link["@_href"]}}">status.cafe</a>
				</li>
			</ul>
		</article>

		{% set media = games.playing %}
		{% set mediaListGrid = "grid-list grid-col-5" %}
		{% set href = "/media/games/status/playing" %}
		{% set sectionTitle = "Currently playing" %}
		{% include "components/media-list-section.html" %}

		{% set media = manga.reading | removeUnsafeManga %}
		{% set mediaListGrid = "grid-list grid-col-5" %}
		{% set href = "/media/manga/status/reading" %}
		{% set sectionTitle = "Currently reading" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.watchlist %}
		{% set mediaListGrid = "grid-list grid-col-5" %}
		{% set href = "/media/shows/status/watchlist" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list-section.html" %}

		{% set media = webcomics.reading %}
		{% set href = "/media/webcomic/status/reading" %}
		{% set sectionTitle = "Currently reading" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/now.css">
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/post-list.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}