---
title: now
layout: layouts/now.html
permalink: /now/
---

{% include "components/header.html" %}
{% set currentProject = collections.game_dev[collections.game_dev.length - 1] %}

<main>
  <h2>About this page</h2>

  <p>
    This is both a <a href="https://nownownow.com/about">now page</a> and an archive of sorts for the stuff I'm into or
    i've been into in the past.
  </p>
  <p>I have a long backlog of stuff I still need to check out, which you can peek at in the following section.</p>

  <h3 id="work-in-progress">Working on</h3>

  <ul>
    <li>
      <a href="{{currentProject.url}}">{{currentProject.data.title}}</a> -
      <small>
        <time datetime="{{ currentProject.data.date }}">{{ currentProject.data.date | formatDate }}</time>:
      </small>
      <p>{{currentProject.data.description}}</p>
    </li>
  </ul>

  <h3 id="games">Game List</h3>

  <p>Here are some of the games I've played or I'm currently playing.</p>
  <p>The "Have played / In progress" section are games that either don't have an ending or are multiplayer</p>
  <p>
    If you wanna check the full list, you can see it at
    <a href="https://howlongtobeat.com/user/KuluGary/games/backlog/1">How Long To Beat</a>.
  </p>

  <details>
    <summary>
      Playing now
    </summary>

    {% if games.playing %}
      <ul class="item-list">
        {% for game in games.playing %}
          <li>
            <img class="thumbnail" src="{{ game.image }}"/>

            <div>
              <a href="{{game.link}}" target="_blank" rel="noopener noreferrer">{{game.title}}</a>
              <p class="subtitle">{{game.platform}}</p>
              <p>{{ game.description | safe }}</p>
            </div>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>Nothing currently</p>
    {% endif %}
  </details>

  <details>
    <summary>
      Backlog
    </summary>

    <ul class="item-list">
      {% for game in games.backlog %}
        <li>
          <img class="thumbnail" src="{{ game.image }}"/>

          <div>
            <a href="{{game.link}}" target="_blank" rel="noopener noreferrer">{{game.title}}</a>
            <p class="subtitle">{{game.platform}}</p>
            <p>{{ game.description | safe }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>
      Completed
    </summary>
    <ul class="item-list">
      {% for game in games.completed %}
        <li>
          <img class="thumbnail" src="{{ game.image }}"/>

          <div>
            <a href="{{game.link}}" target="_blank" rel="noopener noreferrer">{{game.title}}</a>
            <p class="subtitle">{{game.platform}}</p>
            <p>{{ game.description | safe }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>
      Have played / In progress
    </summary>

    <ul class="item-list">
      {% for game in games.custom %}
        <li>
          <img class="thumbnail" src="{{ game.image }}"/>

          <div>
            <a href="{{game.link}}" target="_blank" rel="noopener noreferrer">{{game.title}}</a>
            <p class="subtitle">{{game.platform}}</p>
            <p>{{ game.description | safe }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </details>

  <h3 id="manga">Manga</h3>

  <p>I've read lots of manga in the past, so here's a few I'm reading currently and some of my favourites.</p>

  <details>
    <summary>
      Reading now
    </summary>
    <ul class="item-list">
      {% for manga in manga.reading | filterMangaOnlySafe %}
        <li>
          <img class="thumbnail" src="/assets/images/covers/{{ manga.cover }}"/>
          <div>
            <a href="{{manga.link}}" target="_blank" rel="noopener noreferrer">{{manga.title}}</a>
            <p class="subtitle">{{manga.author}}</p>
            <p>{{ manga.description | safe }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </details>

  <details>
    <summary>
      Favorite manga
    </summary>

    <ul class="item-list">
      {% for manga in manga.favourite | filterMangaOnlySafe %}
        <li>
          <img class="thumbnail" src="/assets/images/covers/{{ manga.cover }}"/>

          <div>
            <a href="{{manga.link}}" target="_blank" rel="noopener noreferrer">{{manga.title}}</a>
            <p class="subtitle">{{manga.author}}</p>
            <p>{{ manga.description | safe }}</p>
          </div>
        </li>
      {% endfor %}
    </ul>
  </details>
</main>

{% include "components/footer.html" %}