---
title: now
permalink: /now/
description: This now page holds a general view into what I'm focused on at the moment.
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>{{ description }} <a href="https://nownownow.com/about">What is a now page?</a>
		</p>

		<h2>Current Status</h2>
		{% set currentStatus = status.entry[0] %}

		<article id="current-status">
			<header>
				<p>{{currentStatus.title}}</p>
				<time datetime="{{ currentStatus.published | formatDate('yyyy-LL-dd') }}">{{ currentStatus.published | formatDate('MMMM dd, yyyy') }}</time>
			</header>

			<ul class="subtitle bar-separated">
				<li>
					<a href="/status">Status</a>
				</li>
				<li>
					<a href="{{currentStatus.link["@_href"]}}">status.cafe</a>
				</li>
			</ul>

		</article>

		{% set media = games.playing %}
		{% set mediaListGrid = "grid-list grid-col-5" %}
		{% set href = "/games/status/playing" %}
		{% set sectionTitle = "Currently playing" %}
		{% include "components/media-list-section.html" %}

		{% set media = manga.reading | removeUnsafeManga %}
		{% set mediaListGrid = "grid-list grid-col-5" %}
		{% set href = "/manga/status/reading" %}
		{% set sectionTitle = "Currently reading" %}
		{% include "components/media-list-section.html" %}

		{% set media = shows.watchlist %}
		{% set mediaListGrid = "grid-list grid-col-5" %}
		{% set href = "/shows/status/watchlist" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list-section.html" %}

		{% set media = movies.watchlist %}
		{% set mediaListGrid = "grid-list grid-col-5" %}
		{% set href = "/movies/status/watchlist" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list-section.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/now.css">
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
	<link rel="stylesheet" href="/css/components/post-list.css"/>
	<link rel="stylesheet" href="/css/components/media-list.css"/>
{% endblock %}

{% block script %}
	<script src="/js/media-list.js" defer></script>
{% endblock %}