---
title: quizzes
layout: layouts/quizzes.html
permalink: /quizzes/
---

{% include "components/header.html" %}
{% macro quizzItem(quizz) %}
  <li>
    {% if quizz.url %}
      <a href="{{ quizz.url }}" target="_blank" rel="noopener noreferrer">{{ quizz.title }}</a>
    {% else %}
      {{ quizz.title }}
    {% endif %}

    {% if quizz.children %}
      <ul>
        {% for item in quizz.children %}
          {{ quizzItem(item) }}
        {% endfor %}
      </ul>
    {% endif %}
  </li>
{% endmacro %}

<main>
  <ul>
    {% for quizz in quizzes %}
      {{ quizzItem(quizz) }}
    {% endfor %}
  </ul>
</main>

{% include "components/footer.html" %}