---
title: "Reviews"
pagination:
  data: collections.gamesWithReviews
  size: 5
  alias: games
  reverse: true
permalink: "/reviews/{% if pagination.pageNumber > 0 %}{{ pagination.pageNumber + 1 }}/{% endif %}/"
layout: base.html
css:
  - /css/pages/reviews.css
---

{% block content %}
	<main  id="main-content" class="main-grid">

		<ul class="journal-actions unstyled">
			<li>
				<a href="/journal/search">Search</a>
			</li>
			<li>
				<a href="/journal/feed.xml">RSS</a>
			</li>
		</ul>

		<hr class="separator-1 separator-tight">

		{% for game in games %}
			<article>
				<h2 id="{{ game.title | slugify }}">{{ game.title }}</h2>
				<div class="subtitle">

					<p>{{ game.metadata.platforms  }}
					</p>
					{% set curr = game.review.rating %}
					{% include "components/star-rating.html" %}
				</div>

				{{ game.review.html | safe }}

				{% if game.metadata.lastPlayed %}
					<footer>

						<p>Last played <time datetime="{{ game.metadata.lastPlayed }}">{{ game.metadata.lastPlayed | formatDate("LLL dd yyyy")}}</time>
						</p>

						<a href="{{ game.review.url }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24">
								<path d="M0 0h24v24H0z" fill="none"/>
								<path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 15l6-6m-4-3l.463-.536a5 5 0 0 1 7.071 7.072L18 13m-5 5l-.397.534a5.07 5.07 0 0 1-7.127 0a4.97 4.97 0 0 1 0-7.071L6 11"/>
							</svg>
						</a>

					</footer>
				{% endif %}
			</article>
		{% endfor %}

		<footer>
			{% include "components/pagination.html" %}
		</footer>
	</main>
	{% include "components/main-footer.html" %}
{% endblock content %}