---
title: Shows
permalink: /shows/
---
{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of all my shows, organized by status.</p>

		{% set media = shows %}
		{% set mediaType = "shows" %}
		{% set mediaListGrid = "grid-list grid-col-5" %}

		{% include "components/media-tag-list.html" %}

		{% set media = shows.watchlist %}
		{% set href = "/shows/status/watching" %}
		{% set sectionTitle = "Currently watching" %}
		{% include "components/media-list.html" %}

		{% set media = shows.favourites %}
		{% set href = "/shows/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list.html" %}

		{% set media = shows.seen %}
		{% set href = "/shows/status/seen" %}
		{% set sectionTitle = "Seen" %}
		{% include "components/media-list.html" %}

		{% set media = shows.dropped %}
		{% set href = "/shows/status/dropped" %}
		{% set sectionTitle = "Dropped" %}
		{% include "components/media-list.html" %}
	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}