---
title: status
permalink: /status/
description: status
---

{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>

    A list of all my status over at <a href="http://status.cafe">status.cafe</a>.

    <h2>Status list</h2>

    <ul id="status-list">
      {% for currStatus in status.entry %}
        <li>
          <article id="current-status">
            <header>
              <p>
                {{currStatus.title}}
              </p>
              <time datetime="{{ currStatus.published | formatDate('yyyy-LL-dd') }}">{{ currStatus.published | isoStringToRelativeTime }}</time>
            </header>

            <ul class="subtitle bar-separated">
              <li>
                <a href="/status">Status</a>
              </li>
              <li>
                <a href="{{currStatus.author.uri}}">{{currStatus.author.name}}</a>
              </li>
            </ul>

          </article>
        </li>
      {% endfor %}
    </ul>
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/status.css"/>
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}