---
title: status
permalink: /status/
description: status
---

{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <h1>Status</h1>

    <ul id="status-list"></ul>
  </main>
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/status.css"/>
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}

{% block script %}
  <script src="/js/status.js"></script>
{% endblock %}