---
title: My Status Updates
permalink: /status/
description: "See what I'm currently up to: a live feed of thoughts, activities, and status updates."
---

{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <h2>Status list</h2>
    <p>A live glimpse at my status updates, straight from the digital soapbox.</p>

    <ul id="status-list">
      {% for currStatus in status.entry %}
        <li>
          <article id="current-status">
            <header>
              <p>
                {{currStatus.title}}
              </p>
              <time datetime="{{ currStatus.published | formatDate('yyyy-LL-dd') }}">{{ currStatus.published | isoStringToRelativeTime }}</time>
            </header>

            <ul class="subtitle bar-separated">
              <li>
                <a href="/status">Status</a>
              </li>
              <li>
                <a href="{{currStatus.author.uri}}">{{currStatus.author.name}}</a>
              </li>
            </ul>

          </article>
        </li>
      {% endfor %}
    </ul>
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/status.css"/>
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}