---
title: uses
layout: layouts/uses.html
permalink: /uses/
description: This is a uses page, which includes a list of tools, applications, hardware and services that I use frequently.
---

{% include "components/header.html" %}

<main>
  <h1>Uses</h1>
  <p>This is a <a href="https://uses.tech/">uses page</a>, which includes a list of <strong>tools</strong>, <strong>applications</strong>, <strong>hardware</strong> and <strong>services</strong> that I use frequently.</p>

  {% for category in uses %}
    <section>
      <h2>{{ category.title }}</h2>
      <p>{{ category.description }}</p>

      <ul>
        {% for item in category.children %}
          <li>
            {% if item.url %}
              <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>: {{ item.description }}
            {% else %}
              <strong>{{ item.title }}</strong>: {{ item.description }}
            {% endif %}
          </li>

        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</main>

{% include "components/footer.html" %}