---
title: uses
permalink: /uses/
description: This is a uses page, which includes a list of tools, applications, hardware and services that I use frequently.
---
{% extends "layouts/base.html" %}

{% block content %}
  {% include "components/header.html" %}

  <main>
    <p>This is a <a href="https://uses.tech/">uses page</a>, which includes a list of <strong>tools</strong>, <strong>applications</strong>, <strong>hardware</strong> and <strong>services</strong> that I use frequently.</p>

    {% for category in uses %}
      <section id="{{ category.title | slugify }}">
        <h2>{{ category.title }}</h2>
        <p>{{ category.description }}</p>

        <dl>
          {% for item in category.children %}
            <dt>
              {% if item.url %}
                <a href="{{ item.url }}" target="_blank" rel="noopener noreferrer">{{ item.title }}</a>:
              {% else %}
                <strong>{{ item.title }}</strong>:
              {% endif %}

            </dt>
            <dd>{{ item.description }}</dd>
          {% endfor %}
        </dl>
      </section>
    {% endfor %}
  </main>

  {% include "components/footer.html" %}
{% endblock %}

{% block stylesheet %}
  <link rel="stylesheet" href="/css/uses.css">
  <link rel="stylesheet" href="/css/components/header.css"/>
  <link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}