---
title: Videos
permalink: /videos/
---

{% extends "layouts/base.html" %}

{% block content %}
	{% include "components/header.html" %}

	<main>
		<p>This is a comprehensive list of my favourite videos.</p>

		{% set mediaListGrid = "grid-list grid-col-3" %}
		{% set media = videos.favourites %}
		{% set href = "/videos/status/favourites" %}
		{% set sectionTitle = "Favourites" %}
		{% include "components/media-list.html" %}

	</main>

	{% include "components/footer.html" %}
{% endblock content %}

{% block stylesheet %}
	<link rel="stylesheet" href="/css/components/header.css"/>
	<link rel="stylesheet" href="/css/components/footer.css"/>
{% endblock %}