body {
  padding-inline: var(--size-4);
}

#content-nav a {
  color: inherit;
  text-decoration-color: inherit;
  text-decoration-thickness: 1px;

  &:hover,
  &:focus {
    text-decoration-thickness: 2px;
  }
}

.post-footer .post-meta {
  display: inline;
  margin-inline-start: auto;
}

.post-footer .link-list {
  display: flex;
  justify-content: flex-end;
  gap: var(--size-4);
  padding: 0;
  margin-top: var(--size-4);
}

.post-footer .post-tags {
  display: inline;

  & > * {
    display: inline;
  }
}

.post-footer .post-nav {
  & > * {
    display: block;
    margin-block-start: var(--size-2);
  }
}

img {
  max-width: 100%;
}

@media (--lg-n-below) {
  #content > aside {
    position: relative;
    border: var(--border-thin);
    padding: var(--size-2);

    &:before {
      content: "Note";
      position: absolute;
      top: -0.75ch;
      left: var(--size-1);
      background-color: var(--clr-bg-main);
      font-variant-caps: small-caps;
    }
  }

  .post-footer .interactions {
    display: flex;
    justify-content: center;
    gap: var(--size-4);
    margin-block-end: var(--size-4);

    & > * {
      margin: 0;
    }
  }
}

@media (--xl-n-above) {
  @layer layout {
    body {
      --content-article-width: 40rem;
      --content-grid: [content] var(--content-article-width) [aside] auto;

      display: grid;
      grid-template-columns: var(--main-grid-template-columns);
    }

    #sitemast {
      grid-column: 1 / -1;
    }

    #sitenav {
      grid-column: 1 / -1;
      grid-row: 2;
    }

    body,
    #content,
    .post-footer {
      column-gap: var(--size-6);
    }

    #content-nav,
    #main-content {
      grid-row: 3;
      grid-column: content;
    }

    #content-nav {
      position: sticky;
      top: calc(var(--size-6) * -1);
      height: fit-content;
      grid-column: 1;
      margin-inline-start: var(--size-6);
      margin-inline-start: auto;
      width: fit-content;
    }

    #main-content {
      grid-column: 2 / span 2;
    }

    #content {
      display: grid;
      grid-template-columns: var(--content-grid);
    }

    #content > :not(aside) {
      grid-column: content;
    }

    #content > aside {
      grid-column: aside;

      grid-row-start: var(--start);
      grid-row-end: span var(--span);
      align-self: var(--align, start);

      max-width: 24ch;
      font-style: italic;
      font-size: var(--font-size-sm);
      margin-inline-start: 0;
      margin-block-start: 0;

      &.bottom {
        margin-top: auto;
      }
    }

    .post-footer {
      display: grid;
      grid-template-columns: var(--content-grid);
    }

    .post-footer .footer-data {
      grid-column: content;
      text-align: right;
    }

    .post-footer .post-nav {
      display: grid;
      grid-template-columns: [next] 1fr [prev] 1fr;
      margin-block-start: var(--size-4);

      & .prev,
      & .next {
        margin-block: 0;
        text-wrap: balance;
      }

      & .prev {
        grid-column: prev;
      }

      & .next {
        grid-column: next;
        text-align: left;
      }
    }

    .post-footer .interactions {
      position: relative;
      grid-column: aside;
      margin-block-start: var(--size-1);
      padding-inline-start: var(--size-2);

      &:before {
        content: "☜";
        position: absolute;
        top: var(--size-0);
        left: calc(var(--size-4) * -1);
        font-size: var(--font-size-4);
      }

      & > * {
        margin-block: 0;
        font-size: var(--font-size-1);
      }
    }
  }

  @layer typography {
    & h1,
    & h2,
    & h3,
    & h4,
    & h5,
    & h6 {
      text-wrap: balance;
    }

    & h1 {
      max-width: 25ch;
    }

    .post-footer .interactions {
      font-size: var(--font-size-1);
    }

    .post-footer nav {
      color: inherit;
      font-weight: var(--font-weight-7);
    }
  }

  @layer components {
    #content-nav .toc {
      & li {
        & > a {
          opacity: 0.4;

          &.active {
            opacity: 1;
          }
        }

        &:before {
          opacity: 0.4;
        }

        &:has(> a.active) {
          &:before {
            opacity: 1;
          }
        }
      }

      &:hover {
        & * {
          opacity: 1;
        }

        & li:before {
          opacity: 1;
        }
      }

      ol ol {
        margin-inline-start: var(--spacing-lg);
      }
    }

    #content-nav h2 {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: var(--font-weight-1);
    }

    h1,
    h2,
    h3,
    h4,
    h5 {
      & .anchor-link {
        font-size: 80%;
        transition:
          transform 150ms,
          opacity 150ms;
        display: inline-block;
        transform: translateX(-100%);
        opacity: 0;
        text-decoration: none;
      }

      &:hover .anchor-link {
        transform: translate(0);
        opacity: 1;
      }
    }
  }
}
