main {
  max-width: var(--sizing-main-content);
  margin-inline: auto;
  container-type: inline-size;

  & section {
    &#header {
      display: grid;
      margin-block-end: var(--spacing-lg);

      @media (--viewport-tablet) {
        grid-template-columns: 75% 1fr;
      }

      & > div {
        container-type: inline-size;

        & h2,
        & > p {
          display: inline-block;
          font-family: var(--font-family-site-title);
          text-transform: uppercase;
          font-size: max(4rem, 35cqw);
          line-height: 0.55;
          margin-block-start: var(--spacing-lg);
        }

        & > p {
          color: var(--clr-accent-primary);
        }
      }

      & > p {
        text-transform: uppercase;
        font-family: var(--font-family-title);
        font-weight: bold;
        font-size: 3.33cqw;
        line-height: 1.1;
        font-weight: var(--font-weight-thin);

        @media (--viewport-mobile) {
          display: none;
        }
      }
    }

    &#navigation {
      display: flex;
      justify-content: space-between;
      margin-block: var(--spacing-md);

      & ul {
        display: flex;

        & li {
          &:not(:first-of-type) {
            padding-inline-start: var(--sizing-md);

            &::before {
              content: "·";
              margin-inline-end: var(--sizing-xs);
            }
          }
        }
      }
    }

    &#blog {
      display: grid;
      grid-template-columns: 75% 1fr;

      & > aside {
        border-inline-start: var(--border-base);
        border-block-start: var(--border-base);

        & h3 {
          font-family: var(--font-family-title);
          font-size: var(--font-size-sm);
          text-transform: uppercase;
          color: var(--clr-accent-primary);

          & a {
            font-weight: var(--font-weight-thin);
          }
        }

        & > section {
          padding-block: var(--spacing-md);
          padding-inline-start: var(--spacing-md);

          + section {
            border-block-start: var(--border-base);
          }
        }

        & ol {
          counter-reset: most-popular;

          & li {
            padding-block: var(--spacing-xs);
            counter-increment: section;
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr;
            column-gap: var(--spacing-md);

            &::before {
              content: "0" counter(section);
              grid-row: 1 / span 2;
            }

            & p {
              font-size: var(--font-size-sm);
            }
          }
        }

        & ul {
          & li {
            margin-block: var(--spacing-md);
          }
        }

        & dl {
          display: grid;
          grid-template-columns: 1fr auto;
          row-gap: var(--spacing-sm);
          margin-block-start: var(--spacing-md);

          & dt {
            display: flex;
            align-items: center;

            &::after {
              content: "";
              border-bottom: 3px dotted var(--clr-text-main);
              flex: 1;
              margin-inline: var(--sizing-md);
            }
          }

          & dd {
            text-align: right;
            text-wrap: nowrap;
          }
        }
      }

      & > #newest-article {
        grid-column: 1 / span 2;

        display: grid;
        grid-template-areas: "img content";
        grid-template-rows: auto 1fr auto;
        grid-template-columns: auto 1fr;

        column-gap: var(--spacing-lg);
        margin-block-start: var(--spacing-md);
        padding-block: var(--spacing-md);

        & > *:not(img) {
          grid-area: content;
          grid-row: auto;
        }

        & h2 {
          font-size: 3rem;
          font-family: var(--font-family-title);
          text-transform: uppercase;
        }

        & > div {
          height: 100%;
          font-size: var(--font-size-sm);
          margin-block-start: var(--spacing-sm);
          text-align: right;

          & > * {
            display: inline;
          }

          & .post-tags {
            display: inline;
            padding-block-end: var(--spacing-sm);

            & > * {
              display: inline;
            }
          }
        }

        & > img {
          grid-area: img;
          grid-row: 1 / span 3;
          width: 100%;
          aspect-ratio: 16 / 9;
          object-fit: cover;
          border: var(--border-base);

          &:not(:hover) {
            filter: grayscale(100);
            mix-blend-mode: multiply;
          }
        }
      }

      & > #post-list {
        border-block-start: var(--border-base);

        & > li + li {
          border-block-start: var(--border-base);
        }

        & > li {
          display: grid;
          grid-template-columns: auto 1fr;
          grid-template-rows: auto 1fr auto;
          column-gap: var(--spacing-md);
          padding-block: var(--spacing-lg);
          padding-inline-end: var(--spacing-md);

          & > img {
            grid-row: 1 / span 3;
            border: var(--border-base);
            object-fit: cover;

            &:not(:hover) {
              filter: grayscale(100);
              mix-blend-mode: multiply;
            }
          }

          & h3 {
            font-family: var(--font-family-title);
            text-transform: uppercase;
            font-size: var(--font-size-lg);
            margin-block-end: var(--spacing-md);

            & a {
              font-weight: var(--font-weight-regular);
            }
          }

          & .footer {
            text-align: right;
            font-size: var(--font-size-sm);
            margin-block-start: auto;
            & * {
              display: inline;
            }
          }
        }
      }
    }
  }

  & #blog-navigation {
    & ul {
      display: flex;
      justify-content: center;

      & li {
        margin-block: var(--spacing-lg);
        width: var(--sizing-xl);
        aspect-ratio: 1 / 1;
        display: grid;
        place-content: center;

        & span {
          background-color: var(--clr-accent-primary);
          color: var(--clr-bg-main);
          border-radius: 100%;
          aspect-ratio: 1 / 1;
          display: grid;
          place-content: center;
          width: var(--sizing-xl);
          height: var(--sizing-xl);
        }
      }
    }
  }
}
