body {
  position: relative;
  display: grid;
  grid-template-columns: var(--main-grid-template-columns);
  grid-template-rows: repeat(4, min-content) auto repeat(4, min-content);
  grid-gap: 0 2em;
}

main {
  grid-column: main;
  grid-row: 2 / -5;
}

& #blog-navigation {
  & ul {
    display: flex;
    justify-content: center;

    & li {
      margin-block: var(--spacing-lg);
      width: var(--sizing-xl);
      aspect-ratio: 1 / 1;
      display: grid;
      place-content: center;

      & span {
        background-color: var(--clr-accent-primary);
        color: var(--clr-bg-main);
        border-radius: 100%;
        aspect-ratio: 1 / 1;
        display: grid;
        place-content: center;
        width: var(--sizing-xl);
        height: var(--sizing-xl);
      }
    }
  }
}
