@layer layout {
  body {
    --content-article-width: 40rem;
    --content-grid: [content] var(--content-article-width) [aside] auto;
    display: grid;
    grid-template-columns: var(--main-grid-template-columns);
  }

  body,
  #content,
  .post-footer {
    column-gap: var(--spacing-2xl);
  }

  #content-nav,
  #sitenav,
  #main-content {
    grid-row: 2;
  }

  #content-nav {
    position: sticky;
    top: calc(var(--spacing-2xl) * -1);
    height: fit-content;
  }

  #main-content {
    grid-column: 2 / span 2;
  }

  #content {
    display: grid;
    grid-template-columns: var(--content-grid);

    & > :not(aside) {
      grid-column: content;
    }

    & > aside {
      grid-column: aside;

      grid-row-start: var(--start);
      grid-row-end: span var(--span);
      align-self: var(--align, start);

      max-width: 24ch;
      font-style: italic;
      font-size: var(--font-size-sm);
      margin-inline-start: 0;

      &.bottom {
        margin-top: auto;
      }
    }
  }

  .post-footer {
    display: grid;
    grid-template-columns: var(--content-grid);

    & .footer-data {
      grid-column: content;
      text-align: right;

      & .post-meta {
        display: inline-block;
        margin-inline-start: auto;
      }

      & .post-tags {
        display: inline-block;

        & > * {
          display: inline;
        }
      }

      & .post-nav {
        display: grid;
        grid-template-columns: [next] 1fr [prev] 1fr;
        margin-block-start: var(--spacing-xl);

        & .prev {
          grid-column: prev;
          margin-block: 0;
          text-wrap: balance;
        }

        & .next {
          grid-column: next;
          text-align: left;
          margin-block: 0;
          text-wrap: balance;
        }
      }

      & .link-list {
        display: flex;
        gap: var(--spacing-md);
        padding: 0;
        list-style: none;
        margin-top: var(--spacing-md);
        justify-content: flex-end;
      }
    }

    & .interactions {
      grid-column: aside;
      margin-top: var(--spacing-sm);
      position: relative;
      font-style: italic;
      margin-block-start: var(--spacing-md);

      & > * {
        margin-block: 0;
      }

      &:before {
        content: "☜";
        position: absolute;
        top: calc(var(--spacing-xs) * -1);
        left: calc(var(--spacing-xl) * -1);
        font-size: 1.5rem;
      }
    }
  }
}

@layer typography {
  & h1 {
    text-wrap: balance;
    max-width: 25ch;
  }

  .post-footer {
    & .interactions {
      font-size: var(--font-size-sm);
    }
  }
}

@layer components {
  #content-nav {
    margin-inline-start: var(--spacing-lg);
    width: fit-content;
    margin-inline-start: auto;

    & .toc {
      & li {
        & > a {
          color: var(--clr-text-main);
          opacity: 0.4;

          &.active {
            opacity: 1;
          }
        }

        &:before {
          opacity: 0.4;
        }

        &:has(> a.active) {
          &:before {
            opacity: 1;
          }
        }
      }

      &:hover {
        & * {
          opacity: 1;
        }

        & li:before {
          opacity: 1;
        }
      }

      ol ol {
        margin-inline-start: var(--spacing-lg);
      }
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    text-wrap: balance;

    & .anchor-link {
      font-size: 80%;
      transition: transform 150ms, opacity 150ms;
      display: inline-block;
      transform: translateX(-100%);
      opacity: 0;
      text-decoration: none;
    }

    &:hover .anchor-link {
      transform: translate(0);
      opacity: 1;
    }
  }

  .post-footer {
    & .post-nav {
      & a {
        color: inherit;
        font-weight: var(--font-weight-bold);
      }
    }
    & .link-list {
      list-style-type: none;

      & a {
        color: inherit;
      }
    }
  }
}
