body {
  margin: 0 auto;
  max-width: var(--sizing-main-content);

  display: grid;
  grid-template-areas:
    "header"
    "main-nav"
    "main"
    "secondary-nav"
    "aside"
    "footer";

  @media (--viewport-tablet) {
    grid-template-areas: "header header header" "main-nav main-nav main-nav" "secondary-nav main aside" "footer footer footer";
    grid-template-columns:
      minmax(10ch, 1fr)
      minmax(40ch, 3fr)
      minmax(10ch, 1fr);

    grid-template-rows:
      minmax(10rem, auto)
      auto
      1fr
      minmax(10rem, auto);
  }

  & > header {
    grid-area: header;
  }

  & > main {
    grid-area: main;
  }

  & > aside {
    grid-area: aside;

    &#secondary-nav {
      grid-area: secondary-nav;
    }
  }

  & > nav {
    grid-area: main-nav;
  }

  & > footer {
    grid-area: footer;
  }
}

body > header {
  --clr-selection-bg: transparent;
  --clr-selection: var(--clr-accent-primary);

  background-color: var(--clr-text-main);
  color: var(--clr-bg-main);
  height: fit-content;

  margin-block: calc(var(--spacing-md) / 2);
  padding-block: calc(var(--spacing-md) / 2);

  & > div {
    container-type: inline-size;
  }

  & #site-title {
    font-family: var(--font-family-site-title);
    font-size: max(4rem, 35cqw);
    margin: 0;
    padding: 0;
    line-height: 0.7;
  }

  & #site-description {
    display: none;
    text-transform: uppercase;
    font-family: var(--font-family-title);
    font-weight: bold;
    font-size: 14cqw;
    line-height: 1.15;
    font-weight: var(--font-weight-thin);
  }

  @media (--viewport-tablet) {
    display: grid;
    grid-template-columns: 75% 1fr;
    column-gap: var(--spacing-md);

    & #site-description {
      display: block;
    }
  }
}

body > nav {
  background-color: var(--clr-accent-primary);
  margin-block-end: var(--spacing-lg);

  & s {
    cursor: not-allowed;
  }
}

body > main {
  padding-inline: var(--spacing-lg);

  & > p + p {
    margin-block: var(--spacing-md);
  }

  & > section + section {
    margin-block: var(--spacing-md);
  }

  & > #about {
    & > p + p {
      margin-block: var(--spacing-md);
    }

    & > img {
      float: left;
      margin-inline-end: var(--spacing-md);
    }
  }

  & > #articles {
    & h2 {
      font-size: min(3rem, 10cqw);
      display: flex;
      align-items: center;
      margin-block-end: var(--spacing-lg);
      font-weight: bold;

      &::after {
        content: "";
        flex: 1;
        border-bottom: 0.5rem solid var(--clr-text-main);
        margin-inline-start: var(--spacing-md);
      }
    }

    & > ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: var(--spacing-md) var(--spacing-sm);
      margin-block-start: var(--spacing-md);
      padding-inline-end: var(--spacing-md);

      & li {
        &:not(:hover) img {
          filter: grayscale(100%);
          mix-blend-mode: multiply;
        }

        &:first-of-type {
          grid-column: 1 / span 2;

          .subtitle {
            & * {
              display: inline;
            }

            margin-block-end: var(--sizing-md);
          }

          & article {
            & img {
              float: left;
              margin-inline-end: var(--spacing-md);
              border: var(--border-base);
              transition: filter 50ms;
            }

            & h3 {
              & > a {
                display: block;
                font-family: var(--font-family-title);
                font-weight: var(--font-weight-thin);
                font-size: var(--font-size-xl);
                margin-block-end: var(--spacing-md);
              }
            }
          }
        }

        &:not(:first-of-type) {
          & article {
            & img {
              float: left;
              margin-inline-end: var(--spacing-sm);
            }

            & p {
              margin-block: var(--sizing-sm);
            }

            & a {
              font-size: var(--font-size-xl);
              font-family: var(--font-family-title);
              font-weight: var(--font-weight-thin);
            }
          }
        }
      }

      @media (--viewport-tablet) {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  & > #gaming {
    & h2 {
      font-size: 3rem;
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      line-height: 1;
      margin-block-end: var(--spacing-lg);
      white-space: nowrap;
      font-weight: var(--font-weight-bold);

      &::after {
        content: "";
        flex: 1;
        border-bottom: 0.5rem solid var(--clr-text-main);
        margin-inline-end: var(--spacing-md);
      }
    }

    & > ul {
      overflow: hidden;

      & h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      & > li {
        position: relative;
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto auto 1fr;
        gap: var(--spacing-sm);
        margin-block: var(--spacing-md);

        & > .game-cover-container {
          grid-column: 1;
          grid-row: 1 / span 3;
          display: grid;
          align-items: start;
          grid-template-rows: 1fr;
          object-fit: contain;
          overflow: hidden;
        }

        & .flex-group {
          display: flex;
          column-gap: var(--spacing-sm);
        }

        & p {
          font-size: var(--font-size-sm);
        }
      }

      & img {
        grid-column: 1;
        grid-row: 1;
        z-index: 1;

        background-color: var(--clr-accent-primary);
        place-content: center;
        text-align: center;
        object-fit: cover;

        &.game-cover {
          border: var(--border-base);
        }
      }
    }

    & ul.achievement-list {
      grid-column: 1 / span 2;
      display: grid;
      grid-template-columns: repeat(auto-fill, 48px);
      grid-auto-rows: 48px;
      gap: var(--spacing-xs);
      box-sizing: content-box;

      & li {
        max-width: 48px;
        max-height: 48px;

        &:has(p) {
          border: var(--border-base);
          display: grid;
          place-content: center;
        }

        & figure {
          figcaption {
            visibility: hidden;
            height: 0;
            width: 0;
          }
        }
      }
    }
  }

  & > #start-exploring {
    & > ul {
      margin-block: var(--spacing-md);

      & li + li {
        margin-block: var(--spacing-md);
      }
    }
  }
}

body > #main-aside {
  @media (--viewport-tablet) {
    border-inline-start: var(--border-base);
    padding-inline-start: var(--spacing-md);
  }

  & > section {
    padding-inline-end: 0;

    & h2 {
      font-family: var(--font-family-title);
    }
  }

  & dl {
    display: grid;
    grid-template-columns: 1fr auto;

    & dt {
      display: flex;
      align-items: center;

      & a {
        max-width: 14ch;
      }

      &::after {
        content: "";
        border-bottom: 3px dotted var(--clr-text-main);
        flex: 1;
        margin-inline: var(--sizing-md);
        /* min-width: 4ch; */
      }
    }

    & dd {
      text-align: right;
      text-wrap: nowrap;
      align-self: center;
    }
  }

  & > #statistics {
    & ul {
      li {
        display: flex;
        text-wrap: nowrap;

        & > :first-child {
          flex: 1;
          display: flex;
          align-items: center;

          &::after {
            content: "";
            border-bottom: 3px dotted var(--clr-text-main);
            flex: 1;
            margin-inline: var(--sizing-md);
            /* min-width: 4ch; */
          }
        }
      }
    }
  }

  & > #about {
    & > h2,
    & > #pronouns {
      display: inline-block;
    }

    & > #pronouns {
      font-size: var(--font-size-sm);
    }

    & > p + p {
      margin-block-end: var(--spacing-sm);
    }
  }

  & > #now {
    & li {
      display: flex;
      align-items: center;
      column-gap: var(--spacing-sm);

      & + li {
        margin-block: var(--spacing-sm);
      }

      & p {
        font-size: var(--font-size-sm);
      }
    }
  }
}

body > aside {
  & h2 {
    font-family: var(--font-family-title);
    margin-block-end: var(--spacing-xs);
  }

  & > section {
    padding-block: var(--spacing-md);
    border-block-start: var(--border-thin);

    @media (--viewport-tablet) {
      border-block: 0;

      &:first-of-type {
        padding-block-start: 0;
      }

      + section {
        border-block-start: var(--border-thin);
      }
    }
  }
}

body > #secondary-nav {
  @media (--viewport-tablet) {
    border-inline-end: var(--border-base);
    & > section {
      margin-inline-end: var(--spacing-md);
    }
  }

  & textarea {
    display: block;
  }
}

body > footer {
  background-color: var(--clr-text-main);
  color: var(--clr-bg-main);
  padding: var(--spacing-lg);
  margin-block-start: var(--spacing-md);
  font-size: var(--font-size-sm);
}

img {
  mix-blend-mode: darken;
}
