img {
  max-width: 100%;
}

.basic-article img,
.basic-article video,
.basic-article iframe {
  display: block;
  margin-inline: auto;
}

h2,
h3,
h4,
h5,
h6 {
  font-size: var(--font-size-4);
}

.basic-article + .basic-article {
  border-block-start: var(--border-size-2) solid var(--clr-text-faint-2);
  padding-block-start: var(--size-8);
}

.basic-article footer {
  display: flex;
  align-items: center;
  justify-content: end;
  color: var(--clr-text-faint);
  font-size: var(--font-size-1);
  column-gap: var(--size-1);
  margin-block-start: var(--size-4);

  & > * {
    margin: 0;
    padding: 0;
  }

  & ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    column-gap: var(--size-1);
  }

  & ul li:has(+ li)::after {
    content: ",";
    margin-inline-start: calc(var(--size-00) * 0.75);
  }
}
