/* @layer layout {
  #search {
    & form > * {
      margin-block: var(--size-1);
    }
  }
  form {
    margin-block: var(--size-6);
  }
}

@layer native {
  & input,
  & button {
    border: none;

    background-color: var(--clr-bg-main);
    border: var(--border-thin);
    font: inherit;
    padding: var(--size-2);
  }

  & input {
    width: 100%;
  }
}

@layer components {
  & .pagefind-ui__message {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-1);

    @media (--md-n-below) {
      font-size: 1.25rem;
    }

    &::before {
      content: ">";
      font-family: monospace;
      font-size: larger;
    }
  }

  & ol {
    & li {
      &::before {
        content: "";
      }

      & .pagefind-ui__result-title {
        font-family: var(--font-family-title);
        font-size: var(--font-size-3);

        & a {
          color: inherit;
        }
      }

      & .pagefind-ui__result-excerpt {
        position: relative;

        &:before,
        &:after {
          content: "…";
        }
      }

      & + li {
      }
    }
  }

  noscript {
    padding: 0.5rem 1rem;
    background-color: var(--background-color-alt);
    display: block;
    width: fit-content;
    max-width: 80%;
    margin-inline: auto;
  }
} */

/* #search {
  --pagefind-ui-scale: 1;
  --pagefind-ui-primary: #fff;
  --pagefind-ui-text: #fff;
  --pagefind-ui-background: #111;
  --pagefind-ui-border: #fff;
  --pagefind-ui-tag: #222;
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 0;
  --pagefind-ui-font: inherit;
}

#search {
  width: 100%;
}

#search .pagefind-ui__search-input {
  background: var(--clr-bg-main);
  color: var(--clr-text-main);
  border: var(--border-thin);
  font-family: var(--font-family-main);
  font-size: var(--font-size-1);
}

#search .pagefind-ui__search-input::placeholder {
  color: var(--clr-text-faint-1);
  opacity: 1;
}

#search .pagefind-ui__message {
  color: #fff;
}

#search .pagefind-ui__result {
  border-top: 1px solid #fff;
  padding: 2rem 0;
}

#search .pagefind-ui__result-title {
  color: #fff;
}

#search .pagefind-ui__result-link {
  color: #fff;
  text-decoration: none;
}

#search .pagefind-ui__result-link:hover {
  text-decoration: underline;
}

#search .pagefind-ui__result-excerpt {
  color: #aaa;
}

#search .pagefind-ui__result-excerpt mark {
  background: #ffff00;
  color: #000;
}

#search .pagefind-ui__drawer {
  color: #fff;
}

#search .pagefind-ui__button {
  color: #fff;
  background: #111;
  border-color: #fff;
} */
