@layer layout {
  #search {
    & form > * {
      margin-block: var(--size-1);
    }
  }
  form {
    margin-block: var(--size-6);
  }
}

@layer native {
  & input,
  & button {
    border: none;

    background-color: var(--clr-bg-main);
    border: var(--border-thin);
    font: inherit;
    padding: var(--size-2);
  }

  & input {
    width: 100%;
    /* margin-block-end: var(--size-3); */
  }
}

@layer components {
  & .pagefind-ui__message {
    font-weight: var(--font-weight-7);
    font-size: var(--font-size-1);
    /* margin-block: var(--size-5); */

    @media (--md-n-below) {
      font-size: 1.25rem;
    }

    &::before {
      content: ">";
      font-family: monospace;
      /* margin-right: 1ch; */
      font-size: larger;
    }
  }

  & ol {
    & li {
      &::before {
        content: "";
      }

      & .pagefind-ui__result-title {
        font-family: var(--font-family-title);
        font-size: var(--font-size-3);

        & a {
          color: inherit;
        }
      }

      & .pagefind-ui__result-excerpt {
        /* margin-block-start: 0; */
        position: relative;

        &:before,
        &:after {
          content: "…";
        }
      }

      & + li {
        /* margin-block-start: var(--size-7); */
      }
    }
  }

  noscript {
    padding: 0.5rem 1rem;
    background-color: var(--background-color-alt);
    display: block;
    width: fit-content;
    max-width: 80%;
    margin-inline: auto;
  }
}
