.direct-link {
  opacity: 0;
  font-size: 0.75rem;
  color: var(--clr-primary-main);
  font-family: var(--font-family-body);
  font-style: normal;
  text-decoration: none;
}

h2:has(.direct-link):hover .direct-link,
h3:has(.direct-link):hover .direct-link,
h4:has(.direct-link):hover .direct-link {
  opacity: 1;
}

.main-article > nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.main-article > nav > * {
  width: max-content;
  min-width: fit-content;
  margin: 0;
}
