@import url("./layouts/two-column.css");

.article-list {
  display: flex;
  flex-direction: column;
  row-gap: var(--spc-gutter-lg);
}

.article-date {
  font-size: 0.7rem;
}

.article-body {
  display: flow-root;
}

.article-body img {
  max-width: min(10rem, 50%);
  object-fit: contain;
  object-position: top;
  float: left;
  margin-right: 1ch;
}

.article-body p {
  flex: 1;
  margin-block: 0;
  float: none;
}

nav.pagination {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

nav.pagination #button-next {
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: right;
}

nav.pagination #button-previous {
  grid-column-start: 1;
  grid-column-end: 2;
}
