.direct-link {
  opacity: 0;
  font-size: 0.75rem;
  color: var(--clr-primary-main);
  font-family: var(--font-family-body);
  font-style: normal;
  text-decoration: none;
}

h2:has(.direct-link):hover .direct-link,
h3:has(.direct-link):hover .direct-link,
h4:has(.direct-link):hover .direct-link {
  opacity: 1;
}

.nxt-btn {
  margin-right: auto;
}

.prev-btn {
  margin: 0;
  margin-left: auto;
}

article .splide img,
article .splide iframe {
  width: 100%;
  outline: 1px solid var(--clr-outline-main);
  margin-block: 0.5rem;
}

.post-date,
.post-stats,
.post-tags {
  display: inline-flex;
  font-size: smaller;
  margin: 0;
  padding: 0;
}

.post-subtitle .post-divider {
  margin-inline: calc(var(--line-height) / 2);
}

.post-tags {
  list-style: none;
  gap: 1ch;
}

.post-tags li {
  margin: 0;
}

.post-tags a {
  text-decoration-thickness: 1px;
}

.social-media {
  display: flex;
  column-gap: 1ch;
  margin-bottom: var(--line-height);

  & > * {
    margin: 0;
  }
}

svg + .share-buttons {
  margin-left: auto;
}

.share-button {
  text-decoration: none;
  margin-left: auto;
}

.post-footer {
  --footer-separation: calc(var(--line-height) * 1.5);

  margin-top: var(--footer-separation);
  border-top: var(--border-thickness) solid var(--text-color);

  & nav {
    display: flex;
    column-gap: var(--line-height);
    row-gap: calc(var(--line-height) / 2);

    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: var(--line-height);

    & p {
      margin-block: 0;
    }
  }
}

.webmentions {
  & .likes-and-reposts {
    & > ul {
      display: flex;
      list-style: none;
      padding: 0;

      & > li {
        width: fit-content;

        &:not(:first-of-type) {
          margin-left: -0.5rem;
        }

        & img {
          width: fit-content;
          border-radius: 100%;

          &[data-type="repost-of"] {
            outline: 2px solid var(--primary-color);
          }
          &[data-type="like-of"] {
            outline: 2px solid var(--secondary-color);
          }
        }
      }

      & > * {
        position: relative;
        margin: 0;
        width: fit-content;
      }
    }
  }
  & svg {
    margin: 0;
  }
}
