:root {
  --font-body: Consolas, monospace;
}

html[data-theme="default"],
html[data-theme="light"] {
  color-scheme: light;

  --clr-bg: #cccccc;
  --clr-bg-darker: #c4c4c4cc;
  --clr-text: #000;
}

html[data-theme="dark"] {
  color-scheme: dark;

  --clr-bg: #111111;
  --clr-text: #ccc;
  --clr-bg-darker: #1b1b1b;
}

body {
  background: var(--clr-bg);
}

header {
  max-width: min(100ch, calc(100% - 2rem));
  margin-inline: auto;
}

header a {
  text-decoration: none;
  color: var(--clr-text);

  font-size: min(1rem, 4vw);
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  width: 100%;
}

header nav a {
  text-decoration: none;
  font-family: var(--font-body);
  padding-inline: 0.5ch;
  padding-block: 0.25ch;
  font-size: 0.8rem;
  color: var(--clr-text);
}

header nav a[data-current="true"] {
  color: var(--clr-bg);
  background-color: var(--clr-text);
}

header .theme-button {
  all: unset;
  display: block;
  cursor: pointer;
  margin-inline: auto;
}

html[data-theme="light"] .theme-button[data-theme="light"] {
  display: none;
}

html[data-theme="dark"] .theme-button[data-theme="dark"] {
  display: none;
}

main {
  font-family: var(--font-body);
  color: var(--clr-text);
  text-align: left;
  font-size: 0.75rem;
  font-weight: 700;
  max-width: min(100ch, calc(100% - 2rem));
  margin-inline: auto;
}

#page-title pre {
  width: fit-content;
  margin-inline: auto;
}

@media only screen and (max-width: 768px) {
  #page-title .header-large {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  #page-title .header-small {
    display: none;
  }
}

.data-table td time {
  font-size: small;
  opacity: 0.85;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
}

.data-table tbody tr td:first-of-type {
  text-wrap: nowrap;
}

.data-table td:first-of-type:has(img) {
  width: 0;
  min-width: fit-content;
}

.data-table td {
  padding: 8px;
}

.data-table tbody tr:nth-child(2n + 1) {
  background-color: var(--clr-bg-darker);
}

@media only screen and (max-width: 768px) {
  .data-table td:first-of-type:has(img) {
    display: none;
  }
  .data-table tbody tr td {
    display: block;
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.share-button {
  color: var(--clr-text);
}

details summary {
  cursor: pointer;
}

details[open] summary {
  padding-bottom: 10px;
}