:root {
  --font-family: system-ui, sans-serif;
  --line-height: 1.2rem;
  --border-thickness: 2px;

  --font-weight-normal: 500;
  --font-weight-medium: 600;
  --font-weight-bold: 800;
  --font-size: 14px;

  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-weight: var(--font-weight-normal);
  font-style: normal;
  font-variant-numeric: tabular-nums lining-nums;
  font-size: var(--font-size);
}

* {
  box-sizing: border-box;
}

* + * {
  margin-top: var(--line-height);
}

html {
  display: flex;
  width: 100%;
  margin: 0;
  padding: 0;
  flex-direction: column;
  align-items: center;
  background: var(--background-color);
  color: var(--text-color);
}

body {
  position: relative;
  width: 100%;
  margin: 0;
  padding: var(--line-height) 2ch;
  max-width: var(--main-content-width);
  line-height: var(--line-height);
  overflow-x: hidden;
}

@media screen and (max-width: 480px) {
  :root {
    font-size: 14px;
  }
  body {
    padding: var(--line-height) 1ch;
  }
}

::-moz-selection {
  color: var(--background-color);
  background: var(--text-color);
}

::selection {
  color: var(--background-color);
  background: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-bold);
  line-height: var(--line-height);
  font-size: 1rem;
  text-transform: uppercase;
  background-color: var(--background-color-alt);
  padding: 0.5ch;
  color: var(--primary-color);
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
  content: "░";
  margin-right: 1ch;
}

@media screen and (max-width: 480px) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.25rem;
    padding: 1ch;
  }
}

hr {
  position: relative;
  display: block;
  height: var(--line-height);
  margin: calc(var(--line-height) * 1.5) 0;
  border: none;
  color: var(--text-color);
}

hr:after {
  display: block;
  content: "";
  position: absolute;
  top: calc(var(--line-height) / 2 - var(--border-thickness));
  left: 0;
  width: 100%;
  border-top: calc(var(--border-thickness) * 3) double var(--text-color);
  height: 0;
}

a:link,
a:visited {
  color: var(--secondary-color);
}

h1 > a:link,
h1 > a:visited,
h2 > a:link,
h2 > a:visited {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: var(--line-height);
}

strong {
  font-weight: var(--font-weight-bold);
  color: var(--tertiary-color);
}

em {
  font-style: italic;
}

sub {
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: sub;
  line-height: 0;
  width: calc(1ch / 0.75);
  font-size: 0.75rem;
}

table {
  position: relative;
  top: calc(var(--line-height) / 2);
  width: calc(round(down, 100%, 1ch));
  border-collapse: collapse;
  margin: 0 0 calc(var(--line-height) * 2);
}

th,
td {
  border: var(--border-thickness) solid var(--text-color);
  padding: calc((var(--line-height) / 2)) calc(1ch - var(--border-thickness) / 2)
    calc((var(--line-height) / 2) - (var(--border-thickness)));
  line-height: var(--line-height);
  vertical-align: top;
  text-align: left;
}

table tbody tr:first-child > * {
  padding-top: calc((var(--line-height) / 2) - var(--border-thickness));
}

th {
  font-weight: 700;
}

.width-min {
  width: 0%;
}

.width-auto {
  width: 100%;
}

p {
  word-break: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

img,
video {
  display: block;
  width: 100%;
  object-fit: contain;
  overflow: hidden;
}

img {
  font-style: italic;
  color: var(--text-color-alt);
}

details {
  border: var(--border-thickness) solid var(--text-color);
  padding: calc(var(--line-height) - var(--border-thickness)) 1ch;
  margin-bottom: var(--line-height);
}

summary {
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}

details[open] summary {
  margin-bottom: var(--line-height);
}

details ::marker {
  display: inline-block;
  content: "▶";
  margin: 0;
}
details[open] ::marker {
  content: "▼";
}

details :last-child {
  margin-bottom: 0;
}

pre {
  white-space: pre;
  overflow-x: auto;
  margin: var(--line-height) 0;
  overflow-y: hidden;
}

figure pre {
  margin: 0;
}

pre,
code {
  font-family: var(--font-family);
}

code {
  font-weight: var(--font-weight-medium);
}

figure {
  margin: calc(var(--line-height) * 2) 3ch;
  overflow-x: auto;
  overflow-y: hidden;
}

figcaption {
  display: block;
  font-style: italic;
  margin-top: var(--line-height);
}

ul,
ol {
  padding: 0;
  margin: 0 0 var(--line-height);
}

ul {
  list-style-type: square;
  padding: 0 0 0 2ch;
}
ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
}

ol ul,
ol ol,
ul ol,
ul ul {
  padding: 0 0 0 3ch;
  margin: 0;
}

ul.horizontal,
ol.horizontal {
  list-style-type: none;
  display: inline-flex;
  column-gap: var(--line-height);
  padding: 0;
  flex-wrap: wrap;
  margin-bottom: 0;
}

ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  font-weight: var(--font-weight-medium);
}

li {
  margin: 0;
  margin-block: calc(var(--line-height) / 2);
  padding: 0;
}

li::marker {
  line-height: 0;
}

::-webkit-scrollbar {
  height: var(--line-height);
}

ul.bar-separated,
ul.dot-separated {
  --bar-gap: 1ch;

  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

ul.bar-separated {
  justify-content: center;
}

ul.bar-separated > li {
  display: flex;
  align-items: center;
}

ul.bar-separated > li + li::before {
  content: "|";
  margin-left: var(--bar-gap);
  padding-right: var(--bar-gap);
}

ul.dot-separated > li + li::before {
  content: "•";
  padding-right: var(--bar-gap);
}

ul.horizontal.dot-separated,
ul.dot-separated ul {
  column-gap: var(--bar-gap);
  flex-wrap: nowrap;
  overflow-y: clip;
  text-overflow: ellipsis;
  align-items: start;
  width: fit-content;
}

ul.dot-separated ul {
  flex-wrap: wrap;
  max-height: 1lh;
}

.dot-separated li {
  white-space: nowrap;
  text-overflow: ellipsis;
}

fieldset {
  border: none;
  padding-inline: 0;
  padding-block: calc(var(--line-height) / 2);
}

input,
button,
textarea {
  border: var(--border-thickness) solid var(--text-color);
  padding: calc(var(--line-height) / 2 - var(--border-thickness)) calc(1ch - var(--border-thickness));
  margin: 0;
  font: inherit;
  font-weight: inherit;
  height: calc(var(--line-height) * 2);
  width: auto;
  overflow: visible;
  background: var(--background-color);
  color: var(--text-color);
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  -webkit-appearance: none;
}

select {
  border: var(--border-thickness) solid var(--text-color);
  padding: calc(var(--line-height) / 2 - var(--border-thickness)) calc(1ch - var(--border-thickness));
  font: inherit;
  font-weight: inherit;
  height: calc(var(--line-height) * 2);
  width: auto;
  background: var(--background-color);
  color: var(--text-color);
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline-grid;
  place-content: center;
  vertical-align: top;
  width: 2ch;
  height: var(--line-height);
  cursor: pointer;
}
input[type="checkbox"]:checked:before,
input[type="radio"]:checked:before {
  content: "";
  width: 1ch;
  height: calc(var(--line-height) / 2);
  background: var(--text-color);
}

button:focus,
input:focus {
  outline: none;
}

input {
  width: calc(round(down, 100%, 1ch));
}

::placeholder {
  color: var(--text-color-alt);
  opacity: 1;
}

::-ms-input-placeholder {
  color: var(--text-color-alt);
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

button {
  text-transform: uppercase;
  font-weight: var(--font-weight-medium);
  cursor: pointer;
}

button:hover {
  background: var(--background-color-alt);
}

button:active {
  transform: translate(2px, 2px);
}

label {
  display: block;
  width: calc(round(down, 100%, 1ch));
  height: auto;
  line-height: var(--line-height);
  font-weight: var(--font-weight-medium);
  margin: 0;
}

label input {
  width: 100%;
}

.tree,
.tree ul {
  position: relative;
  padding-left: 0;
  list-style-type: none;
  line-height: var(--line-height);
}

.tree ul {
  margin: 0;
}

.tree ul li {
  position: relative;
  padding-left: 1.5ch;
  margin-left: 1.5ch;
  border-left: var(--border-thickness) solid var(--text-color);
}

.tree ul li:before {
  position: absolute;
  display: block;
  top: calc(var(--line-height) / 2);
  left: 0;
  content: "";
  width: 1ch;
  border-bottom: var(--border-thickness) solid var(--text-color);
}

.tree ul li:last-child {
  border-left: none;
}

.tree ul li:last-child:after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  content: "";
  height: calc(var(--line-height) / 2);
  border-left: var(--border-thickness) solid var(--text-color);
}

.grid {
  --grid-cells: 0;
  display: flex;
  gap: 1ch;
  width: calc(round(down, 100%, (1ch * var(--grid-cells)) - (1ch * var(--grid-cells) - 1)));
  margin-bottom: var(--line-height);
}

.grid > *,
.grid > input {
  flex: 0 0 calc(round(down, (100% - (1ch * (var(--grid-cells) - 1))) / var(--grid-cells), 1ch));
}

.grid:has(> :last-child:nth-child(1)) {
  --grid-cells: 1;
}

.grid:has(> :last-child:nth-child(2)) {
  --grid-cells: 2;
}

.grid:has(> :last-child:nth-child(3)) {
  --grid-cells: 3;
}

.grid:has(> :last-child:nth-child(4)) {
  --grid-cells: 4;
}

.grid:has(> :last-child:nth-child(5)) {
  --grid-cells: 5;
}

.grid:has(> :last-child:nth-child(6)) {
  --grid-cells: 6;
}

.grid:has(> :last-child:nth-child(7)) {
  --grid-cells: 7;
}

.grid:has(> :last-child:nth-child(8)) {
  --grid-cells: 8;
}

.grid:has(> :last-child:nth-child(9)) {
  --grid-cells: 9;
}

td > * {
  min-width: fit-content;
}

.subtitle {
  font-size: 0.8rem;
}

td.fit {
  width: 0;
  min-width: fit-content;
}

td.no-wrap > * {
  text-wrap: nowrap;
}

.rss-icon {
  display: inline-block;
  vertical-align: middle;
  height: auto;
  width: auto;
}

em {
  color: var(--tertiary-color);
}

label:has(.theme-switcher) {
  width: fit-content;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.grid-list {
  display: grid;
  grid-template-columns: repeat(var(--column-amount), 1fr);
  column-gap: 1rem;
  row-gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-block: var(--line-height);

  & li {
    height: 100%;
    margin: 0;

    & article {
      position: relative;
      margin: 0;
      border: 1px solid var(--primary-color);
      border-radius: 4px;
      overflow: hidden;
      height: 100%;

      & figure {
        margin: 0;
        height: 100%;
        width: 100%;

        & img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }

        & figcaption {
          position: absolute;
          bottom: 0;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.75);
          text-align: center;
          padding: 0.125rem;
          font-style: normal;
          font-size: 0.85rem;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: clip;

          & a {
            text-decoration: none;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

.aspect-square,
.grid-col-4 figure {
  aspect-ratio: 1;
}

.aspect-landscape,
.grid-col-3 figure {
  aspect-ratio: 16 / 9;
}

.aspect-portrait,
.grid-col-5 figure {
  aspect-ratio: 9 / 16;
}

.grid-col-4 {
  --column-amount: 4;
}

.grid-col-5 {
  --column-amount: 5;
}

.grid-col-3 {
  --column-amount: 3;
}

.recent-activity {
  * {
    margin: 0;
  }

  h2 {
    margin-block: 1.5rem;
  }

  article {
    margin-block-end: 1.8rem;

    & h3 {
      line-height: 1.5;
      margin-block: 0.5ch;
    }

    & aside {
      font-size: 0.85rem;

      & .media-type {
        color: var(--tertiary-color);
      }
    }

    & ul > li {
      color: var(--primary-color);
      font-size: 0.85rem;
    }
  }
}
