@import url("./reset.css");

:root {
  color-scheme: light dark;

  /** Fonts */
  --font-family-body: "MS gothic", consolas, sans-serif;
  --font-family-heading: "Permanent Marker", cursive;

  /** Colors */
  --clr-primary-main: #008d78;
  --clr-secondary-main: #915768;
  --clr-outline-main: grey;
  --clr-bg-main: #fff6ef;
  --clr-font-main: #4f4f4f;

  /** Border radius*/
  --border-radius-sm: 2px;
  --border-radius-md: 4px;

  /** Spacing */
  --spc-gutter-sm: 0.25rem;
  --spc-gutter-md: 0.5rem;
  --spc-gutter-lg: 0.75rem;

  /** Images */
  --img-bg-main: url("/assets/images/textures/sky_dark.jpg");
}

@media (prefers-color-scheme: dark) {
  :root {
    /** Colors */
    --clr-primary-main: #11bfbc;
    --clr-secondary-main: #bc2464;
    --clr-outline-main: grey;
    --clr-bg-main: #0e0e0e;
    --clr-font-main: #e4e4e4;

  }
}

body {
  min-height: 100vh;
  min-height: 100svh;

  max-width: min(130ch, calc(100% - 2rem));
  margin: 0 auto;
  background-color: var(--clr-bg-main);
  background: var(--img-bg-main) repeat;
  font-family: var(--font-family-body);
  font-size: 0.95rem;
  color: var(--clr-font-main);

  grid-template-rows: 175px 1fr auto;
  column-gap: var(--spc-gutter-md);
}

body > .main-content,
body > .left-sidebar,
body > .right-sidebar,
body > footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spc-gutter-lg);
  margin-top: var(--spc-gutter-md);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-heading);
  font-style: italic;
}

blockquote {
  font-style: italic;
  font-size: 0.8rem;
}

a[href] {
  text-decoration: none;
  color: var(--clr-primary-main);
}

a[href]:hover,
a[href]:focus {
  text-decoration: underline var(--clr-primary-main) dashed;
}

/** HEADER */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  border-radius: var(--border-radius-md);
  overflow: hidden;
}

.header > hgroup {
  border-radius: var(--border-radius-md);
  background: url("/assets/images/textures/descarga.png");
  background-repeat: no-repeat;
  background-size: contain cover;
  background-position: center -860px;

  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: end;

  border: 1px solid var(--clr-outline-main);
  padding: 0.1rem 0.3rem;
}

.header > hgroup > * {
  padding: 0;
  margin: 0;
  font-family: var(--font-family-body);
  font-style: normal;
}

.header > .badge-list {
  padding-top: var(--spc-gutter-md);
}

.header > .navigation-links {
  position: absolute;
  top: 1ch;
  left: 1ch;

  transform: translateX(-200%);
  transition: transform 200ms ease-in-out;
}

.header > .navigation-links:focus,
.navigation-links:focus-within {
  transform: translateX(0%);
}

/** WINDOW STYLING */
.window {
  position: relative;
  border: 1px solid var(--clr-outline-main);
  border-radius: var(--border-radius-sm);
  background-color: var(--clr-bg-main);
  width: 100%;
  padding: 0.75rem;
}

.window::before {
  content: "";
  position: absolute;
  inset: 4px;
  border: 1px solid var(--clr-outline-main);
  border-radius: var(--border-radius-sm);
  pointer-events: none;
}

.window > h2 {
  position: absolute;
  margin: 0;
  top: -1px;
  left: 0.5ch;
  font-size: 1rem;
  text-transform: uppercase;
  color: var(--clr-primary-main);
  height: 8px;
  width: fit-content;
  padding-inline: 2px;
  line-height: 0;
  background: var(--clr-bg-main);
  background-size: 2px;
  font-weight: 400;
}

.window > .window-body > *:first-of-type {
  margin-top: 0px;
  padding-top: 0px;
}

/** UTILITIES */
.list-nopadding {
  padding: 0;
  margin: 0;
}

.arrow-list {
  margin-left: 1ch;
}

.arrow-list > li {
  padding-left: 1ch;
}

.arrow-list > li::marker {
  content: "▶";
}

.arrow-list > li:has(a)::marker {
  content: "";
}

.arrow-list > li:has(a:hover)::marker {
  content: "▶";
}

.horizontal-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
}

.list-unstyled {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dash-separated > * {
  padding-block: 0.3rem;
}

.dash-separated > *:not(:last-child) {
  border-bottom: 1px dashed var(--clr-outline-main);
}

.float-img-container {
  display: flow-root;
}

.float-img-container > img:first-of-type {
  float: left;
  margin-right: 0.75rem;
  max-width: 100px;
}

.float-img-container > p:first-of-type {
  margin-top: 0;
}

.float-img-container > p:last-of-type {
  margin-bottom: 0;
}

ul.list-unstyled ul {
  padding-left: 0px;
}

.subtitle {
  opacity: 0.5;
  font-size: 0.55rem;
}

.badge-list {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.25rem;
}

.mt-md {
  margin-top: var(--spc-gutter-md);
}

.mt-lg {
  margin-top: var(--spc-gutter-lg);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/** ANIMATIONS */
@keyframes flicker {
  0%,
  18%,
  22%,
  25%,
  53%,
  57%,
  100% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 14px var(--shadow-clr), 0 0 18px var(--shadow-clr),
      0 0 24px var(--shadow-clr);
  }
  20%,
  24%,
  55% {
    text-shadow: none;
  }
}

/* COMPONENTS */
#about-me-img {
  border: 1px solid var(--clr-outline-main);
  border-radius: 3px;
}
