main {
  --chat-height: 65vh;
  min-height: var(--chat-height);
  height: 100%;
}

#chattable {
  width: 100%;
  border: none;
  height: var(--chat-height);
  display: none;
}

noscript {
  padding: 0.5rem 1rem;
  background-color: var(--background-color-alt);
  display: block;
  width: fit-content;
  max-width: 80%;
  margin-inline: auto;
}
