main {
  min-height: 55vh;
  height: 100%;
}

#chattable {
  width: 100%;
  border: none;
  min-height: 55vh;
  display: none;
  height: 100%;
}

noscript {
  padding: 0.5rem 1rem;
  background-color: var(--background-color-alt);
  display: block;
  width: fit-content;
  max-width: 80%;
  margin-inline: auto;
}
