@import url("./layouts/golden.css");

/* body {
  position: relative;
}

body::before, body::after {
  --shadow-clr: var(--clr-secondary-main);
  position: absolute;
  top: 1ch;
  text-orientation: upright;
  writing-mode: vertical-rl;
  
  font-size: 1.8rem;
  font-weight: 800;
  
  text-shadow: 
    var(--clr-secondary-main) 0px 0px 24px, 
    var(--clr-secondary-main) 0px 0px 18px,
    var(--clr-secondary-main) 0px 0px 14px, 
    white 0px 0px 4px, 
    white 0px 0px 2px, 
    white 0px 0px 2px;
  
  animation: flicker 1.5s infinite;
}

body::after {
  content: "ケツイ";
  left: -1.65ch;

}

body::before {
  content: "プレイしてくれてありがとうございます";
  right: -1.65ch;
} */

/** GAME OF THE DAY */
#game-of-the-day {
  display: flex;
  align-items: center;
  gap: 1ch;
  width: 100%;
}

#game-of-the-day > img {
  border-radius: var(--border-radius-sm);
  max-width: 50px;
}

#game-of-the-day > * > p {
  margin: 0;
  font-style: italic;
}
