.item-list li:has(.thumbnail) {
  display: grid;
  grid-template-columns: 100px 1fr;
  gap: var(--line-height);
}

.item-list .thumbnail {
  max-width: 100px;
  width: 100%;
  object-fit: cover;
}

.item-list div {
  margin-top: 0;
}