section {
  & footer {
    font-size: smaller;

    & p {
      margin-bottom: 0;
    }
  }
}

.item-list li:has(.thumbnail) {
  --thumbnail-size: 48px;
  display: grid;
  grid-template-columns: var(--thumbnail-size) 1fr;
  gap: calc(var(--line-height) / 2);
}

h2#recent-games > a,
h2#recent-shows > a,
h2#recent-movies > a,
h2#recent-manga > a {
  color: inherit;
}

.item-list .thumbnail {
  max-width: var(--thumbnail-size);
  width: 100%;
  object-fit: cover;
}

.item-list div {
  margin-top: 0;
}

.item-list hgroup {
  display: flex;
  column-gap: calc(var(--line-height) / 2);
}

.item-list div > p {
  margin-block: calc(var(--line-height) / 2);
}

.post-date,
.post-stats,
.post-tags {
  display: inline-flex;
  font-size: smaller;
  margin: 0;
  padding: 0;
}

.post-subtitle .post-divider {
  margin-inline: calc(var(--line-height) / 2);
}

.post-tags {
  list-style: none;
  gap: 1ch;
}

.post-tags li {
  margin: 0;
}

.post-tags a {
  text-decoration-thickness: 1px;
}

article#current-status {
  position: relative;
  padding-left: var(--line-height);

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & time {
      color: var(--text-color-alt);
      margin: 0;
      font-size: smaller;
    }

    & > * {
      margin-block: 0 calc(var(--line-height) / 2);
    }
  }
  .subtitle {
    font-size: smaller;
    margin: 0;
    padding: 0;
    justify-content: start;

    & > li {
      margin-block: 0;
    }
  }

  &::before {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 1ch;
    background-color: var(--background-color-alt);
  }
}
