/* #region Font families theme settings */

html:not([data-font-stack]), /** If there is no selected font */
html[data-font-stack="system-ui"],
.font-system-ui {
  --font-family: system-ui, sans-serif;
}

html[data-font-stack="transitional"],
.font-transitional {
  --font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

html[data-font-stack="old-style"],
.font-old-style {
  --font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052, serif;
}

html[data-font-stack="humanist"],
.font-humanist {
  --font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans", source-sans-pro, sans-serif;
}

html[data-font-stack="geometric-humanist"],
.font-geometric-humanist {
  --font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro, sans-serif;
}

html[data-font-stack="classical-humanist"],
.font-classical-humanist {
  --font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
}

html[data-font-stack="neo-grotesque"],
.font-neo-grotesque {
  --font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans", Arial, sans-serif;
}

html[data-font-stack="monospace-slab-serif"],
.font-monospace-slab-serif {
  --font-family: "Nimbus Mono PS", "Courier New", monospace;
}

html[data-font-stack="monospace-code"],
.font-monospace-code {
  --font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo, Consolas, "DejaVu Sans Mono", monospace;
}

html[data-font-stack="industrial"],
.font-industrial {
  --font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium", "Nimbus Sans Narrow", sans-serif-condensed,
    sans-serif;
}

html[data-font-stack="rounded-sans"],
.font-rounded-sans {
  --font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT",
    "Arial Rounded MT Bold", Calibri, source-sans-pro, sans-serif;
}

html[data-font-stack="slab-serif"],
.font-slab-serif {
  --font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif", "Sitka Small", serif;
}

html[data-font-stack="antique"],
.font-antique {
  --font-family: Superclarendon, "Bookman Old Style", "URW Bookman", "URW Bookman L", "Georgia Pro", Georgia, serif;
}

html[data-font-stack="didone"],
.font-didone {
  --font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L", P052, Sylfaen, serif;
}

html[data-font-stack="handwritten"],
.font-handwritten {
  --font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual, cursive;
}

/* #endregion */

/* #region Font sizes theme settings */

html[data-font-size="small"] {
  --font-size: 14px;
}

html:not([data-font-size]),
html[data-font-size="standard"] {
  --font-size: 16px;
}

html[data-font-size="large"] {
  --font-size: 18px;
}

/* #endregion */

/* #region Color theme settings */

html:not([data-theme]),
html[data-theme=""],
html[data-theme="grayscale"] {
  color-scheme: light;
  --text-color: #343131;
  --text-color-alt: #666;
  --background-color: #f8f2e4;
  --background-color-alt: #f6cab1;
  --primary-color: #6d655f;
  --secondary-color: #a11e1a;
  --tertiary-color: #b35e15;
}

html[data-theme="cherry-blosom"] {
  color-scheme: light;
  --text-color: #113d6a;
  --text-color-alt: #a70355;
  --background-color: #eddad1;
  --background-color-alt: #ab3c61;
  --primary-color: #eddad1;
  --secondary-color: #ab3c61;
  --tertiary-color: #d60076;
}

html[data-theme="dark-blue"] {
  color-scheme: dark;
  --text-color: #bfbfbf;
  --text-color-alt: #bfbfbfa6;
  --background-color: #1a2735;
  --background-color-alt: #25323f;
  --primary-color: #37c3b7;
  --secondary-color: #fbbc55;
  --tertiary-color: #ff4680;
}

html[data-theme="dark-grayscale"] {
  color-scheme: dark;
  --text-color: #c5c8c6;
  --text-color-alt: #666;
  --background-color: #1d1f21;
  --background-color-alt: #2c2f34;
  --primary-color: #81a2be;
  --secondary-color: #de935f;
  --tertiary-color: #b5bd68;
}

html[data-theme="halloween"] {
  color-scheme: dark;
  --text-color: #e6e6e6;
  --text-color-alt: #666;
  --background-color: #2b2833;
  --background-color-alt: #423f48;
  --primary-color: #e19157;
  --secondary-color: #e19157;
  --tertiary-color: #e19157;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]),
  html[data-theme=""] {
    color-scheme: dark;
    --text-color: #bfbfbf;
    --text-color-alt: #bfbfbfa6;
    --background-color: #1a2735;
    --background-color-alt: #25323f;
    --primary-color: #37c3b7;
    --secondary-color: #fbbc55;
    --tertiary-color: #ff4680;
  }
}
/* #endregion */

/* #region Layout content width settings */

html:not([data-content-width]),
html[data-content-width="standard"] {
  --main-content-width: calc(min(90ch, round(down, 100vw, 1ch)));
}

html[data-content-width="wide"] {
  --main-content-width: calc(min(130ch, round(down, 100vw, 1ch)));
}

/* #endregion */

/* #region Background pattern */
html:not([data-background]),
html[data-backgroun="flat"] {
  background-image: none;
}

html[data-background="bricks"] {
  --s: 50px; /* control the size*/
  --c1: hsl(from var(--background-color) h s calc(l - 2.5));
  --c2: var(--background-color);

  &[data-theme="cherry-blosom"] {
    --c1: #d899ad;
  }

  --c: #0000 75%, var(--c1) 0;
  --g1: conic-gradient(at 78% 3%, var(--c));
  --g2: conic-gradient(at 3% 78%, var(--c));

  background: var(--g1), var(--g1) var(--s) var(--s), var(--g1) calc(2 * var(--s)) calc(2 * var(--s)),
    var(--g1) calc(3 * var(--s)) calc(3 * var(--s)), var(--g2) 0 calc(3 * var(--s)), var(--g2) var(--s) 0,
    var(--g2) calc(2 * var(--s)) var(--s), var(--g2) calc(3 * var(--s)) calc(2 * var(--s)) var(--c2);
  background-size: calc(4 * var(--s)) calc(4 * var(--s));

  & > body {
    outline: 6px solid var(--c1);
  }
}

html[data-background="alien"] {
  --s: 120px; /* control the size*/
  --c1: var(--background-color);
  --c2: hsl(from var(--background-color) h s calc(l - 2.5));

  &[data-theme="cherry-blosom"] {
    --c2: #d899ad;
  }

  background: radial-gradient(var(--c1) 14%, var(--c2) 15% 30%, var(--c1) 31% 44%, var(--c2) 45% 60%, #0000 61%),
    linear-gradient(45deg, #0000 46%, var(--c2) 0 54%, #0000 0),
    linear-gradient(-45deg, #0000 46%, var(--c2) 0 54%, #0000 0) var(--c1);
  background-size: var(--s) var(--s) !important;

  & > body {
    outline: 12px solid var(--c2);
  }
}

html[data-background="darker"] {
  background-color: hsl(from var(--background-color) h s calc(l - 2.5));
}

html[data-background="street"] {
  --s: 100px; /* control the size*/
  --c1: var(--background-color);
  --c2: hsl(from var(--background-color) h s calc(l - 2.5));

  --_s: calc(2 * var(--s)) calc(2 * var(--s));
  --_g: var(--_s) conic-gradient(at 40% 40%, #0000 75%, var(--c1) 0);
  --_p: var(--_s) conic-gradient(at 20% 20%, #0000 75%, var(--c2) 0);
  background: calc(0.9 * var(--s)) calc(0.9 * var(--s)) / var(--_p),
    calc(-0.1 * var(--s)) calc(-0.1 * var(--s)) / var(--_p), calc(0.7 * var(--s)) calc(0.7 * var(--s)) / var(--_g),
    calc(-0.3 * var(--s)) calc(-0.3 * var(--s)) / var(--_g),
    conic-gradient(from 90deg at 20% 20%, var(--c2) 25%, var(--c1) 0) 0 0 / var(--s) var(--s);

  & > body {
    outline: 12px solid var(--c2);
  }
}

html[data-background="circuit"] {
  --s: 60px; /* control the size*/
  --c1: var(--background-color);
  --c2: hsl(from var(--background-color) h s calc(l - 2.5));

  --c: #0000 71%, var(--c1) 0 79%, #0000 0;
  --_s: calc(var(--s) / 2) / calc(2 * var(--s)) calc(2 * var(--s));
  background: linear-gradient(45deg, var(--c)) calc(var(--s) / -2) var(--_s),
    linear-gradient(135deg, var(--c)) calc(var(--s) / 2) var(--_s),
    radial-gradient(var(--c1) 35%, var(--c2) 37%) 0 0 / var(--s) var(--s);

  & > body {
    outline: 12px solid var(--c2);
  }
}
/* #endregion */
