/* #region Font families theme settings */

html:not([data-font-stack]), /** If there is no selected font */
html[data-font-stack="system-ui"] {
  --font-family: system-ui, sans-serif;
}

html[data-font-stack="transitional"] {
  --font-family: Charter, "Bitstream Charter", "Sitka Text", Cambria, serif;
}

html[data-font-stack="old-style"] {
  --font-family: "Iowan Old Style", "Palatino Linotype", "URW Palladio L", P052,
    serif;
}

html[data-font-stack="humanist"] {
  --font-family: Seravek, "Gill Sans Nova", Ubuntu, Calibri, "DejaVu Sans",
    source-sans-pro, sans-serif;
}

html[data-font-stack="geometric-humanist"] {
  --font-family: Avenir, Montserrat, Corbel, "URW Gothic", source-sans-pro,
    sans-serif;
}

html[data-font-stack="classical-humanist"] {
  --font-family: Optima, Candara, "Noto Sans", source-sans-pro, sans-serif;
}

html[data-font-stack="neo-grotesque"] {
  --font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif;
}

html[data-font-stack="monospace-slab-serif"] {
  --font-family: "Nimbus Mono PS", "Courier New", monospace;
}

html[data-font-stack="monospace-code"] {
  --font-family: ui-monospace, "Cascadia Code", "Source Code Pro", Menlo,
    Consolas, "DejaVu Sans Mono", monospace;
}

html[data-font-stack="industrial"] {
  --font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
    "Nimbus Sans Narrow", sans-serif-condensed, sans-serif;
}

html[data-font-stack="rounded-sans"] {
  --font-family: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
}

html[data-font-stack="slab-serif"] {
  --font-family: Rockwell, "Rockwell Nova", "Roboto Slab", "DejaVu Serif",
    "Sitka Small", serif;
}

html[data-font-stack="antique"] {
  --font-family: Superclarendon, "Bookman Old Style", "URW Bookman",
    "URW Bookman L", "Georgia Pro", Georgia, serif;
}

html[data-font-stack="didone"] {
  --font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",
    P052, Sylfaen, serif;
}

html[data-font-stack="handwritten"] {
  --font-family: "Segoe Print", "Bradley Hand", Chilanka, TSCu_Comic, casual,
    cursive;
}

/* #endregion */

/* #region Font sizes theme settings */

html[data-font-size="small"] {
  --font-size: 14px;
}

html:not([data-font-size]),
html[data-font-size="standard"] {
  --font-size: 16px;
}

html[data-font-size="large"] {
  --font-size: 18px;
}

/* #endregion */

/* #region Color theme settings */

html, /* If there's no color theme selected */
html[data-theme="grayscale"] {
  color-scheme: light;
  --text-color: #343131;
  --text-color-alt: #666;
  --background-color: #f8f2e4;
  --background-color-alt: #f6cab1;
  --primary-color: #6d655f;
  --secondary-color: #a11e1a;
  --tertiary-color: #b35e15;
}

html[data-theme="cherry-blosom"] {
  color-scheme: light;
  --text-color: #113d6a;
  --text-color-alt: #a70355;
  --background-color: #eddad1;
  --background-color-alt: #ab3c61;
  --primary-color: #eddad1;
  --secondary-color: #ab3c61;
  --tertiary-color: #d60076;
}

html[data-theme="dark-blue"] {
  color-scheme: dark;
  --text-color: #faf8cd;
  --text-color-alt: #909a90;
  --background-color: #263b53;
  --background-color-alt: #3b5069;
  --primary-color: #fbbc55;
  --secondary-color: #37c3b7;
  --tertiary-color: #ff4680;
}

html[data-theme="dark-grayscale"] {
  color-scheme: dark;
  --text-color: #c5c8c6;
  --text-color-alt: #666;
  --background-color: #1d1f21;
  --background-color-alt: #373b41;
  --primary-color: #81a2be;
  --secondary-color: #de935f;
  --tertiary-color: #b5bd68;
}

@media (prefers-color-scheme: dark) {
  html:not([data-theme]) {
    color-scheme: dark;
    --text-color: #c5c8c6;
    --text-color-alt: #666;
    --background-color: #1d1f21;
    --background-color-alt: #373b41;
    --primary-color: #81a2be;
    --secondary-color: #de935f;
    --tertiary-color: #b5bd68;
  }
}
/* #endregion */

/* #region Layout content width settings */

html:not([data-content-width]),
html[data-content-width="standard"] {
  --main-content-width: calc(min(80ch, round(down, 100%, 1ch)));
}

html[data-content-width="wide"] {
  --main-content-width: calc(min(120ch, round(down, 100%, 1ch)));
}

/* #endregion */
