@import "./lib/fonts.openprops.css";
@import "./lib/sizes.openprops.css";
@import "./lib/borders.openprops.css";

:root {
  color-scheme: dark;

  /* Colors */
  --clr-bg-main: #101010;
  --clr-text-main: #efefef;
  --clr-text-faint-1: hsl(from var(--clr-text-main) h s l / 0.6);
  --clr-text-faint-2: hsl(from var(--clr-text-main) h s l / 0.2);
  --clr-accent-primary: #c4b5fd;
  --clr-accent-secondary: #fde047;
  --clr-border-main: light-dark(#302f2c, #dedec0);

  /* Fonts  */
  --font-patrick-hand: PatrickHandSC, var(--font-handwritten);
  --font-gochi-hand: GochiHand, var(--font-handwritten);

  --font-family-main: var(--font-mono);
  --font-family-title: var(--font-patrick-hand);
  --font-family-site-title: var(--font-mansalva);
  --font-accent: var(--font-patrick-hand);

  /* Sizing */
  --sizing-main-content: calc(min(100ch, round(down, 100vw, 1ch)));

  /* Border */
  --border-thin: var(--border-size-1) solid var(--clr-border-main);
  --border-base: var(--border-size-2) solid var(--clr-border-main);
  --border-thick: var(--border-size-3) solid var(--clr-border-main);

  /* Layout */
  --main-grid-template-columns: minmax(1em, 1fr) [main] minmax(10em, 40em) minmax(1em, 1fr);
  --spacing-main: var(--size-7);
  --spacing-tight: calc(var(--spacing-main) * 0.5);
  --spacing-loose: calc(var(--spacing-main) * 1.5);
}

@font-face {
  font-family: PatrickHandSC;
  src: url("/assets/fonts/PatrickHandSC-Regular.subset.ttf") format("truetype");
}

@font-face {
  font-family: GochiHand;
  src: url("/assets/fonts/GochiHand-Regular.subset.ttf") format("truetype");
}
