---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: /tags/{{tag}}.html
layout: layouts/articles.html
eleventyComputed:
  title: tagged "{{ tag | unslugify }}"
---

{% include "pages/articles-tags.html" %}