---
layout: layouts/home.html
title: kulugary
---

{% include "components/header.html" %}

<main>
  <p>Hello, I'm Gary.</p>

  <p>
    I'm a professional <strong>web developer</strong>, self-taught <strong>game designer</strong> and amateur
    <strong>artist</strong>. I've been an avid <strong>gamer</strong> since I was very young, and I have a soft spot for
    retro and indie games.
  </p>

  <p>
    This is my little corner of the web I've made to host <strong>my stuff</strong> away from social media and
    third-party platforms.
  </p>

  <h2 class="toc-title">Sitemap</h2>

  <ul>
    <li>
      <a href="/articles">/articles</a>
      <p>
        From time to time I write some articles, tutorials or essays on the longer side. These tend to be more
        informative and / or educative.
      </p>
    </li>
    <li>
      <a href="/bulletin-board">/bulletin-board</a>
      <p>
        Short-form posts about what's going on with me at the moment. They tend to be more bite-sized, and updated more
        often.
      </p>
    </li>
    <li>
      <a href="/now">/now</a>
      <p>A now page that also serves as a backlog of whatever I'm currently into or I've been into in the past.</p>
    </li>
    <li>
      <a href="/cool-sites">/cool-sites</a>
      <p>A non-exhaustive list of cool sites I've found while perusing the web. Very random selection of subjects.</p>
    </li>
    <li>
      <a href="/apps">/apps</a>
      <p>Some useful apps I'm either actively using or I feel comfortable recommending.</p>
    </li>
    <li>
      <a href="/quizzes">/quizzes</a>
      <p>I like quizzes. Sometimes, I find the results interesting and want to preserve them for posterity.</p>
    </li>
    <li>
      <a href="/old-stuff">/old-stuff</a>
      <p>
        The bottom of the barrel of my content. This is some of my oldest stuff available online, and most of it is in
        <em>spanish</em>, but you can check it out if you want.
      </p>
    </li>
  </ul>
</main>

{% include "components/footer.html" %}