---
title: old stuff
layout: layouts/old-stuff.html
---

{% include "components/header.html" %}

<main>
  <p>This is some of the earliest stuff I've shared on the Internet. In here you can find a lot of abandoned and / or shelved stuff I've done or attempted in the past.</p>

  <p>You can find stuff as old as 2010 and as recent as a few months ago.</p>

  <p>By the nature of it, a lot of the content here is in <b>spanish</b>, and I cannot promise the links will stay up indefinetely.</p>

  {% for category in oldstuff %}
    <section>
      <h2>{{ category.title }}</h2>
      <p>{{ category.description }}</p>

      <ul>
        {% for item in category.children %}
          <li>
            {{ item.date }}: <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </section>
  {% endfor %}
</main>

{% include "components/footer.html" %}