<div class="window">
  <h2>About me</h2>

  <div class="window-body float-img-container">
    <img id="about-me-img" src="./assets/images/cap.png" alt="A low-res white baseball cap hanging form an unidentified object." />

    <p>Hello, I'm Gary.</p>
    <p>I'm a professional web developer, self-taught game designer and amateur artist.</p>
    <p>
      I'm an avid gamer, and I specially like retro and indie games. I have an affinity for old-school technology, "the
      old web", and the y2k aesthetic.
    </p>
  </div>
</div>
