<div class="window">
  <h2>About this site</h2>

  <div class="window-body">
    <p>
      This is my little corner of the web I've made to host my stuff away from social media and third-party platforms.
    </p>

    <p>Better said by <a href="">32bit cafe</a>:</p>

    <blockquote cite="https://32bit.cafe/mission/">
      We do believe in the
      <a href="https://cheapskatesguide.org/articles/small-internet.html" target="_new">small internet</a>, the
      <a href="https://smallweb.page" target="_new">small web</a>, the
      <a href="https://www.slowweb.io/" target="_new">slow web</a>, the personal web, the anti-corporate web: whatever
      you want to call it, it's grassroots and it's been steadily growing since even before the global pandemic in 2020.
      We want to stop depending on corporations for everything when it comes to our web services, and we want to help
      promote building more infrastructure to the internet as a whole. We want more people to build websites for
      <em>fun</em>, not just to make money. Everyone benefits from an open, free internet, and that includes more
      self-expression that isn't on social media platforms.
    </blockquote>
    <p>
      Here's what you can expect to see here:
    </p>

    <ul>
      <li><a href="/my-articles">Stuff I've written about a variety of topics.</a></li>
      <li><a href="/the-shelf">Media I'm currently engaged with or I've been in the past.</a></li>
      <li><a href="/the-gallery">Bite size posts about random stuff.</a></li>
    </ul>
  </div>
</div>