<div class="window">
  <h2>About me</h2>

  <div class="window-body float-img-container">
    <img id="about-me-img" src="./assets/images/cap.png" alt="A low-res white baseball cap hanging form an unidentified object."/>

    <p>Hello, I'm Gary.</p>

    <p>I'm a professional web developer, self-taught game designer and amateur artist. I've been an avid gamer since I was very young, and I have a soft spot for retro and indie games.</p>

    <p>If you wanna know more about what I'm up to, you can check out my <a href="/the-shelf">Now Page</a>. </p>

    <p>If you want to know more about me through the lens of quizzes that cater to my interests, <a href="/quizzes">I have a page for that</a>.</p>
  </div>
</div>